.apps2 {
  letter-spacing: 0.00px;
  line-height: 20px;
  min-height: 20px;
  white-space: nowrap;
  width: 67px;
}
.basic2 {
  letter-spacing: 0.00px;
  line-height: 24px;
  min-height: 24px;
  white-space: nowrap;
}
.body2 {
  height: 1533px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1280px;
}
.casey-horner-4r-l-cs-unsplash-1 {
  height: 720px;
  width: 1280px;
}
.choose-your-plan2 {
  letter-spacing: 0.00px;
  line-height: 24px;
  margin-bottom: -23px;
  min-height: 24px;
  text-align: center;
  white-space: nowrap;
  width: 144px;
}
.colorlogotransparent-3 {
  height: 65px;
  margin-top: 3px;
  object-fit: cover;
  width: 94px;
}
.essential2 {
  letter-spacing: 0.00px;
  line-height: 24px;
  min-height: 24px;
  white-space: nowrap;
}
.feature-by2 {
  letter-spacing: 0.00px;
  line-height: 20px;
  margin-bottom: -19px;
  min-height: 20px;
  white-space: nowrap;
  width: 78px;
}
.footer9 {
  align-items: flex-start;
  background-color: var(--mine-shaft);
  display: flex;
  height: 61px;
  left: 0px;
  position: absolute;
  top: 153px;
  width: 1280px;
}
.frame-102 {
  align-items: flex-end;
  display: flex;
  height: 40px;
  min-width: 252px;
}
.frame-111 {
  align-items: center;
  display: flex;
  height: 90px;
  margin-left: 170px;
  padding: 0 14px;
  position: relative;
  width: 276px;
}
.frame-112 {
  align-items: flex-end;
  display: flex;
  height: 40px;
  margin-top: 16px;
  min-width: 252px;
}
.frame-122 {
  align-items: flex-start;
  display: flex;
  height: 45px;
  left: 0px;
  min-width: 1212px;
  position: absolute;
  top: 0px;
}
.frame-133 {
  align-items: flex-end;
  background-color: var(--alabaster);
  display: flex;
  height: 45px;
  min-width: 1212px;
  padding: 12px 25.6px;
}
.frame-143 {
  align-items: flex-start;
  display: flex;
  height: 61px;
  left: 0px;
  min-width: 1212px;
  position: absolute;
  top: 0px;
}
.frame-153 {
  align-items: flex-end;
  display: flex;
  height: 61px;
  min-width: 303px;
  padding: 20px 24.5px;
  position: relative;
}
.frame-163 {
  align-items: flex-start;
  display: flex;
  height: 20px;
  min-width: 252px;
}
.frame-172 {
  align-items: flex-start;
  display: flex;
  height: 41px;
  left: 0px;
  min-width: 1212px;
  position: absolute;
  top: 0px;
}
.frame-182 {
  align-items: flex-start;
  display: flex;
  height: 41px;
  min-width: 303px;
  padding: 2px 24.5px;
}
.frame-192 {
  align-items: flex-end;
  display: flex;
  height: 1px;
  overflow: hidden;
  width: 1px;
}
.frame-202 {
  align-items: flex-start;
  display: flex;
  height: 17px;
  margin-top: 2px;
  min-width: 39px;
}
.frame-213 {
  align-items: flex-end;
  display: flex;
  height: 1px;
  left: 0px;
  overflow: hidden;
  position: absolute;
  top: 40px;
  width: 1px;
}
.frame-223 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  min-height: 1132px;
  position: relative;
  width: 1212px;
}
.frame-232 {
  align-items: flex-start;
  display: flex;
  height: 225px;
  left: 0px;
  min-width: 1212px;
  position: absolute;
  top: 0px;
}
.frame-242 {
  align-items: flex-start;
  display: flex;
  height: 225px;
  min-width: 303px;
  padding: 33px 25.6px;
}
.frame-252 {
  align-items: flex-start;
  display: flex;
  height: 44px;
  margin-bottom: -2px;
  min-width: 52px;
}
.frame-262 {
  align-items: flex-start;
  display: flex;
  height: 20px;
  margin-bottom: 3px;
  margin-left: 12px;
  min-width: 54px;
}
.frame-272 {
  height: 40px;
  position: relative;
  width: 252px;
}
.frame-282 {
  align-items: flex-end;
  display: flex;
  height: 44px;
  left: 0px;
  min-width: 78px;
  position: absolute;
  top: -2px;
}
.frame-292 {
  align-items: flex-end;
  display: flex;
  height: 225px;
  min-width: 303px;
  padding: 32px 25.6px;
}
.frame-302 {
  align-items: flex-start;
  display: flex;
  height: 44px;
  margin-bottom: -2px;
  min-width: 78px;
}
.frame-312 {
  align-items: flex-start;
  display: flex;
  height: 20px;
  margin-bottom: 2px;
  margin-left: 16px;
  min-width: 32px;
}
.frame-322 {
  align-items: flex-end;
  display: flex;
  height: 61px;
  min-width: 303px;
  padding: 20px 24.5px;
}
.frame-332 {
  align-items: flex-end;
  display: flex;
  height: 61px;
  justify-content: flex-end;
  min-width: 303px;
  padding: 20px 25.6px;
}
.frame-342 {
  align-items: flex-end;
  display: flex;
  height: 61px;
  min-width: 303px;
  padding: 20px 25.6px;
}
.frame-352 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  min-height: 60px;
  width: 1212px;
}
.frame-362 {
  align-items: flex-end;
  display: flex;
  height: 1px;
  margin-left: -1px;
  overflow: hidden;
  width: 1px;
}
.frame-372 {
  align-items: flex-end;
  display: flex;
  height: 60px;
  justify-content: flex-end;
  margin-left: 302px;
  min-width: 303px;
  padding: 1px 25.6px;
  position: relative;
}
.frame-382 {
  align-items: flex-end;
  display: flex;
  height: 60px;
  justify-content: flex-end;
  min-width: 303px;
  padding: 1px 25.6px;
  position: relative;
}
.frame-392 {
  align-items: flex-end;
  display: flex;
  height: 60px;
  min-width: 303px;
  padding: 1px 25.6px;
  position: relative;
}
.frame-62 {
  align-items: flex-start;
  display: flex;
  min-width: 1212px;
}
.frame-72 {
  align-items: flex-start;
  display: flex;
  height: 41px;
  min-width: 303px;
  padding: 1px 25.6px;
}
.frame-82 {
  align-items: flex-end;
  display: flex;
  height: 225px;
  justify-content: flex-end;
  min-width: 303px;
  padding: 32px 25.6px;
}
.frame-92 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  min-height: 160px;
  position: relative;
  width: 252px;
}
.frame11 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  min-height: 1233px;
  width: 1212px;
}
.hardware3 {
  letter-spacing: 0.00px;
  line-height: 20px;
  min-height: 20px;
  white-space: nowrap;
  width: 75px;
}
.imac-1280 {
  align-items: flex-start;
  background-color: var(--mine-shaft);
  display: flex;
  flex-direction: column;
  height: 4053px;
  overflow: hidden;
  width: 1280px;
}
.mo-12 {
  color: var(--pale-sky);
  font-family: 'Roboto', Helvetica;
  font-size: 16px;
  left: 110px;
  letter-spacing: 0.00px;
  line-height: 24px;
  position: absolute;
  top: 16px;
  white-space: nowrap;
  width: 34px;
}
.mo-22 {
  color: var(--pale-sky);
  font-family: 'Roboto', Helvetica;
  font-size: 16px;
  letter-spacing: 0.00px;
  line-height: 24px;
  margin-top: -2px;
  min-height: 24px;
  white-space: nowrap;
}
.mo2 {
  color: var(--pale-sky);
  font-family: 'Roboto', Helvetica;
  font-size: 16px;
  letter-spacing: 0.00px;
  line-height: 24px;
  margin-top: -2px;
  min-height: 24px;
  white-space: nowrap;
}
.nav-bar6 {
  align-items: flex-start;
  display: flex;
  height: 90px;
  left: 0px;
  overflow: hidden;
  position: absolute;
  top: 0px;
  width: 1280px;
}
.overlap-group-12 {
  height: 45px;
  position: relative;
  width: 1212px;
}
.overlap-group-22 {
  height: 61px;
  position: relative;
  width: 1212px;
}
.overlap-group10 {
  height: 720px;
  position: relative;
  width: 1280px;
}
.overlap-group17 {
  height: 81px;
  position: relative;
  width: 1212px;
}
.overlap-group18 {
  height: 214px;
  margin-top: 203px;
  position: relative;
  width: 1280px;
}
.overlap-group19 {
  height: 225px;
  position: relative;
  width: 1212px;
}
.overlap-group212 {
  height: 40px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 144px;
}
.overlap-group223 {
  height: 41px;
  margin-left: -1.02px;
  position: relative;
  width: 1213px;
}
.overlap-group27 {
  height: 2925px;
  position: relative;
  width: 1280px;
}
.overlap-group3-12 {
  align-items: flex-end;
  background-size: 100% 100%;
  display: flex;
  flex-direction: column;
  margin-bottom: -240px;
  min-height: 1665px;
  padding: 56px 34.1px;
  width: 1280px;
}
.overlap-group3-22 {
  height: 55px;
  position: relative;
  width: 1280px;
}
.overlap-group34 {
  align-items: flex-start;
  display: flex;
  min-width: 1280px;
  padding: 0 7px;
}
.overlap-group44 {
  align-items: flex-start;
  display: flex;
  height: 1233px;
  margin-bottom: -52px;
  min-width: 1212px;
}
.overlap-group54 {
  height: 41px;
  left: 1px;
  position: absolute;
  top: 0px;
  width: 1212px;
}
.plans2 {
  letter-spacing: 0.00px;
  line-height: 20px;
  margin-top: -1px;
  min-height: 20px;
  white-space: nowrap;
}
.premium2 {
  letter-spacing: 0.00px;
  line-height: 24px;
  min-height: 24px;
  white-space: nowrap;
}
.price-12 {
  letter-spacing: 0.00px;
  line-height: 40px;
  min-height: 40px;
  white-space: nowrap;
}
.price2 {
  letter-spacing: 0.00px;
  line-height: 40px;
  margin-bottom: -36px;
  min-height: 80px;
  width: 103px;
}
.pricing-12 {
  align-self: center;
  color: rgba(0,0,0,1.0);
  font-family: 'Roboto', Helvetica;
  font-size: 36px;
  font-weight: 700;
  letter-spacing: 0.00px;
  line-height: 20px;
  margin-left: 3.0px;
  min-height: 20px;
  min-width: 143px;
  white-space: nowrap;
}
.pricing3 {
  align-items: flex-end;
  display: flex;
  height: 1425px;
  left: 0px;
  min-width: 1280px;
  position: absolute;
  top: 1500px;
}
.rectangle-12 {
  background-color: var(--denim);
  height: 1px;
  left: 0px;
  position: absolute;
  top: 44px;
  width: 1212px;
}
.rectangle-22 {
  background-color: var(--denim);
  height: 1px;
  left: 0px;
  position: absolute;
  top: 60px;
  width: 1212px;
}
.rectangle-32 {
  height: 20px;
  left: 83px;
  position: absolute;
  top: 17px;
  width: 32px;
}
.rectangle-42 {
  background-color: var(--denim);
  height: 1px;
  left: 0px;
  position: absolute;
  top: 224px;
  width: 1212px;
}
.rectangle-52 {
  background-color: var(--denim);
  height: 1px;
  left: 0px;
  position: absolute;
  top: 80px;
  width: 1212px;
}
.rectangle-63 {
  height: 55px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1280px;
}
.rectangle-72 {
  background-color: var(--denim);
  height: 1px;
  margin-top: -1px;
  width: 1212px;
}
.rectangle-82 {
  height: 126px;
  left: 82px;
  object-fit: cover;
  position: absolute;
  top: 0px;
  width: 212px;
}
.rectangle7 {
  background-color: var(--denim);
  height: 1px;
  left: 0px;
  position: absolute;
  top: 40px;
  width: 1212px;
}
.support3 {
  letter-spacing: 0.00px;
  line-height: 20px;
  min-height: 20px;
  white-space: nowrap;
  width: 62px;
}
.table {
  align-items: flex-end;
  display: flex;
  height: 1181px;
  margin-top: 72px;
  min-width: 1212px;
}
.text-51 {
  color: rgba(189,189,189,1.0);
  font-family: 'Inter', Helvetica;
  font-size: 12px;
  font-weight: 500;
  left: 81px;
  letter-spacing: 0.00px;
  line-height: 24px;
  position: absolute;
  top: 5px;
  white-space: nowrap;
}
.text-52 {
  letter-spacing: 0.00px;
  line-height: 20px;
  margin-bottom: -1px;
  min-height: 40px;
  width: 224px;
}
.text-53 {
  letter-spacing: 0.00px;
  line-height: 20px;
  margin-bottom: -1px;
  min-height: 40px;
  width: 254px;
}
.text-54 {
  letter-spacing: 0.00px;
  line-height: 20px;
  min-height: 39px;
  width: 174px;
}
.text-55 {
  letter-spacing: 0.00px;
  line-height: 20px;
  margin-bottom: -1px;
  min-height: 40px;
  width: 221px;
}
.text-75 {
  letter-spacing: 0.00px;
  line-height: 24px;
  margin-bottom: -23px;
  min-height: 24px;
  white-space: nowrap;
  width: 180px;
}
.text-76 {
  align-self: center;
  color: rgba(224,224,224,1.0);
  font-family: 'Iowan Old Style-Roman', Helvetica;
  font-size: 30px;
  height: 48px;
  letter-spacing: 0.00px;
  line-height: 24px;
  margin-left: 94px;
  margin-top: 2.0px;
  min-height: 48px;
  text-align: center;
  width: 585px;
}
.up-to-2 {
  color: rgba(55,65,81,1.0);
  font-family: 'Roboto', Helvetica;
  font-size: 14px;
  letter-spacing: 0.00px;
  line-height: 20px;
  min-height: 20px;
  white-space: nowrap;
}
.video-720 {
  align-items: flex-start;
  display: flex;
  height: 720px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1280px;
}
.where-are-weee2 {
  letter-spacing: 0.00px;
  line-height: 20px;
  min-height: 20px;
  white-space: nowrap;
  width: 179px;
}
