.e-waste-code-finder2 {
  letter-spacing: 0.00px;
  line-height: 20px;
  min-height: 20px;
  white-space: nowrap;
  width: 173px;
}
.frame-173 {
  position: relative;
}
.frame-462 {
  align-items: flex-end;
  display: flex;
  height: 61px;
  min-width: 303px;
  padding: 20px 25.6px;
}
.frame-472 {
  padding: 9px 25.6px;
  position: relative;
}
.frame-482 {
  padding: 10px 25.6px;
  position: relative;
}
