.buttons2 {
  align-items: flex-start;
  display: flex;
  height: 61px;
  margin-top: 10px;
  padding: 16px 0;
  position: relative;
  width: 241px;
}
.buttons3 {
  left: 0px;
  margin-top: unset;
  position: absolute;
  top: 277px;
}
.buttons4 {
  margin-top: 11px;
}
