.about-1 {
  align-items: flex-start;
  display: flex;
  height: 144px;
  justify-content: flex-end;
  margin-left: 0.17px;
  margin-top: 16px;
  min-width: 147px;
}
.about3 {
  letter-spacing: 0.70px;
  line-height: 20px;
  min-height: 20px;
  white-space: nowrap;
}
.analytics2 {
  letter-spacing: 0.00px;
  line-height: 24px;
  margin-top: 16px;
  min-height: 44px;
  width: 96px;
}
.apps {
  letter-spacing: 0.00px;
  line-height: 20px;
  min-height: 20px;
  white-space: nowrap;
  width: 75px;
}
.aws {
  letter-spacing: 0.00px;
  line-height: 24px;
  margin-top: 16px;
  min-height: 44px;
  width: 96px;
}
.basic {
  letter-spacing: 0.00px;
  line-height: 24px;
  min-height: 24px;
  white-space: nowrap;
}
.body {
  height: 1533px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1440px;
}
.choose-your-plan {
  letter-spacing: 0.00px;
  line-height: 24px;
  margin-bottom: -23px;
  min-height: 24px;
  text-align: center;
  white-space: nowrap;
  width: 172px;
}
.colorlogotransparent-26 {
  height: 77px;
  left: 28px;
  object-fit: cover;
  position: absolute;
  top: 6px;
  width: 104px;
}
.documentation {
  letter-spacing: 0.00px;
  line-height: 24px;
  margin-top: 16px;
  min-height: 24px;
  white-space: nowrap;
}
.essential {
  letter-spacing: 0.00px;
  line-height: 24px;
  min-height: 24px;
  white-space: nowrap;
}
.feature-by {
  letter-spacing: 0.00px;
  line-height: 20px;
  margin-bottom: -19px;
  min-height: 20px;
  white-space: nowrap;
  width: 92px;
}
.flex-col-12 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin-left: 31px;
  min-height: 180px;
  width: 147px;
}
.flex-col3 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  min-height: 180px;
  width: 147px;
}
.footer-1 {
  align-items: flex-end;
  display: flex;
  height: 200px;
  left: 249px;
  min-width: 1020px;
  position: absolute;
  top: 26px;
}
.footer8 {
  align-items: flex-start;
  background-color: var(--mine-shaft);
  display: flex;
  flex-direction: column;
  height: 50px;
  left: 0px;
  overflow: hidden;
  position: absolute;
  top: 165px;
  width: 1440px;
}
.frame {
  align-items: flex-end;
  display: flex;
  height: 1425px;
  min-width: 1440px;
}
.frame-1 {
  align-items: flex-start;
  display: flex;
  min-width: 1363px;
}
.frame-10 {
  align-items: flex-end;
  display: flex;
  height: 61px;
  left: 0px;
  min-width: 341px;
  padding: 20px 27.6px;
  position: absolute;
  top: 0px;
}
.frame-11 {
  align-items: flex-start;
  display: flex;
  height: 20px;
  min-width: 283px;
}
.frame-12 {
  align-items: flex-end;
  display: flex;
  height: 1181px;
  margin-top: 72px;
  min-width: 1363px;
}
.frame-13 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  min-height: 1233px;
  width: 1363px;
}
.frame-14 {
  align-items: flex-start;
  display: flex;
  height: 41px;
  left: 0px;
  min-width: 1363px;
  position: absolute;
  top: 0px;
}
.frame-15 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  left: 0px;
  min-height: 41px;
  padding: 2px 27.6px;
  position: absolute;
  top: 0px;
  width: 341px;
}
.frame-16 {
  align-items: flex-end;
  display: flex;
  height: 1px;
  overflow: hidden;
  width: 1px;
}
.frame-17 {
  align-items: flex-start;
  display: flex;
  height: 17px;
  margin-left: 1.2px;
  margin-top: 1px;
  min-width: 44px;
}
.frame-18 {
  align-items: flex-start;
  display: flex;
  height: 41px;
  left: 0px;
  min-width: 341px;
  padding: 1px 28.8px;
  position: absolute;
  top: 0px;
}
.frame-19 {
  align-items: flex-end;
  display: flex;
  height: 1px;
  left: 0px;
  overflow: hidden;
  position: absolute;
  top: 40px;
  width: 1px;
}
.frame-2 {
  align-items: flex-start;
  display: flex;
  height: 41px;
  left: 341px;
  min-width: 341px;
  padding: 1px 28.8px;
  position: absolute;
  top: 0px;
}
.frame-20 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  min-height: 1132px;
  position: relative;
  width: 1363px;
}
.frame-21 {
  align-items: flex-start;
  display: flex;
  height: 225px;
  left: 0px;
  min-width: 1363px;
  position: absolute;
  top: 0px;
}
.frame-22 {
  align-items: flex-start;
  display: flex;
  height: 44px;
  margin-bottom: -2px;
  min-width: 59px;
}
.frame-23 {
  align-items: flex-start;
  display: flex;
  height: 20px;
  margin-bottom: 3px;
  margin-left: 14px;
  min-width: 61px;
}
.frame-24 {
  align-items: flex-start;
  display: flex;
  height: 225px;
  left: 0px;
  min-width: 341px;
  padding: 33px 28.8px;
  position: absolute;
  top: 0px;
}
.frame-25 {
  align-items: flex-start;
  display: flex;
  height: 44px;
  margin-bottom: -2px;
  min-width: 88px;
}
.frame-26 {
  align-items: flex-start;
  display: flex;
  height: 20px;
  margin-bottom: 2px;
  margin-left: 18px;
  min-width: 36px;
}
.frame-27 {
  align-items: flex-end;
  display: flex;
  height: 40px;
  margin-top: 16px;
  min-width: 283px;
}
.frame-28 {
  align-items: flex-end;
  display: flex;
  height: 225px;
  left: 0px;
  min-width: 341px;
  padding: 32px 28.8px;
  position: absolute;
  top: 0px;
}
.frame-29 {
  height: 40px;
  position: relative;
  width: 283px;
}
.frame-3 {
  align-items: flex-end;
  display: flex;
  height: 225px;
  left: 341px;
  min-width: 341px;
  padding: 32px 28.8px;
  position: absolute;
  top: 0px;
}
.frame-30 {
  align-items: flex-end;
  display: flex;
  height: 44px;
  left: 0px;
  min-width: 88px;
  position: absolute;
  top: -2px;
}
.frame-31 {
  align-items: flex-end;
  display: flex;
  height: 61px;
  left: 0px;
  min-width: 341px;
  padding: 20px 28.8px;
  position: absolute;
  top: 0px;
}
.frame-32 {
  align-items: flex-end;
  display: flex;
  height: 61px;
  left: 341px;
  min-width: 341px;
  padding: 20px 28.8px;
  position: absolute;
  top: 0px;
}
.frame-33 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  min-height: 60px;
  width: 1363px;
}
.frame-34 {
  align-items: flex-end;
  display: flex;
  height: 1px;
  margin-left: -1px;
  overflow: hidden;
  width: 1px;
}
.frame-35 {
  align-items: flex-end;
  display: flex;
  height: 60px;
  margin-left: 340px;
  min-width: 341px;
  padding: 1px 28.8px;
  position: relative;
}
.frame-36 {
  align-items: flex-end;
  display: flex;
  height: 60px;
  left: 0px;
  min-width: 341px;
  padding: 1px 28.8px;
  position: absolute;
  top: 0px;
}
.frame-37 {
  align-items: flex-end;
  display: flex;
  height: 60px;
  left: 341px;
  min-width: 341px;
  padding: 1px 28.8px;
  position: absolute;
  top: 0px;
}
.frame-4 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  min-height: 160px;
  position: relative;
  width: 283px;
}
.frame-5 {
  align-items: flex-end;
  display: flex;
  height: 40px;
  min-width: 283px;
}
.frame-6 {
  align-items: flex-start;
  display: flex;
  height: 45px;
  left: 0px;
  min-width: 1363px;
  position: absolute;
  top: 0px;
}
.frame-7 {
  align-items: flex-end;
  background-color: var(--alabaster);
  display: flex;
  height: 45px;
  min-width: 1363px;
  padding: 12px 28.8px;
}
.frame-8 {
  align-items: flex-start;
  display: flex;
  height: 61px;
  left: 0px;
  min-width: 1363px;
  position: absolute;
  top: 0px;
}
.frame-9 {
  align-items: flex-end;
  display: flex;
  height: 61px;
  left: 341px;
  min-width: 341px;
  padding: 20px 27.6px;
  position: absolute;
  top: 0px;
}
.google {
  letter-spacing: 0.00px;
  line-height: 24px;
  min-height: 24px;
  white-space: nowrap;
}
.guides {
  letter-spacing: 0.00px;
  line-height: 24px;
  margin-top: 16px;
  min-height: 24px;
  white-space: nowrap;
}
.hardware-1 {
  letter-spacing: 0.00px;
  line-height: 24px;
  min-height: 24px;
  white-space: nowrap;
}
.hardware2 {
  letter-spacing: 0.00px;
  line-height: 20px;
  min-height: 20px;
  white-space: nowrap;
  width: 84px;
}
.kyaw-tun-7-k3-v-47-q-unsplash-1 {
  height: 810px;
  width: 1440px;
}
.macbook-pro-1440 {
  align-items: flex-start;
  background-color: var(--mine-shaft);
  display: flex;
  flex-direction: column;
  height: 4092px;
  overflow: hidden;
  width: 1440px;
}
.marketplaced2 {
  align-items: flex-start;
  display: flex;
  height: 144px;
  left: 173px;
  min-width: 147px;
  position: absolute;
  top: 36px;
}
.marketplaces2 {
  left: 173px;
  letter-spacing: 0.70px;
  line-height: 20px;
  position: absolute;
  top: 0px;
  white-space: nowrap;
  width: 130px;
}
.microsoft {
  letter-spacing: 0.00px;
  line-height: 24px;
  margin-top: 16px;
  min-height: 24px;
  white-space: nowrap;
}
.mo {
  color: var(--pale-sky);
  font-family: 'Roboto', Helvetica;
  font-size: 16px;
  letter-spacing: 0.00px;
  line-height: 24px;
  margin-top: -2px;
  min-height: 24px;
  white-space: nowrap;
}
.mo-1 {
  color: var(--pale-sky);
  font-family: 'Roboto', Helvetica;
  font-size: 16px;
  letter-spacing: 0.00px;
  line-height: 24px;
  margin-top: -2px;
  min-height: 24px;
  white-space: nowrap;
}
.mo-2 {
  color: var(--pale-sky);
  font-family: 'Roboto', Helvetica;
  font-size: 16px;
  left: 124px;
  letter-spacing: 0.00px;
  line-height: 24px;
  position: absolute;
  top: 16px;
  white-space: nowrap;
  width: 38px;
}
.nav-bar5 {
  align-items: flex-start;
  display: flex;
  height: 90px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1440px;
}
.overlap-group-1 {
  height: 41px;
  position: relative;
  width: 682px;
}
.overlap-group-2 {
  height: 225px;
  position: relative;
  width: 682px;
}
.overlap-group-3 {
  height: 45px;
  position: relative;
  width: 1363px;
}
.overlap-group-4 {
  height: 61px;
  position: relative;
  width: 1363px;
}
.overlap-group-5 {
  height: 61px;
  position: relative;
  width: 682px;
}
.overlap-group-6 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin-top: -36px;
  min-height: 220px;
  padding: 36px 0;
  width: 147px;
}
.overlap-group132 {
  height: 81px;
  position: relative;
  width: 1363px;
}
.overlap-group16 {
  height: 810px;
  margin-left: -0.0px;
  position: relative;
  width: 1440px;
}
.overlap-group21 {
  height: 225px;
  position: relative;
  width: 1363px;
}
.overlap-group222 {
  height: 40px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 162px;
}
.overlap-group232 {
  height: 41px;
  margin-left: -1.22px;
  position: relative;
  width: 1364px;
}
.overlap-group26 {
  height: 2954px;
  position: relative;
  width: 1440px;
}
.overlap-group3-1 {
  align-items: flex-start;
  background-color: var(--white);
  display: flex;
  min-width: 1440px;
}
.overlap-group3-2 {
  align-items: flex-start;
  display: flex;
  margin-bottom: -20px;
  min-width: 1020px;
  padding: 0 161.3px;
}
.overlap-group33 {
  height: 90px;
  position: relative;
  width: 1440px;
}
.overlap-group4-1 {
  height: 220px;
  margin-left: 12px;
  position: relative;
  width: 320px;
}
.overlap-group43 {
  align-items: flex-end;
  background-size: 100% 100%;
  display: flex;
  flex-direction: column;
  margin-bottom: -170px;
  min-height: 1595px;
  padding: 56px 38.4px;
  width: 1440px;
}
.overlap-group53 {
  align-items: flex-start;
  display: flex;
  height: 1233px;
  margin-bottom: -52px;
  min-width: 1363px;
}
.overlap-group6-1 {
  height: 60px;
  position: relative;
  width: 682px;
}
.overlap-group63 {
  height: 41px;
  left: 1px;
  position: absolute;
  top: 0px;
  width: 1363px;
}
.overlap-group72 {
  height: 220px;
  margin-top: -36px;
  position: relative;
  width: 149px;
}
.overlap-group9 {
  height: 226px;
  margin-top: 102px;
  position: relative;
  width: 1440px;
}
.plans {
  letter-spacing: 0.00px;
  line-height: 20px;
  margin-top: -1px;
  min-height: 20px;
  white-space: nowrap;
}
.premium {
  letter-spacing: 0.00px;
  line-height: 24px;
  min-height: 24px;
  white-space: nowrap;
}
.price {
  letter-spacing: 0.00px;
  line-height: 40px;
  margin-bottom: -36px;
  min-height: 80px;
  width: 116px;
}
.price-1 {
  letter-spacing: 0.00px;
  line-height: 40px;
  min-height: 40px;
  white-space: nowrap;
}
.pricing-1 {
  color: var(--mischka);
  font-family: 'Roboto', Helvetica;
  font-size: 15px;
  letter-spacing: 0.00px;
  line-height: 24px;
  min-height: 24px;
  white-space: nowrap;
}
.pricing-component {
  align-items: flex-start;
  display: flex;
  height: 1433px;
  left: 0px;
  min-width: 1440px;
  position: absolute;
  top: 1521px;
}
.pricing2 {
  align-self: center;
  color: rgba(0,0,0,1.0);
  font-family: 'Roboto', Helvetica;
  font-size: 36px;
  font-weight: 700;
  letter-spacing: 0.00px;
  line-height: 20px;
  margin-left: 3.0px;
  min-height: 20px;
  min-width: 143px;
  white-space: nowrap;
}
.rectangle-1 {
  background-color: var(--denim);
  height: 1px;
  left: 0px;
  position: absolute;
  top: 44px;
  width: 1363px;
}
.rectangle-136 {
  height: 90px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1440px;
}
.rectangle-2 {
  background-color: var(--denim);
  height: 1px;
  left: 0px;
  position: absolute;
  top: 60px;
  width: 1363px;
}
.rectangle-3 {
  height: 20px;
  left: 94px;
  position: absolute;
  top: 17px;
  width: 36px;
}
.rectangle-4 {
  background-color: var(--denim);
  height: 1px;
  left: 0px;
  position: absolute;
  top: 224px;
  width: 1363px;
}
.rectangle-5 {
  background-color: var(--denim);
  height: 1px;
  left: 0px;
  position: absolute;
  top: 80px;
  width: 1363px;
}
.rectangle-62 {
  height: 55px;
  margin-top: 14px;
  width: 1440px;
}
.rectangle-7 {
  background-color: var(--denim);
  height: 1px;
  margin-top: -1px;
  width: 1363px;
}
.rectangle-8 {
  height: 220px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 147px;
}
.rectangle-9 {
  height: 126px;
  left: 82px;
  object-fit: cover;
  position: absolute;
  top: 0px;
  width: 212px;
}
.rectangle6 {
  background-color: var(--denim);
  height: 1px;
  left: 0px;
  position: absolute;
  top: 40px;
  width: 1363px;
}
.software2 {
  letter-spacing: 0.00px;
  line-height: 24px;
  margin-top: 16px;
  min-height: 24px;
  white-space: nowrap;
}
.solutions-1 {
  align-items: flex-start;
  display: flex;
  height: 144px;
  margin-top: 16px;
  min-width: 147px;
}
.solutions3 {
  letter-spacing: 0.70px;
  line-height: 20px;
  min-height: 20px;
  white-space: nowrap;
}
.support-12 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  left: 0px;
  min-height: 220px;
  padding: 36px 0.3px;
  position: absolute;
  top: 0px;
  width: 206px;
}
.support-2 {
  left: 0px;
  letter-spacing: 0.70px;
  line-height: 20px;
  position: absolute;
  top: 0px;
  white-space: nowrap;
  width: 136px;
}
.support2 {
  letter-spacing: 0.00px;
  line-height: 20px;
  min-height: 20px;
  white-space: nowrap;
  width: 69px;
}
.text-25 {
  color: rgba(189,189,189,1.0);
  font-family: 'Inter', Helvetica;
  font-size: 12px;
  font-weight: 500;
  letter-spacing: 0.00px;
  line-height: 24px;
  margin-left: 78px;
  margin-top: -3px;
  min-height: 24px;
  white-space: nowrap;
}
.text-27 {
  letter-spacing: 0.00px;
  line-height: 20px;
  margin-bottom: -1px;
  min-height: 40px;
  width: 285px;
}
.text-28 {
  letter-spacing: 0.00px;
  line-height: 20px;
  min-height: 39px;
  width: 195px;
}
.text-49 {
  letter-spacing: 0.00px;
  line-height: 24px;
  margin-bottom: -23px;
  min-height: 24px;
  white-space: nowrap;
  width: 214px;
}
.text-50 {
  color: rgba(224,224,224,1.0);
  font-family: 'Iowan Old Style-Roman', Helvetica;
  font-size: 36px;
  height: 53px;
  left: 282px;
  letter-spacing: 0.00px;
  line-height: 24px;
  position: absolute;
  text-align: center;
  top: 22px;
  width: 702px;
}
.up-to- {
  color: rgba(55,65,81,1.0);
  font-family: 'Roboto', Helvetica;
  font-size: 14px;
  letter-spacing: 0.00px;
  line-height: 20px;
  min-height: 20px;
  white-space: nowrap;
}
.video-810 {
  align-items: flex-start;
  display: flex;
  height: 810px;
  left: 0px;
  overflow: hidden;
  position: absolute;
  top: 0px;
  width: 1440px;
}
.what-is-ewaste2 {
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 24px;
  position: absolute;
  top: 76px;
  white-space: nowrap;
  width: 129px;
}
.where-are-weee {
  letter-spacing: 0.00px;
  line-height: 20px;
  min-height: 20px;
  white-space: nowrap;
  width: 201px;
}
.where-we-work2 {
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 24px;
  position: absolute;
  top: 116px;
  width: 149px;
}
.why-is-ewaste2 {
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 24px;
  position: absolute;
  top: 36px;
  white-space: nowrap;
  width: 129px;
}
