.colorlogotransparent-24 {
  height: 50px;
  left: 0px;
  object-fit: cover;
  position: absolute;
  top: 6px;
  width: 64px;
}
.content-13 {
  height: 476px;
  position: relative;
  width: 371px;
}
.content4 {
  align-items: flex-start;
  display: flex;
  height: 542px;
  width: 414px;
}
.dan-blackburn-2-jbis-unsplash-1 {
  height: 230px;
  margin-top: -1px;
  width: 414px;
}
.footer4 {
  align-items: flex-start;
  background-color: var(--mine-shaft);
  display: flex;
  height: 37px;
  margin-top: 27px;
  padding: 0 3px;
  width: 414px;
}
.iphone-11-414 {
  align-items: flex-start;
  background-color: var(--mine-shaft);
  display: flex;
  flex-direction: column;
  height: 896px;
  overflow: hidden;
  width: 414px;
}
.nav-bar4 {
  align-items: flex-end;
  display: flex;
  height: 62px;
  left: 0px;
  overflow: hidden;
  position: absolute;
  top: 0px;
  width: 414px;
}
.overlap-group1-12 {
  align-items: flex-start;
  background-size: 100% 100%;
  display: flex;
  height: 531px;
  justify-content: flex-end;
  min-width: 414px;
  padding: 19px 0;
}
.overlap-group14 {
  height: 90px;
  margin-bottom: -28px;
  position: relative;
  width: 1011px;
}
.overlap-group24 {
  height: 338px;
  left: 0px;
  position: absolute;
  top: 88px;
  width: 351px;
}
.overlap-group6 {
  height: 291px;
  position: relative;
  width: 414px;
}
.rectangle-134 {
  height: 90px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1011px;
}
.rectangle3 {
  height: 73px;
  left: 241px;
  object-fit: cover;
  position: absolute;
  top: 33px;
  width: 105px;
}
.span05 {
  color: rgba(51,51,51,1.0);
  letter-spacing: 0.39px;
  line-height: 13px;
}
.span06 {
  color: rgba(79,70,229,1.0);
  letter-spacing: 0.36px;
  line-height: 18px;
}
.span15 {
  color: rgba(142,13,221,1.0);
  letter-spacing: 0.39px;
  line-height: 13px;
}
.span16 {
  color: rgba(79,70,229,1.0);
  font-weight: 500;
  letter-spacing: 0.36px;
  line-height: 18px;
}
.text-15 {
  color: rgba(253,245,245,1.0);
  font-family: 'Inter', Helvetica;
  font-size: 12px;
  font-weight: 500;
  letter-spacing: 0.00px;
  line-height: 24px;
  min-height: 24px;
  white-space: nowrap;
}
.text-16 {
  color: transparent;
  font-family: 'Roboto', Helvetica;
  font-size: 13px;
  font-weight: 500;
  left: 0px;
  letter-spacing: 3.00px;
  line-height: 20.5px;
  position: absolute;
  top: 54px;
  width: 351px;
}
.text-17 {
  color: var(--ocean-blue-pearl);
  font-family: 'Roboto', Helvetica;
  font-size: 18px;
  left: 2px;
  letter-spacing: 2.00px;
  line-height: 23px;
  position: absolute;
  top: 0px;
  width: 196px;
}
.text-18 {
  color: var(--mirage);
  font-family: 'Roboto', Helvetica;
  font-size: 18px;
  font-weight: 700;
  left: 0px;
  letter-spacing: 1.50px;
  line-height: 20px;
  position: absolute;
  top: 33px;
  width: 198px;
}
.text-19 {
  color: rgba(224,224,224,1.0);
  font-family: 'Iowan Old Style-Roman', Helvetica;
  font-size: 14px;
  height: 48px;
  left: 85px;
  letter-spacing: 0.00px;
  line-height: 24px;
  position: absolute;
  text-align: center;
  top: 8px;
}
.video3 {
  align-items: flex-start;
  display: flex;
  height: 230px;
  left: 0px;
  position: absolute;
  top: 61px;
  width: 414px;
}
