.e-waste-code-finder {
  letter-spacing: 0.00px;
  line-height: 20px;
  min-height: 20px;
  white-space: nowrap;
  width: 194px;
}
.frame-46 {
  align-items: flex-end;
  display: flex;
  height: 61px;
  left: 0px;
  min-width: 341px;
  padding: 20px 28.8px;
  position: absolute;
  top: 0px;
}
.frame-47 {
  padding: 9px 28.8px;
}
.frame-48 {
  padding: 10px 28.8px;
}
