.alli-elder-z-x6-yhk-unsplash-2 {
  height: 281px;
  width: 411px;
}
.buttons5 {
  align-items: flex-start;
  display: flex;
  height: 56px;
  left: 166px;
  padding: 16px 0;
  position: absolute;
  top: 136px;
  width: 202px;
}
.colorlogotransparent-23 {
  height: 46px;
  left: 0px;
  object-fit: cover;
  position: absolute;
  top: 6px;
  width: 63px;
}
.content-12 {
  height: 339px;
  left: 0px;
  position: absolute;
  top: 77px;
  width: 411px;
}
.content-2 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  height: 320px;
  left: 42px;
  padding: 6px 0;
  position: absolute;
  top: 0px;
  width: 368px;
}
.content3 {
  align-items: flex-end;
  display: flex;
  height: 339px;
  overflow: hidden;
  width: 411px;
}
.flex-row {
  align-items: flex-start;
  display: flex;
  min-width: 344px;
}
.footer3 {
  align-items: flex-start;
  display: flex;
  height: 35px;
  margin-top: 15px;
  overflow: hidden;
  width: 407px;
}
.google-pixel-411 {
  align-items: flex-start;
  background-color: var(--mine-shaft);
  display: flex;
  flex-direction: column;
  height: 731px;
  width: 411px;
}
.nav-bar3 {
  align-items: flex-end;
  display: flex;
  height: 64px;
  left: 0px;
  overflow: hidden;
  position: absolute;
  top: 0px;
  width: 411px;
}
.overlap-group1-1 {
  height: 78px;
  position: relative;
  width: 196px;
}
.overlap-group1-2 {
  align-items: flex-end;
  background-color: var(--mine-shaft);
  display: flex;
  height: 30px;
  margin-top: -5px;
  min-width: 411px;
  padding: 1px 5px;
}
.overlap-group13 {
  height: 90px;
  margin-bottom: -26px;
  position: relative;
  width: 1013px;
}
.overlap-group23 {
  height: 416px;
  margin-bottom: -96px;
  position: relative;
  width: 411px;
}
.overlap-group32 {
  height: 192px;
  margin-top: 12px;
  position: relative;
  width: 368px;
}
.overlap-group5 {
  height: 342px;
  position: relative;
  width: 411px;
}
.rectangle-133 {
  height: 90px;
  left: 2px;
  position: absolute;
  top: 0px;
  width: 1011px;
}
.rectangle2 {
  height: 73px;
  margin-left: 42px;
  margin-top: 1px;
  object-fit: cover;
  width: 105px;
}
.span03 {
  color: rgba(79,70,229,1.0);
  letter-spacing: 0.28px;
  line-height: 14px;
}
.span04 {
  color: rgba(51,51,51,1.0);
  letter-spacing: 0.33px;
  line-height: 11px;
}
.span13 {
  color: rgba(79,70,229,1.0);
  font-weight: 500;
  letter-spacing: 0.28px;
  line-height: 14px;
}
.span14 {
  color: rgba(142,13,221,1.0);
  letter-spacing: 0.33px;
  line-height: 11px;
}
.text-10 {
  color: rgba(253,245,245,1.0);
  font-family: 'Inter', Helvetica;
  font-size: 12px;
  font-weight: 500;
  letter-spacing: 0.00px;
  line-height: 24px;
  min-height: 24px;
  min-width: 209px;
  white-space: nowrap;
}
.text-11 {
  color: transparent;
  font-family: 'Roboto', Helvetica;
  font-size: 11px;
  font-weight: 500;
  left: 0px;
  letter-spacing: 3.00px;
  line-height: 15px;
  position: absolute;
  top: 0px;
  width: 317px;
}
.text-12 {
  color: var(--ocean-blue-pearl);
  font-family: 'Roboto', Helvetica;
  font-size: 14px;
  left: 2px;
  letter-spacing: 2.00px;
  line-height: 23px;
  position: absolute;
  top: 32px;
  width: 194px;
}
.text-13 {
  left: 0px;
  letter-spacing: 1.50px;
  line-height: 20px;
  position: absolute;
  top: 0px;
  width: 196px;
}
.text-14 {
  color: rgba(224,224,224,1.0);
  font-family: 'Iowan Old Style-Roman', Helvetica;
  font-size: 14px;
  height: 48px;
  left: 93px;
  letter-spacing: 0.00px;
  line-height: 24px;
  position: absolute;
  text-align: center;
  top: 6px;
}
.video2 {
  align-items: flex-start;
  display: flex;
  height: 281px;
  left: 0px;
  position: absolute;
  top: 61px;
  width: 411px;
}
