.frame-38 {
  align-items: flex-end;
  display: flex;
  height: 40px;
  margin-top: 16px;
  min-width: 283px;
}
.frame-39 {
  position: relative;
}
.text-26 {
  letter-spacing: 0.00px;
  line-height: 20px;
  margin-bottom: -1px;
  min-height: 40px;
  width: 252px;
}
