.frame22 {
  align-items: flex-end;
  display: flex;
  height: 1px;
  overflow: hidden;
  width: 1px;
}
.included-in-premium3 {
  letter-spacing: 0.00px;
  line-height: 24px;
  margin-bottom: -23px;
  min-height: 24px;
  white-space: nowrap;
  width: 185px;
}
