.root {
  width: 100%;
  height: 1188px;
  display: flex;
  position: relative;
  flex-direction: row;
  padding-top: 76px;
  min-width: 0;
}
.root > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  margin-left: calc(0px - 10px);
  width: calc(100% + 10px);
}
.root > :global(.__wab_flex-container) > *,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-left: 10px;
}
.column1 {
  width: 237px;
  height: auto;
  display: flex;
  position: absolute;
  top: 76px;
  left: 0px;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: baseline;
  flex-shrink: 0;
}
.software__bQwTs:global(.__wab_instance) {
  position: relative;
  align-self: stretch;
  width: 238px;
  height: 290px;
  flex-shrink: 0;
}
.software__wiGNm:global(.__wab_instance) {
  position: relative;
  align-self: stretch;
  flex-shrink: 0;
}
.box__n0Qic {
  height: 1px;
  display: block;
  position: relative;
  align-self: stretch;
  background: rgba(228, 230, 234, 1);
}
.box__b2Lfu {
  height: auto;
  display: flex;
  position: relative;
  align-self: stretch;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
  min-width: 0;
  padding: 12px 16px;
}
.box__sar96 {
  display: block;
  flex-grow: 1;
  font-size: 14px;
  font-family: "Inter";
  font-weight: 500;
  letter-spacing: 0em;
  line-height: 20px;
  color: rgba(16, 23, 38, 1);
  position: relative;
}
.box__qUy0 {
  display: block;
  flex-grow: 1;
  font-size: 14px;
  font-family: "Inter";
  font-weight: 400;
  letter-spacing: 0em;
  line-height: 20px;
  color: rgba(255, 255, 255, 1);
  position: relative;
}
.software__zFpzl:global(.__wab_instance) {
  position: relative;
  align-self: stretch;
  flex-shrink: 0;
}
.box__xWedq {
  height: 1px;
  display: block;
  position: relative;
  align-self: stretch;
  background: rgba(228, 230, 234, 1);
}
.box___2Goqx {
  height: auto;
  display: flex;
  position: relative;
  align-self: stretch;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
  min-width: 0;
  padding: 12px 16px;
}
.box__hs3Lu {
  display: block;
  flex-grow: 1;
  font-size: 14px;
  font-family: "Inter";
  font-weight: 500;
  letter-spacing: 0em;
  line-height: 20px;
  color: rgba(16, 23, 38, 1);
  position: relative;
}
.box___3POfv {
  display: block;
  flex-grow: 1;
  font-size: 14px;
  font-family: "Inter";
  font-weight: 400;
  letter-spacing: 0em;
  line-height: 20px;
  color: rgba(255, 255, 255, 1);
  position: relative;
}
.basic__p4M3G:global(.__wab_instance) {
  position: relative;
  top: auto;
  left: auto;
  width: auto;
}
.basic__dk8C8:global(.__wab_instance) {
  position: absolute;
  top: 76px;
  left: 440px;
  width: auto;
  margin-left: calc(0px + 10px) !important;
}
.basic__aiYmV:global(.__wab_instance) {
  position: absolute;
  top: 76px;
  left: 585px;
  width: auto;
}
