.root {
  height: auto;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  position: relative;
  padding: 20px 24px;
}
.svg {
  position: relative;
  object-fit: cover;
  width: 20px;
  height: 20px;
  color: rgb(127, 16, 185);
  display: block;
  flex-shrink: 0;
}
