.root {
  display: flex;
  position: relative;
  width: 100%;
  height: 100%;
  flex-direction: column;
  min-width: 0;
  min-height: 0;
  background: rgb(150, 153, 158);
}
.desktop {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  min-width: 0;
}
.header:global(.__wab_instance) {
  position: relative;
  left: auto;
  top: auto;
}
.features:global(.__wab_instance) {
  position: relative;
  left: auto;
  top: auto;
  width: 1194px;
  height: 1566px;
  right: auto;
  flex-shrink: 0;
}
.pricingTableHeader:global(.__wab_instance) {
  position: relative;
  top: auto;
  left: auto;
  right: auto;
  width: 1194px;
  height: 446px;
  bottom: auto;
  flex-shrink: 0;
}
@media (max-width: 1368px) {
  .pricingTableHeader:global(.__wab_instance) {
    flex-shrink: 0;
  }
}
.pricingTableProducts:global(.__wab_instance) {
  position: relative;
  top: auto;
  left: auto;
  width: 1197px;
  height: 1139px;
  flex-shrink: 0;
}
@media (max-width: 1368px) {
  .pricingTableProducts:global(.__wab_instance) {
    flex-shrink: 0;
  }
}
.footer:global(.__wab_instance) {
  position: relative;
  top: auto;
  left: auto;
  width: 1190px;
  height: 508px;
  flex-shrink: 0;
}
.tablet {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  height: auto;
}
.headerTablet:global(.__wab_instance) {
  position: relative;
  height: 1088px;
  width: 100%;
  min-width: 0;
  flex-shrink: 0;
}
.featuresTablet:global(.__wab_instance) {
  position: relative;
  width: 750px;
  height: 2378px;
  flex-shrink: 0;
}
.pricingTableProductsTablet:global(.__wab_instance) {
  position: relative;
  width: 100%;
  height: 1267px;
  min-width: 0;
  flex-shrink: 0;
}
.footerTablet:global(.__wab_instance) {
  position: relative;
  height: 925px;
  width: 758px;
  flex-shrink: 0;
}
.mobile {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  height: 8098px;
  width: 412px;
  flex-shrink: 0;
  background: rgb(193, 174, 143);
}
.headerMobile:global(.__wab_instance) {
  position: relative;
  width: 414px;
  height: 850px;
  min-width: 360px;
  flex-shrink: 0;
}
.featuresMobile:global(.__wab_instance) {
  position: relative;
  width: 414px;
  height: 2624px;
  min-width: 360px;
  flex-shrink: 0;
}
.pricingTableProductsMobile:global(.__wab_instance) {
  position: relative;
  width: 410px;
  height: 3630px;
  min-width: 360px;
  flex-shrink: 0;
}
.footerMobile:global(.__wab_instance) {
  position: absolute;
  width: 408px;
  height: 982px;
  left: 1px;
  top: 7115px;
  min-width: 360px;
  flex-shrink: 0;
}
