.root {
  width: 100%;
  display: block;
  height: 100%;
  position: relative;
  min-width: 0;
  min-height: 0;
  background: linear-gradient(
      0deg,
      rgb(140, 133, 133) 0%,
      rgb(221, 166, 72) 100%
    ),
    #535353;
}
.frame {
  width: 501px;
  display: flex;
  position: absolute;
  top: 0px;
  left: auto;
  flex-direction: row;
  justify-content: space-between;
  padding-left: 21px;
  height: 1020px;
}
.leftFrame {
  transform: translate(-0.16000000000000014px, 0px);
  width: 421px;
  height: 312px;
  display: flex;
  position: relative;
  top: auto;
  left: auto;
  flex-direction: column;
  justify-content: center;
  align-items: baseline;
  flex-wrap: wrap;
  align-content: flex-start;
  align-self: baseline;
  margin-left: -1px;
  margin-top: 41px;
  flex-shrink: 0;
  padding: 45px 45px 20px;
  background: url("./images/ewasteCartoon.png") 0% 0% / 100% 100%;
}
.bottomFooter {
  transform: translate(-0.24099999999999966px, 0px);
  width: 493px;
  height: 886px;
  display: flex;
  position: absolute;
  top: 4px;
  left: 0px;
  flex-direction: column;
  justify-content: flex-end;
  align-items: baseline;
  padding-top: 435px;
  padding-left: 0px;
}
.rightFrame {
  transform: translate(-0.16000000000000014px, 0px);
  width: 491px;
  height: 455px;
  display: flex;
  position: relative;
  top: auto;
  left: auto;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  align-content: flex-start;
  flex-shrink: 0;
  padding: 45px 45px 20px;
}
.frame3 {
  width: 100%;
  height: 100%;
  display: flex;
  position: relative;
  top: auto;
  left: auto;
  flex-direction: column;
  justify-content: center;
  align-self: center;
  min-width: 0;
  min-height: 0;
}
.rectangle3 {
  width: 55px;
  height: 2px;
  display: block;
  position: relative;
  top: auto;
  left: auto;
  flex-shrink: 0;
}
.frame4 {
  width: 48.65%;
  height: 220px;
  display: block;
  position: relative;
  top: auto;
  left: auto;
  flex-shrink: 0;
}
.rectangle4 {
  width: 100.13%;
  height: 220px;
  display: block;
  position: absolute;
  top: 0px;
  left: 0%;
}
.frame5 {
  transform: translate(-0.45999999999997954px, 0px);
  width: 47.15%;
  height: 220px;
  display: block;
  position: absolute;
  top: 0px;
  left: 52.98%;
}
.rectangle5 {
  width: 100%;
  height: 220px;
  display: block;
  position: absolute;
  top: 0px;
  left: 0%;
  min-width: 0;
}
.frame6 {
  width: 100.11%;
  height: 144px;
  display: block;
  position: absolute;
  top: 36px;
  left: 0%;
}
.rectangle6 {
  width: 100.11%;
  height: 144px;
  display: block;
  position: absolute;
  top: 0px;
  left: 0%;
}
.frame7 {
  width: 100.11%;
  height: 24px;
  display: block;
  position: absolute;
  top: 0px;
  left: 0%;
}
.rectangle7 {
  width: 100.11%;
  height: 24px;
  display: block;
  position: absolute;
  top: 0px;
  left: 0%;
}
.frame8 {
  width: 18.94%;
  height: 20px;
  display: block;
  position: absolute;
  top: 2px;
  left: 0%;
}
.rectangle8 {
  width: 100.5%;
  height: 20px;
  display: block;
  position: absolute;
  top: 0px;
  left: 0%;
}
.box__khq6V {
  display: block;
  font-size: 15px;
  font-family: "Roboto";
  font-weight: 400;
  letter-spacing: 0em;
  line-height: 24px;
  color: rgba(208, 212, 218, 1);
  position: absolute;
  top: -2px;
  left: 0%;
  width: 100.5%;
}
.frame9 {
  width: 100.11%;
  height: 24px;
  display: block;
  position: absolute;
  top: 80px;
  left: 0%;
}
.rectangle9 {
  width: 100.11%;
  height: 24px;
  display: block;
  position: absolute;
  top: 0px;
  left: 0%;
}
.frame10 {
  width: 19.32%;
  height: 20px;
  display: block;
  position: absolute;
  top: 2px;
  left: 0%;
}
.rectangle10 {
  width: 100.5%;
  height: 20px;
  display: block;
  position: absolute;
  top: 0px;
  left: 0%;
}
.box__krIiG {
  display: block;
  font-size: 16px;
  font-family: "Roboto";
  font-weight: 400;
  letter-spacing: 0em;
  line-height: 24px;
  color: rgba(208, 212, 218, 1);
  position: absolute;
  top: -2px;
  left: 0%;
  width: 100.5%;
}
.frame11 {
  width: 100.11%;
  height: 24px;
  display: block;
  position: absolute;
  top: 120px;
  left: 0%;
}
.rectangle11 {
  width: 100.11%;
  height: 24px;
  display: block;
  position: absolute;
  top: 0px;
  left: 0%;
}
.frame12 {
  width: 30.15%;
  height: 20px;
  display: block;
  position: absolute;
  top: 2px;
  left: 0%;
}
.rectangle12 {
  width: 100.5%;
  height: 20px;
  display: block;
  position: absolute;
  top: 0px;
  left: 0%;
}
.frame13 {
  width: 100.11%;
  height: 24px;
  display: block;
  position: absolute;
  top: 40px;
  left: 0%;
}
.rectangle13 {
  width: 100.11%;
  height: 24px;
  display: block;
  position: absolute;
  top: 0px;
  left: 0%;
}
.frame14 {
  width: 43.67%;
  height: 20px;
  display: block;
  position: absolute;
  top: 2px;
  left: 0%;
}
.rectangle14 {
  width: 100.5%;
  height: 20px;
  display: block;
  position: absolute;
  top: 0px;
  left: 0%;
}
.box__umDJw {
  display: block;
  font-size: 16px;
  font-family: "Roboto";
  font-weight: 400;
  letter-spacing: 0em;
  line-height: 24px;
  color: rgba(208, 212, 218, 1);
  position: absolute;
  top: -2px;
  left: 0%;
  width: 100.5%;
}
.frame15 {
  width: 100.11%;
  height: 20px;
  display: block;
  position: absolute;
  top: 0px;
  left: 0%;
}
.rectangle15 {
  width: 100.11%;
  height: 20px;
  display: block;
  position: absolute;
  top: 0px;
  left: 0%;
}
.box__c9MgD {
  display: block;
  font-size: 14px;
  text-transform: uppercase;
  font-family: "Roboto";
  font-weight: 400;
  letter-spacing: 0.699px;
  line-height: 20px;
  color: rgb(232, 17, 85);
  position: absolute;
  top: 0px;
  left: 0%;
  width: 27.83%;
}
.frame16 {
  width: 47.15%;
  height: 220px;
  display: block;
  position: absolute;
  top: 0px;
  left: 0%;
}
.rectangle16 {
  width: 100.11%;
  height: 220px;
  display: block;
  position: absolute;
  top: 0px;
  left: 0%;
}
.frame17 {
  width: 100.11%;
  height: 20px;
  display: block;
  position: absolute;
  top: 0px;
  left: 0%;
}
.rectangle17 {
  width: 100.11%;
  height: 20px;
  display: block;
  position: absolute;
  top: 0px;
  left: 0%;
}
.box___2UNsh {
  display: block;
  font-size: 14px;
  text-transform: uppercase;
  font-family: "Roboto";
  font-weight: 400;
  letter-spacing: 0.699px;
  line-height: 20px;
  color: rgb(232, 17, 85);
  position: absolute;
  top: 0px;
  left: 0%;
  width: 34.01%;
}
.frame18 {
  width: 100.11%;
  height: 144px;
  display: block;
  position: absolute;
  top: 36px;
  left: 0%;
}
.rectangle18 {
  width: 100.11%;
  height: 144px;
  display: block;
  position: absolute;
  top: 0px;
  left: 0%;
}
.frame19 {
  width: 100.11%;
  height: 24px;
  display: block;
  position: absolute;
  top: 0px;
  left: 0%;
}
.rectangle19 {
  width: 100.11%;
  height: 24px;
  display: block;
  position: absolute;
  top: 0px;
  left: 0%;
}
.frame20 {
  width: 28.6%;
  height: 20px;
  display: block;
  position: absolute;
  top: 2px;
  left: 0%;
}
.rectangle20 {
  width: 100.5%;
  height: 20px;
  display: block;
  position: absolute;
  top: 0px;
  left: 0%;
}
.box__r2ZYa {
  display: block;
  font-size: 16px;
  font-family: "Roboto";
  font-weight: 400;
  letter-spacing: 0em;
  line-height: 24px;
  color: rgba(208, 212, 218, 1);
  position: absolute;
  top: -2px;
  left: 0%;
  width: 100.5%;
}
.frame21 {
  width: 100.11%;
  height: 24px;
  display: block;
  position: absolute;
  top: 40px;
  left: 0%;
}
.rectangle21 {
  width: 100.11%;
  height: 24px;
  display: block;
  position: absolute;
  top: 0px;
  left: 0%;
}
.frame22 {
  width: 25.51%;
  height: 20px;
  display: block;
  position: absolute;
  top: 2px;
  left: 0%;
}
.rectangle22 {
  width: 100.5%;
  height: 20px;
  display: block;
  position: absolute;
  top: 0px;
  left: 0%;
}
.box__dlJaF {
  display: block;
  font-size: 16px;
  font-family: "Roboto";
  font-weight: 400;
  letter-spacing: 0em;
  line-height: 24px;
  color: rgba(208, 212, 218, 1);
  position: absolute;
  top: -2px;
  left: 0%;
  width: 100.5%;
}
.frame23 {
  width: 100.11%;
  height: 24px;
  display: block;
  position: absolute;
  top: 80px;
  left: 0%;
}
.rectangle23 {
  width: 100.11%;
  height: 24px;
  display: block;
  position: absolute;
  top: 0px;
  left: 0%;
}
.frame24 {
  width: 30.53%;
  height: 20px;
  display: block;
  position: absolute;
  top: 2px;
  left: 0%;
}
.rectangle24 {
  width: 100.5%;
  height: 20px;
  display: block;
  position: absolute;
  top: 0px;
  left: 0%;
}
.box___9V5G2 {
  display: block;
  font-size: 16px;
  font-family: "Roboto";
  font-weight: 400;
  letter-spacing: 0em;
  line-height: 24px;
  color: rgba(208, 212, 218, 1);
  position: absolute;
  top: -2px;
  left: 0%;
  width: 100.5%;
}
.frame25 {
  width: 100.11%;
  height: 24px;
  display: block;
  position: absolute;
  top: 120px;
  left: 0%;
}
.rectangle25 {
  width: 100.11%;
  height: 24px;
  display: block;
  position: absolute;
  top: 0px;
  left: 0%;
}
.frame26 {
  width: 22.03%;
  height: 20px;
  display: block;
  position: absolute;
  top: 2px;
  left: 0%;
}
.rectangle26 {
  width: 100.5%;
  height: 20px;
  display: block;
  position: absolute;
  top: 0px;
  left: 0%;
}
.frame27 {
  transform: translate(0.08000000000004093px, 0px);
  width: 48.65%;
  height: 220px;
  display: block;
  position: relative;
  top: auto;
  left: auto;
  flex-shrink: 0;
}
.rectangle27 {
  width: 100.13%;
  height: 220px;
  display: block;
  position: absolute;
  top: 0px;
  left: 0%;
}
.frame28 {
  width: 47.15%;
  height: 220px;
  display: block;
  position: absolute;
  top: 0px;
  left: 0%;
}
.rectangle28 {
  width: 100.11%;
  height: 220px;
  display: block;
  position: absolute;
  top: 0px;
  left: 0%;
}
.frame29 {
  width: 100.11%;
  height: 184px;
  display: block;
  position: absolute;
  top: 36px;
  left: 0%;
}
.rectangle29 {
  width: 100.11%;
  height: 184px;
  display: block;
  position: absolute;
  top: 0px;
  left: 0%;
}
.frame30 {
  width: 100.11%;
  height: 24px;
  display: block;
  position: absolute;
  top: 0px;
  left: 0%;
}
.rectangle30 {
  width: 100.11%;
  height: 24px;
  display: block;
  position: absolute;
  top: 0px;
  left: 0%;
}
.frame31 {
  width: 17%;
  height: 20px;
  display: block;
  position: absolute;
  top: 2px;
  left: 0%;
}
.rectangle31 {
  width: 100.5%;
  height: 20px;
  display: block;
  position: absolute;
  top: 0px;
  left: 0%;
}
.box__wVMg {
  display: block;
  font-size: 16px;
  font-family: "Roboto";
  font-weight: 400;
  letter-spacing: 0em;
  line-height: 24px;
  color: rgba(208, 212, 218, 1);
  position: absolute;
  top: -2px;
  left: 0%;
  width: 100.5%;
}
.frame32 {
  width: 100.11%;
  height: 24px;
  display: block;
  position: absolute;
  top: 80px;
  left: 0%;
}
.rectangle32 {
  width: 100.11%;
  height: 24px;
  display: block;
  position: absolute;
  top: 0px;
  left: 0%;
}
.frame33 {
  width: 14.3%;
  height: 20px;
  display: block;
  position: absolute;
  top: 2px;
  left: 0%;
}
.rectangle33 {
  width: 100.5%;
  height: 20px;
  display: block;
  position: absolute;
  top: 0px;
  left: 0%;
}
.box__s4Ksb {
  display: block;
  font-size: 16px;
  font-family: "Roboto";
  font-weight: 400;
  letter-spacing: 0em;
  line-height: 24px;
  color: rgba(208, 212, 218, 1);
  position: absolute;
  top: -2px;
  left: 0%;
  width: 100.5%;
}
.frame34 {
  width: 100.11%;
  height: 24px;
  display: block;
  position: absolute;
  top: 160px;
  left: 0%;
}
.rectangle34 {
  width: 100.11%;
  height: 24px;
  display: block;
  position: absolute;
  top: 0px;
  left: 0%;
}
.frame35 {
  width: 24.35%;
  height: 20px;
  display: block;
  position: absolute;
  top: 2px;
  left: 0%;
}
.rectangle35 {
  width: 100.5%;
  height: 20px;
  display: block;
  position: absolute;
  top: 0px;
  left: 0%;
}
.box__f7Rpe {
  display: block;
  font-size: 16px;
  font-family: "Roboto";
  font-weight: 400;
  letter-spacing: 0em;
  line-height: 24px;
  color: rgba(208, 212, 218, 1);
  position: absolute;
  top: -2px;
  left: 0%;
  width: 100.5%;
}
.frame36 {
  width: 100.11%;
  height: 24px;
  display: block;
  position: absolute;
  top: 40px;
  left: 0%;
}
.rectangle36 {
  width: 100.11%;
  height: 24px;
  display: block;
  position: absolute;
  top: 0px;
  left: 0%;
}
.frame37 {
  width: 12.75%;
  height: 20px;
  display: block;
  position: absolute;
  top: 2px;
  left: 0%;
}
.rectangle37 {
  width: 100.5%;
  height: 20px;
  display: block;
  position: absolute;
  top: 0px;
  left: 0%;
}
.box__pUTtd {
  display: block;
  font-size: 16px;
  font-family: "Roboto";
  font-weight: 400;
  letter-spacing: 0em;
  line-height: 24px;
  color: rgba(208, 212, 218, 1);
  position: absolute;
  top: 0px;
  left: 0%;
  width: 167.5%;
  height: 27px;
}
.frame38 {
  width: 100.11%;
  height: 24px;
  display: block;
  position: absolute;
  top: 120px;
  left: 0%;
}
.rectangle38 {
  width: 100.11%;
  height: 24px;
  display: block;
  position: absolute;
  top: 0px;
  left: 0%;
}
.frame39 {
  width: 15.84%;
  height: 20px;
  display: block;
  position: absolute;
  top: 2px;
  left: 0%;
}
.rectangle39 {
  width: 100.5%;
  height: 20px;
  display: block;
  position: absolute;
  top: 0px;
  left: 0%;
}
.box__fqgru {
  display: block;
  font-size: 16px;
  font-family: "Roboto";
  font-weight: 400;
  letter-spacing: 0em;
  line-height: 24px;
  color: rgba(208, 212, 218, 1);
  position: absolute;
  top: -2px;
  left: 0%;
  width: 100.5%;
}
.frame40 {
  width: 100.11%;
  height: 20px;
  display: block;
  position: absolute;
  top: 0px;
  left: 0%;
}
.rectangle40 {
  width: 100.11%;
  height: 20px;
  display: block;
  position: absolute;
  top: 0px;
  left: 0%;
}
.box__mBqu8 {
  display: block;
  font-size: 14px;
  text-transform: uppercase;
  font-family: "Roboto";
  font-weight: 400;
  letter-spacing: 0.699px;
  line-height: 20px;
  color: rgb(232, 17, 85);
  position: absolute;
  top: 0px;
  left: 0%;
  width: 29.76%;
}
.frame41 {
  transform: translate(-0.45999999999997954px, 0px);
  width: 47.15%;
  height: 220px;
  display: block;
  position: absolute;
  top: 0px;
  left: 52.98%;
}
.rectangle41 {
  width: 100.11%;
  height: 220px;
  display: block;
  position: absolute;
  top: 0px;
  left: 0%;
}
.frame42 {
  width: 100.11%;
  height: 20px;
  display: block;
  position: absolute;
  top: 0px;
  left: 0%;
}
.rectangle42 {
  width: 100.11%;
  height: 20px;
  display: block;
  position: absolute;
  top: 0px;
  left: 0%;
}
.box__xhFdd {
  display: block;
  font-size: 14px;
  text-transform: uppercase;
  font-family: "Roboto";
  font-weight: 400;
  letter-spacing: 0.699px;
  line-height: 20px;
  color: rgb(232, 17, 85);
  position: absolute;
  top: 0px;
  left: 0%;
  width: 18.55%;
}
.frame43 {
  width: 100.11%;
  height: 104px;
  display: block;
  position: absolute;
  top: 36px;
  left: 0%;
}
.rectangle43 {
  width: 100.11%;
  height: 104px;
  display: block;
  position: absolute;
  top: 0px;
  left: 0%;
}
.frame44 {
  width: 100.11%;
  height: 24px;
  display: block;
  position: absolute;
  top: 0px;
  left: 0%;
}
.rectangle44 {
  width: 100.11%;
  height: 24px;
  display: block;
  position: absolute;
  top: 0px;
  left: 0%;
}
.frame45 {
  width: 15.07%;
  height: 20px;
  display: block;
  position: absolute;
  top: 2px;
  left: 0%;
}
.rectangle45 {
  width: 100.5%;
  height: 20px;
  display: block;
  position: absolute;
  top: 0px;
  left: 0%;
}
.box__tcFfg {
  display: block;
  font-size: 15px;
  font-family: "Roboto";
  font-weight: 400;
  letter-spacing: 0em;
  line-height: 24px;
  color: rgba(208, 212, 218, 1);
  position: absolute;
  top: -2px;
  left: 0%;
  width: 219.04%;
  height: 27px;
}
.frame46 {
  width: 100.11%;
  height: 24px;
  display: block;
  position: absolute;
  top: 40px;
  left: 0%;
}
.rectangle46 {
  width: 100.11%;
  height: 24px;
  display: block;
  position: absolute;
  top: 0px;
  left: 0%;
}
.frame47 {
  width: 21.26%;
  height: 20px;
  display: block;
  position: absolute;
  top: 2px;
  left: 0%;
}
.rectangle47 {
  width: 100.5%;
  height: 20px;
  display: block;
  position: absolute;
  top: 0px;
  left: 0%;
}
.box__zqxNt {
  display: block;
  font-size: 16px;
  font-family: "Roboto";
  font-weight: 400;
  letter-spacing: 0em;
  line-height: 24px;
  color: rgba(208, 212, 218, 1);
  position: absolute;
  top: -2px;
  left: 0%;
  width: 100.5%;
}
.frame48 {
  width: 100.11%;
  height: 24px;
  display: block;
  position: absolute;
  top: 80px;
  left: 0%;
}
.rectangle48 {
  width: 100.11%;
  height: 24px;
  display: block;
  position: absolute;
  top: 0px;
  left: 0%;
}
.frame49 {
  width: 17.39%;
  height: 20px;
  display: block;
  position: absolute;
  top: 2px;
  left: 0%;
}
.rectangle49 {
  width: 100.5%;
  height: 20px;
  display: block;
  position: absolute;
  top: 0px;
  left: 0%;
}
.rectangle50 {
  width: 100.06%;
  height: 57px;
  display: block;
  position: relative;
  top: auto;
  left: auto;
  flex-shrink: 0;
}
.rectangle52 {
  transform: translate(0.16000000000000014px, 0px);
  width: 100.06%;
  height: 1px;
  display: block;
  position: relative;
  top: auto;
  left: auto;
  flex-shrink: 0;
  background: rgba(54, 64, 80, 1);
}
.allRightsReserved {
  width: 27.07%;
  height: 24px;
  display: block;
  position: relative;
  top: auto;
  left: auto;
  flex-shrink: 0;
}
.rectangle51 {
  width: 100.17%;
  height: 24px;
  display: block;
  position: absolute;
  top: 0px;
  left: 0%;
}
.box__iXgn0 {
  display: block;
  font-size: 16px;
  font-family: "Roboto";
  font-weight: 400;
  letter-spacing: 0em;
  line-height: 24px;
  color: rgb(5, 5, 5) /* plasmic-token: NEon4Y--Z */;
  position: absolute;
  top: 0px;
  left: 11%;
  width: 340.6%;
  height: 84px;
}
