.table {
  width: 100%;
  display: flex;
  position: relative;
  height: 100%;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: baseline;
  padding-left: 50px;
  min-width: 0;
  min-height: 0;
}
