.e-waste-code-finder3 {
  letter-spacing: 0.00px;
  line-height: 20px;
  min-height: 20px;
  white-space: nowrap;
  width: 202px;
}
.frame-71 {
  align-items: flex-end;
  display: flex;
  height: 61px;
  left: 0px;
  min-width: 355px;
  padding: 20px 30.0px;
  position: absolute;
  top: 0px;
}
.frame-722 {
  padding: 9px 30.0px;
}
.frame-732 {
  padding: 10px 30.0px;
}
