.alexander-ant-y-dr-m-unsplash-1 {
  height: 576px;
  width: 1024px;
}
.colorlogotransparent-25 {
  height: 74px;
  left: 0px;
  object-fit: cover;
  position: absolute;
  top: 10px;
  width: 102px;
}
.content-14 {
  height: 628px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1024px;
}
.content-22 {
  align-items: flex-start;
  display: flex;
  height: 400px;
  left: 50px;
  overflow: hidden;
  padding: 5px 0;
  position: absolute;
  top: 7px;
  width: 974px;
}
.content5 {
  align-items: flex-end;
  display: flex;
  height: 628px;
  overflow: hidden;
  width: 1024px;
}
.flex-col2 {
  align-items: flex-start;
  align-self: flex-end;
  display: flex;
  flex-direction: column;
  margin-left: -1px;
  min-height: 362px;
  position: relative;
  width: 574px;
}
.footer5 {
  align-items: flex-start;
  background-color: var(--mine-shaft);
  display: flex;
  margin-top: 20px;
  overflow: hidden;
  width: 1024px;
}
.ipad-pro-1024 {
  align-items: flex-start;
  background-color: var(--mine-shaft);
  display: flex;
  flex-direction: column;
  height: 1366px;
  width: 1024px;
}
.ipad-pro-1024-item {
  align-items: flex-start;
  display: flex;
  width: 1024px;
}
.overlap-group15 {
  height: 638px;
  margin-bottom: -20px;
  position: relative;
  width: 1024px;
}
.overlap-group62 {
  height: 90px;
  position: relative;
  width: 1011px;
}
.overlap-group7 {
  height: 52px;
  position: relative;
  width: 1026px;
}
.rectangle-135 {
  height: 90px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1011px;
}
.rectangle-6 {
  height: 52px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1013px;
}
.rectangle4 {
  height: 172px;
  margin-left: 52px;
  margin-top: 41px;
  object-fit: cover;
  width: 282px;
}
.span07 {
  color: rgba(51,51,51,1.0);
  letter-spacing: 0.26px;
  line-height: 13px;
}
.span17 {
  color: rgba(142,13,221,1.0);
  letter-spacing: 0.26px;
  line-height: 13px;
}
.text-20 {
  color: rgba(253,245,245,1.0);
  font-family: 'Inter', Helvetica;
  font-size: 12px;
  font-weight: 500;
  left: 31px;
  letter-spacing: 0.00px;
  line-height: 24px;
  position: absolute;
  top: 0px;
  width: 995px;
}
.text-21 {
  color: transparent;
  font-family: 'Roboto', Helvetica;
  font-size: 13px;
  letter-spacing: 2.00px;
  line-height: 27px;
  margin-left: 1.0px;
  margin-top: 22px;
  min-height: 135px;
  width: 573px;
}
.text-22 {
  color: var(--ocean-blue-pearl);
  font-family: 'Roboto', Helvetica;
  font-size: 28px;
  height: 85px;
  letter-spacing: 2.00px;
  line-height: 42.5px;
  margin-left: 1px;
  margin-top: 22px;
  min-height: 85px;
  width: 573px;
}
.text-23 {
  color: var(--mirage);
  font-family: 'Roboto', Helvetica;
  font-size: 48px;
  letter-spacing: 1.50px;
  line-height: 20px;
  margin-left: 1px;
  min-height: 26px;
  width: 505px;
}
.text-24 {
  color: rgba(224,224,224,1.0);
  font-family: 'Iowan Old Style-Roman', Helvetica;
  font-size: 24px;
  height: 48px;
  left: 195px;
  letter-spacing: 0.00px;
  line-height: 24px;
  position: absolute;
  text-align: center;
  top: 22px;
  width: 471px;
}
