 .Features__frame2Features__gnQ19 {
        width: 100%;
display: block;
position: relative;
height: 1437px;
min-width: 0;
background: linear-gradient(62deg, rgb(233,131,22) 0%, rgb(224,62,40) 100%);
      } 
 .Features__features__zLrrB {
        width: 100%;
height: 1369px;
display: flex;
position: absolute;
top: 10px;
left: auto;
flex-direction: column;
align-items: center;
justify-content: flex-start;
min-width: 0;
      } 
 .Features__alternativeSideBySideWithImagesDesktop__ztP9I {
        width: 100%;
height: 1388px;
display: flex;
position: relative;
overflow: hidden;
flex-direction: column;
align-items: center;
justify-content: flex-start;
padding-top: 96px;
padding-bottom: 96px;
min-width: 0;
flex-shrink: 0;
      } 
 .Features__container3__r04OL {
        width: 100%;
height: 1178px;
display: flex;
position: relative;
flex-direction: column;
padding-left: 60px;
padding-right: 32px;
align-self: center;
margin-left: 0px;
min-width: 0;
flex-shrink: 0;
      } 
 .Features__container3__r04OL > .__wab_flex-container {
        flex-direction: column;
align-items: center;
justify-content: flex-start;
margin-top: calc(0px - 96px);
height: calc(100% + 96px);
      } 
 .Features__container3__r04OL > .__wab_flex-container > *, .Features__container3__r04OL > .__wab_flex-container > .__wab_slot > * {
        margin-top: 96px;
      } 
 .Features__retireOutdatedElectronics__vBj0 {
        width: 100%;
height: auto;
display: flex;
position: relative;
align-self: stretch;
flex-direction: column;
z-index: 0;
min-width: 0;
      } 
 .Features__retireOutdatedElectronics__vBj0 > .__wab_flex-container {
        flex-direction: column;
align-items: center;
justify-content: flex-start;
margin-top: calc(0px - 16px);
height: calc(100% + 16px);
      } 
 .Features__retireOutdatedElectronics__vBj0 > .__wab_flex-container > *, .Features__retireOutdatedElectronics__vBj0 > .__wab_flex-container > .__wab_slot > * {
        margin-top: 16px;
      } 
 .Features__box__hgJ0T {
        display: block;
font-size: 50px;
text-align: center;
text-transform: undefined;
text-decoration-line: undefined;
font-family: "Inter";
font-weight: 800;
letter-spacing: -0.025em;
line-height: 45px;
color: rgba(16, 23, 38, 1);
align-self: stretch;
position: relative;
      } 
 .Features__supportingText2__tGmhz {
        display: block;
font-size: 20px;
text-align: center;
text-transform: undefined;
text-decoration-line: undefined;
font-family: "Inter";
font-weight: 400;
letter-spacing: 0em;
line-height: 28px;
color: rgba(255, 255, 255, 1);
position: relative;
width: 768px;
      } 
 .Features__solveUniqueProblems___1L5Ou {
        width: 100%;
height: auto;
display: flex;
position: relative;
align-self: stretch;
flex-direction: row;
padding-top: 0px;
padding-bottom: 69px;
min-width: 0;
      } 
 .Features__solveUniqueProblems___1L5Ou > .__wab_flex-container {
        flex-direction: row;
align-items: flex-start;
justify-content: center;
margin-left: calc(0px - 32px);
width: calc(100% + 32px);
      } 
 .Features__solveUniqueProblems___1L5Ou > .__wab_flex-container > *, .Features__solveUniqueProblems___1L5Ou > .__wab_flex-container > .__wab_slot > * {
        margin-left: 32px;
      } 
 .Features__leadingContent2__y1Ohl {
        width: undefined;
height: auto;
display: flex;
position: relative;
flex-grow: 1;
flex-direction: column;
      } 
 .Features__leadingContent2__y1Ohl > .__wab_flex-container {
        flex-direction: column;
align-items: flex-start;
justify-content: flex-start;
margin-top: calc(0px - 40px);
height: calc(100% + 40px);
      } 
 .Features__leadingContent2__y1Ohl > .__wab_flex-container > *, .Features__leadingContent2__y1Ohl > .__wab_flex-container > .__wab_slot > * {
        margin-top: 40px;
      } 
 .Features__header2__qd9Kt {
        width: undefined;
height: auto;
display: flex;
position: relative;
align-self: stretch;
flex-direction: column;
      } 
 .Features__header2__qd9Kt > .__wab_flex-container {
        flex-direction: column;
align-items: flex-start;
justify-content: flex-start;
margin-top: calc(0px - 12px);
height: calc(100% + 12px);
      } 
 .Features__header2__qd9Kt > .__wab_flex-container > *, .Features__header2__qd9Kt > .__wab_flex-container > .__wab_slot > * {
        margin-top: 12px;
      } 
 .Features__box__mrmo {
        display: block;
font-size: 30px;
text-align: undefined;
text-transform: undefined;
text-decoration-line: undefined;
font-family: "Inter";
font-weight: 800;
letter-spacing: -0.025em;
line-height: 36px;
color: rgba(16, 23, 38, 1);
align-self: stretch;
position: relative;
      } 
 .Features__supportingText3__x0Uju {
        display: block;
font-size: 18px;
text-align: undefined;
text-transform: undefined;
text-decoration-line: undefined;
font-family: "Inter";
font-weight: 400;
letter-spacing: 0em;
line-height: 28px;
color: rgba(255, 255, 255, 1);
align-self: stretch;
position: relative;
      } 
 .Features__features2___9VmfY {
        width: undefined;
height: auto;
display: flex;
position: relative;
align-self: stretch;
flex-direction: column;
      } 
 .Features__features2___9VmfY > .__wab_flex-container {
        flex-direction: column;
align-items: flex-start;
justify-content: flex-start;
margin-top: calc(0px - 40px);
height: calc(100% + 40px);
      } 
 .Features__features2___9VmfY > .__wab_flex-container > *, .Features__features2___9VmfY > .__wab_flex-container > .__wab_slot > * {
        margin-top: 40px;
      } 
 .Features__featureSectionsFeature__lXsna {
        width: undefined;
height: auto;
display: flex;
position: relative;
align-self: stretch;
flex-direction: row;
      } 
 .Features__featureSectionsFeature__lXsna > .__wab_flex-container {
        flex-direction: row;
align-items: flex-start;
justify-content: flex-start;
margin-left: calc(0px - 16px);
width: calc(100% + 16px);
      } 
 .Features__featureSectionsFeature__lXsna > .__wab_flex-container > *, .Features__featureSectionsFeature__lXsna > .__wab_flex-container > .__wab_slot > * {
        margin-left: 16px;
      } 
 .Features__brandIcon__xPe9 {
        width: 48px;
height: 48px;
display: flex;
position: relative;
flex-direction: row;
align-items: center;
justify-content: center;
flex-shrink: 0;
border-radius: 6px;
background: rgba(98, 102, 240, 1);
      } 
 .Features__svg__nqShf {
        position: relative;
object-fit: cover;
width: 24px;
height: 24px;
color: #fff;
display: block;
flex-shrink: 0;
      } 
 .Features__content3__jxRP {
        width: undefined;
height: auto;
display: flex;
position: relative;
flex-grow: 1;
flex-direction: column;
      } 
 .Features__content3__jxRP > .__wab_flex-container {
        flex-direction: column;
align-items: flex-start;
justify-content: flex-start;
margin-top: calc(0px - 8px);
height: calc(100% + 8px);
      } 
 .Features__content3__jxRP > .__wab_flex-container > *, .Features__content3__jxRP > .__wab_flex-container > .__wab_slot > * {
        margin-top: 8px;
      } 
 .Features__box__cH24B {
        display: block;
font-size: 18px;
text-align: undefined;
text-transform: undefined;
text-decoration-line: undefined;
font-family: "Inter";
font-weight: 500;
letter-spacing: 0em;
line-height: 24px;
color: rgba(16, 23, 38, 1);
align-self: stretch;
position: relative;
      } 
 .Features__description__yyVo8 {
        display: block;
font-size: 16px;
text-align: undefined;
text-transform: undefined;
text-decoration-line: undefined;
font-family: "Inter";
font-weight: 400;
letter-spacing: 0em;
line-height: 24px;
color: rgba(255, 255, 255, 1);
align-self: stretch;
position: relative;
      } 
 .Features__featureSectionsFeature2__kF8Il {
        width: undefined;
height: auto;
display: flex;
position: relative;
align-self: stretch;
flex-direction: row;
      } 
 .Features__featureSectionsFeature2__kF8Il > .__wab_flex-container {
        flex-direction: row;
align-items: flex-start;
justify-content: flex-start;
margin-left: calc(0px - 16px);
width: calc(100% + 16px);
      } 
 .Features__featureSectionsFeature2__kF8Il > .__wab_flex-container > *, .Features__featureSectionsFeature2__kF8Il > .__wab_flex-container > .__wab_slot > * {
        margin-left: 16px;
      } 
 .Features__brandIcon2___2JJqj {
        width: 48px;
height: 48px;
display: flex;
position: relative;
flex-direction: row;
align-items: center;
justify-content: center;
flex-shrink: 0;
border-radius: 6px;
background: rgba(98, 102, 240, 1);
      } 
 .Features__svg__g4DRm {
        position: relative;
object-fit: cover;
width: 24px;
height: 24px;
color: #fff;
display: block;
flex-shrink: 0;
      } 
 .Features__content4__eioYc {
        width: undefined;
height: auto;
display: flex;
position: relative;
flex-grow: 1;
flex-direction: column;
      } 
 .Features__content4__eioYc > .__wab_flex-container {
        flex-direction: column;
align-items: flex-start;
justify-content: flex-start;
margin-top: calc(0px - 8px);
height: calc(100% + 8px);
      } 
 .Features__content4__eioYc > .__wab_flex-container > *, .Features__content4__eioYc > .__wab_flex-container > .__wab_slot > * {
        margin-top: 8px;
      } 
 .Features__title__iPltX {
        display: block;
font-size: 18px;
text-align: undefined;
text-transform: undefined;
text-decoration-line: undefined;
font-family: "Inter";
font-weight: 500;
letter-spacing: 0em;
line-height: 24px;
color: rgba(16, 23, 38, 1);
align-self: stretch;
position: relative;
      } 
 .Features__description2___3QdGc {
        display: block;
font-size: 16px;
text-align: undefined;
text-transform: undefined;
text-decoration-line: undefined;
font-family: "Inter";
font-weight: 400;
letter-spacing: 0em;
line-height: 24px;
color: rgba(255, 255, 255, 1);
align-self: stretch;
position: relative;
      } 
 .Features__featureSectionsFeature3__inpni {
        width: undefined;
height: auto;
display: flex;
position: relative;
align-self: stretch;
flex-direction: row;
      } 
 .Features__featureSectionsFeature3__inpni > .__wab_flex-container {
        flex-direction: row;
align-items: flex-start;
justify-content: flex-start;
margin-left: calc(0px - 16px);
width: calc(100% + 16px);
      } 
 .Features__featureSectionsFeature3__inpni > .__wab_flex-container > *, .Features__featureSectionsFeature3__inpni > .__wab_flex-container > .__wab_slot > * {
        margin-left: 16px;
      } 
 .Features__brandIcon3___1Z8ZO {
        width: 48px;
height: 48px;
display: flex;
position: relative;
flex-direction: row;
align-items: center;
justify-content: center;
flex-shrink: 0;
border-radius: 6px;
background: rgba(98, 102, 240, 1);
      } 
 .Features__svg__f8MXm {
        position: relative;
object-fit: cover;
width: 24px;
height: 24px;
color: #fff;
display: block;
flex-shrink: 0;
      } 
 .Features__content5___4Ozbo {
        width: undefined;
height: auto;
display: flex;
position: relative;
flex-grow: 1;
flex-direction: column;
      } 
 .Features__content5___4Ozbo > .__wab_flex-container {
        flex-direction: column;
align-items: flex-start;
justify-content: flex-start;
margin-top: calc(0px - 8px);
height: calc(100% + 8px);
      } 
 .Features__content5___4Ozbo > .__wab_flex-container > *, .Features__content5___4Ozbo > .__wab_flex-container > .__wab_slot > * {
        margin-top: 8px;
      } 
 .Features__title2__vDppB {
        display: block;
font-size: 18px;
text-align: undefined;
text-transform: undefined;
text-decoration-line: undefined;
font-family: "Inter";
font-weight: 500;
letter-spacing: 0em;
line-height: 24px;
color: rgba(16, 23, 38, 1);
align-self: stretch;
position: relative;
      } 
 .Features__description3__njcT {
        display: block;
font-size: 16px;
text-align: undefined;
text-transform: undefined;
text-decoration-line: undefined;
font-family: "Inter";
font-weight: 400;
letter-spacing: 0em;
line-height: 24px;
color: rgba(255, 255, 255, 1);
align-self: stretch;
position: relative;
      } 
 .Features__image__lv3Qr {
        width: 344px;
display: block;
position: relative;
flex-grow: 1;
height: 361px;
align-self: center;
flex-direction: row;
flex-shrink: 0;
background: var(--image-tKQwJl5pG) center center / cover no-repeat padding-box border-box scroll;
      } 
 .Features__sharedDotPattern__g8Dlg {
        mix-blend-mode: normal;
width: 404px;
height: 784px;
display: block;
position: absolute;
top: 0px;
overflow: hidden;
left: 0px;
      } 
 .Features__grid__e9OGp {
        width: 418px;
height: 686px;
display: flex;
position: absolute;
top: -200px;
left: 211px;
flex-direction: row;
bottom: auto;
right: auto;
background: var(--image-YoVPJYRT3);
      } 
 .Features__grid__e9OGp > .__wab_flex-container {
        flex-direction: row;
align-items: flex-start;
justify-content: flex-start;
margin-left: calc(0px - 16px);
width: calc(100% + 16px);
      } 
 .Features__grid__e9OGp > .__wab_flex-container > *, .Features__grid__e9OGp > .__wab_flex-container > .__wab_slot > * {
        margin-left: 16px;
      } 
 .Features__column__mMiBg {
        width: auto;
height: auto;
display: inline-flex;
position: relative;
flex-direction: column;
      } 
 .Features__column__mMiBg > .__wab_flex-container {
        flex-direction: column;
align-items: flex-start;
justify-content: flex-start;
margin-top: calc(0px - 16px);
height: calc(100% + 16px);
      } 
 .Features__column__mMiBg > .__wab_flex-container > *, .Features__column__mMiBg > .__wab_flex-container > .__wab_slot > * {
        margin-top: 16px;
      } 
 .Features__pattern__cg6 {
        width: 404px;
height: 404px;
display: block;
position: relative;
flex-shrink: 0;
      } 
 .Features__pattern2__qae2Y {
        width: 404px;
height: 404px;
display: block;
position: relative;
flex-shrink: 0;
      } 
 .Features__pattern3__xzGMt {
        width: 404px;
height: 404px;
display: block;
position: relative;
flex-shrink: 0;
      } 
 .Features__column2__uxGeY {
        width: 392px;
height: 1238px;
display: flex;
position: relative;
flex-direction: column;
padding-left: 217px;
flex-shrink: 0;
      } 
 .Features__column2__uxGeY > .__wab_flex-container {
        flex-direction: column;
align-items: flex-end;
justify-content: flex-start;
margin-top: calc(0px - 16px);
height: calc(100% + 16px);
      } 
 .Features__column2__uxGeY > .__wab_flex-container > *, .Features__column2__uxGeY > .__wab_flex-container > .__wab_slot > * {
        margin-top: 16px;
      } 
 .Features__pattern4__s27Xm {
        width: 404px;
height: 404px;
display: flex;
position: relative;
flex-direction: column;
justify-content: flex-end;
align-items: flex-end;
margin-left: 0px;
flex-shrink: 0;
background: var(--image-YoVPJYRT3);
      } 
 .Features__pattern5__vHwkp {
        width: 304px;
height: 404px;
display: flex;
position: relative;
align-self: flex-start;
margin-right: 0px;
flex-direction: column;
justify-content: space-between;
padding-left: 0px;
flex-shrink: 0;
background: var(--image-YoVPJYRT3) 0% 0% / contain;
      } 
 .Features__pattern6__qovm2 {
        width: 404px;
height: 404px;
display: block;
position: relative;
flex-shrink: 0;
      } 
 .Features__column3__huzr {
        width: auto;
height: auto;
display: inline-flex;
position: relative;
flex-direction: column;
      } 
 .Features__column3__huzr > .__wab_flex-container {
        flex-direction: column;
align-items: flex-start;
justify-content: flex-start;
margin-top: calc(0px - 16px);
height: calc(100% + 16px);
      } 
 .Features__column3__huzr > .__wab_flex-container > *, .Features__column3__huzr > .__wab_flex-container > .__wab_slot > * {
        margin-top: 16px;
      } 
 .Features__pattern7__w90Qd {
        width: 404px;
height: 404px;
display: block;
position: relative;
flex-shrink: 0;
      } 
 .Features__pattern8__hiUjC {
        width: 404px;
height: 404px;
display: block;
position: relative;
flex-shrink: 0;
      } 
 .Features__pattern9___9UqQt {
        width: 404px;
height: 404px;
display: block;
position: relative;
flex-shrink: 0;
      } 
 .Features__featureExample__d0Ia {
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25), inset 0px 0px 0px 1px rgba(0, 0, 0, 1);
width: 490px;
height: 570px;
display: block;
position: absolute;
top: 0;
left: 0;
bottom: auto;
right: auto;
background: var(--image-tKQwJl5pG) center center / cover no-repeat padding-box border-box scroll;
      } 
 .Features__alwaysInTheLoop___7FFvr {
        width: undefined;
height: auto;
display: flex;
position: relative;
align-self: stretch;
flex-direction: row;
      } 
 .Features__alwaysInTheLoop___7FFvr > .__wab_flex-container {
        flex-direction: row;
align-items: flex-start;
justify-content: center;
margin-left: calc(0px - 32px);
width: calc(100% + 32px);
      } 
 .Features__alwaysInTheLoop___7FFvr > .__wab_flex-container > *, .Features__alwaysInTheLoop___7FFvr > .__wab_flex-container > .__wab_slot > * {
        margin-left: 32px;
      } 
 .Features__image2___7Plyv {
        width: 419px;
height: 319px;
display: block;
position: relative;
flex-grow: 1;
flex-shrink: 0;
background: var(--image-ACRzkIv-XL) center center / cover no-repeat padding-box border-box scroll;
      } 
 .Features__sharedDotPattern2__jJeom {
        width: 404px;
height: 784px;
display: block;
position: absolute;
top: -48px;
left: -234px;
overflow: hidden;
      } 
 .Features__grid2__bvu9O {
        width: auto;
height: auto;
display: inline-flex;
position: absolute;
top: -420px;
left: -420px;
flex-direction: row;
      } 
 .Features__grid2__bvu9O > .__wab_flex-container {
        flex-direction: row;
align-items: flex-start;
justify-content: flex-start;
margin-left: calc(0px - 16px);
width: calc(100% + 16px);
      } 
 .Features__grid2__bvu9O > .__wab_flex-container > *, .Features__grid2__bvu9O > .__wab_flex-container > .__wab_slot > * {
        margin-left: 16px;
      } 
 .Features__column4___4EoH {
        width: auto;
height: auto;
display: inline-flex;
position: relative;
flex-direction: column;
      } 
 .Features__column4___4EoH > .__wab_flex-container {
        flex-direction: column;
align-items: flex-start;
justify-content: flex-start;
margin-top: calc(0px - 16px);
height: calc(100% + 16px);
      } 
 .Features__column4___4EoH > .__wab_flex-container > *, .Features__column4___4EoH > .__wab_flex-container > .__wab_slot > * {
        margin-top: 16px;
      } 
 .Features__pattern92__uYoj {
        width: 404px;
height: 404px;
display: block;
position: relative;
flex-shrink: 0;
      } 
 .Features__pattern82__ogexp {
        width: 404px;
height: 404px;
display: block;
position: relative;
flex-shrink: 0;
      } 
 .Features__pattern72__p8PPi {
        width: 404px;
height: 404px;
display: block;
position: relative;
flex-shrink: 0;
      } 
 .Features__column5___4OJlb {
        width: auto;
height: auto;
display: inline-flex;
position: relative;
flex-direction: column;
      } 
 .Features__column5___4OJlb > .__wab_flex-container {
        flex-direction: column;
align-items: flex-start;
justify-content: flex-start;
margin-top: calc(0px - 16px);
height: calc(100% + 16px);
      } 
 .Features__column5___4OJlb > .__wab_flex-container > *, .Features__column5___4OJlb > .__wab_flex-container > .__wab_slot > * {
        margin-top: 16px;
      } 
 .Features__pattern62__zMuL4 {
        width: 404px;
height: 404px;
display: block;
position: relative;
flex-shrink: 0;
      } 
 .Features__pattern52__ll4Js {
        width: 412px;
height: 390px;
display: block;
position: relative;
flex-shrink: 0;
background: var(--image-YoVPJYRT3);
      } 
 .Features__pattern42__c1SsX {
        width: 404px;
height: 404px;
display: block;
position: relative;
flex-shrink: 0;
      } 
 .Features__column6__qdOBu {
        width: auto;
height: auto;
display: inline-flex;
position: relative;
flex-direction: column;
      } 
 .Features__column6__qdOBu > .__wab_flex-container {
        flex-direction: column;
align-items: flex-start;
justify-content: flex-start;
margin-top: calc(0px - 16px);
height: calc(100% + 16px);
      } 
 .Features__column6__qdOBu > .__wab_flex-container > *, .Features__column6__qdOBu > .__wab_flex-container > .__wab_slot > * {
        margin-top: 16px;
      } 
 .Features__pattern32__puj1Y {
        width: 404px;
height: 404px;
display: block;
position: relative;
flex-shrink: 0;
      } 
 .Features__pattern22__x7Zhx {
        width: 404px;
height: 404px;
display: block;
position: relative;
flex-shrink: 0;
      } 
 .Features__pattern1__iGVpe {
        width: 404px;
height: 404px;
display: block;
position: relative;
flex-shrink: 0;
      } 
 .Features__featureExample2__gBjI6 {
        width: 490px;
height: 374px;
display: block;
position: absolute;
top: 24px;
left: 51px;
background: var(--image-tKQwJl5pG) center center / contain no-repeat padding-box border-box scroll;
      } 
 .Features__leadingContent3__b8D4Q {
        width: undefined;
height: auto;
display: flex;
position: relative;
flex-grow: 1;
flex-direction: column;
      } 
 .Features__leadingContent3__b8D4Q > .__wab_flex-container {
        flex-direction: column;
align-items: flex-start;
justify-content: flex-start;
margin-top: calc(0px - 40px);
height: calc(100% + 40px);
      } 
 .Features__leadingContent3__b8D4Q > .__wab_flex-container > *, .Features__leadingContent3__b8D4Q > .__wab_flex-container > .__wab_slot > * {
        margin-top: 40px;
      } 
 .Features__header3__ekwcN {
        width: undefined;
height: auto;
display: flex;
position: relative;
align-self: stretch;
flex-direction: column;
      } 
 .Features__header3__ekwcN > .__wab_flex-container {
        flex-direction: column;
align-items: flex-start;
justify-content: flex-start;
margin-top: calc(0px - 12px);
height: calc(100% + 12px);
      } 
 .Features__header3__ekwcN > .__wab_flex-container > *, .Features__header3__ekwcN > .__wab_flex-container > .__wab_slot > * {
        margin-top: 12px;
      } 
 .Features__box___3WX7Y {
        display: block;
font-size: 30px;
text-align: undefined;
text-transform: undefined;
text-decoration-line: undefined;
font-family: "Inter";
font-weight: 800;
letter-spacing: -0.025em;
line-height: 36px;
color: rgba(16, 23, 38, 1);
align-self: stretch;
position: relative;
      } 
 .Features__supportingText4__h7VCm {
        display: block;
font-size: 18px;
text-align: undefined;
text-transform: undefined;
text-decoration-line: undefined;
font-family: "Inter";
font-weight: 400;
letter-spacing: 0em;
line-height: 28px;
color: rgba(255, 255, 255, 1);
align-self: stretch;
position: relative;
      } 
 .Features__features3__n4B5F {
        width: undefined;
height: auto;
display: flex;
position: relative;
align-self: stretch;
flex-direction: column;
      } 
 .Features__features3__n4B5F > .__wab_flex-container {
        flex-direction: column;
align-items: flex-start;
justify-content: flex-start;
margin-top: calc(0px - 40px);
height: calc(100% + 40px);
      } 
 .Features__features3__n4B5F > .__wab_flex-container > *, .Features__features3__n4B5F > .__wab_flex-container > .__wab_slot > * {
        margin-top: 40px;
      } 
 .Features__featureSectionsFeature4__bbCg {
        width: undefined;
height: auto;
display: flex;
position: relative;
align-self: stretch;
flex-direction: row;
      } 
 .Features__featureSectionsFeature4__bbCg > .__wab_flex-container {
        flex-direction: row;
align-items: flex-start;
justify-content: flex-start;
margin-left: calc(0px - 16px);
width: calc(100% + 16px);
      } 
 .Features__featureSectionsFeature4__bbCg > .__wab_flex-container > *, .Features__featureSectionsFeature4__bbCg > .__wab_flex-container > .__wab_slot > * {
        margin-left: 16px;
      } 
 .Features__brandIcon4__vBsm3 {
        width: 48px;
height: 48px;
display: flex;
position: relative;
flex-direction: row;
align-items: center;
justify-content: center;
flex-shrink: 0;
border-radius: 6px;
background: rgba(98, 102, 240, 1);
      } 
 .Features__svg__iTdAg {
        position: relative;
object-fit: cover;
width: 24px;
height: 24px;
color: #fff;
display: block;
flex-shrink: 0;
      } 
 .Features__content6___48Ar {
        width: undefined;
height: auto;
display: flex;
position: relative;
flex-grow: 1;
flex-direction: column;
      } 
 .Features__content6___48Ar > .__wab_flex-container {
        flex-direction: column;
align-items: flex-start;
justify-content: flex-start;
margin-top: calc(0px - 8px);
height: calc(100% + 8px);
      } 
 .Features__content6___48Ar > .__wab_flex-container > *, .Features__content6___48Ar > .__wab_flex-container > .__wab_slot > * {
        margin-top: 8px;
      } 
 .Features__title3__mFIn7 {
        display: block;
font-size: 18px;
text-align: undefined;
text-transform: undefined;
text-decoration-line: undefined;
font-family: "Inter";
font-weight: 500;
letter-spacing: 0em;
line-height: 24px;
color: rgba(16, 23, 38, 1);
align-self: stretch;
position: relative;
      } 
 .Features__description4__finqI {
        display: block;
font-size: 16px;
text-align: undefined;
text-transform: undefined;
text-decoration-line: undefined;
font-family: "Inter";
font-weight: 400;
letter-spacing: 0em;
line-height: 24px;
color: rgba(255, 255, 255, 1);
align-self: stretch;
position: relative;
      } 
 .Features__featureSectionsFeature5__bnjXn {
        width: undefined;
height: auto;
display: flex;
position: relative;
align-self: stretch;
flex-direction: row;
      } 
 .Features__featureSectionsFeature5__bnjXn > .__wab_flex-container {
        flex-direction: row;
align-items: flex-start;
justify-content: flex-start;
margin-left: calc(0px - 16px);
width: calc(100% + 16px);
      } 
 .Features__featureSectionsFeature5__bnjXn > .__wab_flex-container > *, .Features__featureSectionsFeature5__bnjXn > .__wab_flex-container > .__wab_slot > * {
        margin-left: 16px;
      } 
 .Features__brandIcon5__jRjzq {
        width: 48px;
height: 48px;
display: flex;
position: relative;
flex-direction: row;
align-items: center;
justify-content: center;
flex-shrink: 0;
border-radius: 6px;
background: rgba(98, 102, 240, 1);
      } 
 .Features__svg___8Q8Iq {
        position: relative;
object-fit: cover;
width: 24px;
height: 24px;
color: #fff;
display: block;
flex-shrink: 0;
      } 
 .Features__content7__hlrBd {
        width: undefined;
height: auto;
display: flex;
position: relative;
flex-grow: 1;
flex-direction: column;
      } 
 .Features__content7__hlrBd > .__wab_flex-container {
        flex-direction: column;
align-items: flex-start;
justify-content: flex-start;
margin-top: calc(0px - 8px);
height: calc(100% + 8px);
      } 
 .Features__content7__hlrBd > .__wab_flex-container > *, .Features__content7__hlrBd > .__wab_flex-container > .__wab_slot > * {
        margin-top: 8px;
      } 
 .Features__title4__er4I {
        display: block;
font-size: 18px;
text-align: undefined;
text-transform: undefined;
text-decoration-line: undefined;
font-family: "Inter";
font-weight: 500;
letter-spacing: 0em;
line-height: 24px;
color: rgba(16, 23, 38, 1);
align-self: stretch;
position: relative;
      } 
 .Features__description5__tOnLt {
        display: block;
font-size: 16px;
text-align: undefined;
text-transform: undefined;
text-decoration-line: undefined;
font-family: "Inter";
font-weight: 400;
letter-spacing: 0em;
line-height: 24px;
color: rgba(255, 255, 255, 1);
align-self: stretch;
position: relative;
      } 