 .FeatureCard__root__l4Dz {
        display: flex;
width: 352px;
height: 195px;
position: relative;
flex-direction: column;
box-shadow: 0px 20px 25px -5px rgba(0,0,0,0.12), 0px 10px 10px -5px rgba(0,0,0,0.02);
border-radius: 5px;
padding: 20px;
background: rgb(255,255,255);
      } 
 .FeatureCard__root__l4Dz > .__wab_flex-container {
        flex-direction: column;
justify-content: center;
align-items: center;
margin-top: calc(0px - 10px);
height: calc(100% + 10px);
      } 
 .FeatureCard__root__l4Dz > .__wab_flex-container > *, .FeatureCard__root__l4Dz > .__wab_flex-container > .__wab_slot > * {
        margin-top: 10px;
      } 
 .FeatureCard__root___long__l4Dz5R1Sl {
        height: auto;
width: 100%;
display: flex;
flex-direction: row;
min-width: 0;
      } 
 .FeatureCard__root___long__l4Dz5R1Sl > .__wab_flex-container {
        flex-direction: row;
justify-content: space-between;
margin-left: calc(0px - 10px);
width: calc(100% + 10px);
margin-top: calc(0px - 0px);
height: calc(100% + 0px);
      } 
 .FeatureCard__root___long__l4Dz5R1Sl > .__wab_flex-container > *, .FeatureCard__root___long__l4Dz5R1Sl > .__wab_flex-container > .__wab_slot > * {
        margin-left: 10px;
margin-top: 0px;
      } 
 .FeatureCard__box__uCo2N {
        display: flex;
position: relative;
flex-direction: row;
align-items: center;
justify-content: center;
overflow: hidden;
border-radius: 32px;
      } 
 .FeatureCard__box__aiKeg {
        display: flex;
position: relative;
flex-direction: row;
align-items: center;
justify-content: center;
width: 64px;
height: 64px;
flex-shrink: 0;
background: rgb(23,99,207);
      } 
 .FeatureCard__svg__eZoi {
        position: relative;
object-fit: cover;
width: 48px;
height: 48px;
flex-shrink: 0;
      } 
 .FeatureCard__box___0L2Qa {
        display: flex;
position: relative;
flex-direction: column;
align-items: stretch;
justify-content: flex-start;
      } 
 .FeatureCard__box___long___0L2Qa5R1Sl {
        align-items: flex-start;
      } 
 .FeatureCard__slotDescription__dp4U6 {
        color: rgb(150,153,158) /* plasmic-token: jBhCqxBbh1U */;
text-align: center;
      } 
 .FeatureCard__slotDescription___long__dp4U65R1Sl {
        text-align: left;
      } 
 .FeatureCard__box__eLeWv {
        display: flex;
position: relative;
flex-direction: column;
align-items: stretch;
justify-content: flex-start;
      } 
 .FeatureCard__box___long__eLeWv5R1Sl {
        width: 32px;
height: 32px;
overflow: hidden;
justify-content: center;
align-items: center;
box-shadow: 1px 1px 1px 0px rgb(234,234,234) /* plasmic-token: c_41Md3nqN71- */;
flex-shrink: 0;
border-radius: 16px;
background: rgb(255,255,255);
border: 1px solid rgb(234,234,234) /* plasmic-token: c_41Md3nqN71- */;
      } 
 .FeatureCard__svg__kizJj {
        width: 16px;
height: 16px;
position: relative;
object-fit: cover;
flex-shrink: 0;
      } 