 .HomepageFinal__root__vvV8P {
        display: flex;
position: relative;
flex-direction: column;
justify-content: flex-start;
flex-wrap: wrap;
align-content: stretch;
width: 100%;
height: 100%;
min-width: 0;
min-height: 0;
background: linear-gradient(0deg, rgb(238,189,25) 0%, rgb(79,85,228) 26%, rgb(93,105,239) 35%, rgb(199,154,212) 59%, rgb(192,48,27) 81%, #F2D599 100%);
      } 
 .HomepageFinal__box__ei5Wh {
        display: flex;
flex-direction: column;
align-items: stretch;
justify-content: flex-start;
width: 100%;
height: 100%;
position: relative;
min-width: 0;
min-height: 0;
      } 
 .HomepageFinal__header2__x1Lm3.__wab_instance {
        position: relative;
top: auto;
left: auto;
height: auto;
width: 100%;
min-width: 0;
      } 
 .HomepageFinal__features2___8Qfoq.__wab_instance {
        position: relative;
top: auto;
left: auto;
width: 100%;
min-width: 0;
flex-shrink: 0;
      } 
 .HomepageFinal__table2__g8Rs0.__wab_instance {
        position: relative;
top: auto;
left: auto;
width: 100%;
height: 1339px;
align-self: center;
margin-left: 0px;
margin-right: 0px;
min-width: 0;
flex-shrink: 0;
      } 
 .HomepageFinal__footer__tx10.__wab_instance {
        position: relative;
left: auto;
top: auto;
align-self: baseline;
width: 100%;
min-width: 0;
      } 