 .Plan__root__svtm4.__wab_instance {
        position: relative;
      } 
 .Plan__box__vTz0Y {
        display: flex;
position: relative;
flex-direction: column;
align-items: stretch;
justify-content: flex-start;
      } 
 .Plan__box__fNCxB {
        display: flex;
flex-direction: column;
      } 
 .Plan__box__fNCxB > .__wab_flex-container {
        flex-direction: column;
justify-content: center;
margin-top: calc(0px - 8px);
height: calc(100% + 8px);
      } 
 .Plan__box__fNCxB > .__wab_flex-container > *, .Plan__box__fNCxB > .__wab_flex-container > .__wab_slot > * {
        margin-top: 8px;
      } 
 .Plan__box__xyEBq {
        font-size: 48px;
      } 
 .Plan__box__b8IDh {
        display: flex;
flex-direction: column;
position: relative;
      } 
 .Plan__box__b8IDh > .__wab_flex-container {
        flex-direction: column;
align-items: stretch;
justify-content: flex-start;
margin-top: calc(0px - 8px);
height: calc(100% + 8px);
      } 
 .Plan__box__b8IDh > .__wab_flex-container > *, .Plan__box__b8IDh > .__wab_flex-container > .__wab_slot > * {
        margin-top: 8px;
      } 
 .Plan__bullet__py9Rc.__wab_instance {
        position: relative;
      } 
 .Plan__bullet___0Dv1W.__wab_instance {
        position: relative;
      } 
 .Plan__bullet__aH5S.__wab_instance {
        position: relative;
      } 
 .Plan__box__eBufd {
        display: flex;
position: relative;
flex-direction: column;
align-items: center;
justify-content: flex-start;
margin-top: calc(13px + 8px) !important;
      } 