 .Table__root__ofIr {
        width: 1497px;
height: 334px;
display: flex;
flex-direction: row;
position: relative;
padding-top: 25px;
box-shadow: none;
mix-blend-mode: normal;
transition-property: all;
transition-duration: 1s;
background: linear-gradient(353deg, rgb(224,62,40) 0%, rgb(233,131,22) 100%);
border-style: solid;
border-color: rgb(233,131,22);
      } 
 .Table__root__ofIr > .__wab_flex-container {
        flex-direction: row;
justify-content: center;
align-items: flex-start;
margin-left: calc(0px - 10px);
width: calc(100% + 10px);
      } 
 .Table__root__ofIr > .__wab_flex-container > *, .Table__root__ofIr > .__wab_flex-container > .__wab_slot > * {
        margin-left: 10px;
      } 
 .Table__description9__gpCd {
        width: 304px;
height: auto;
display: flex;
position: relative;
top: auto;
left: auto;
flex-direction: column;
align-items: flex-start;
justify-content: flex-start;
flex-shrink: 0;
      } 
 .Table__rowHead___4JvBj {
        width: 304px;
height: 41px;
display: flex;
position: relative;
flex-direction: column;
align-items: flex-start;
justify-content: flex-start;
flex-shrink: 0;
padding: 1px 24px 16px;
      } 
 .Table__text31__exik0 {
        display: block;
font-size: 14px;
text-align: undefined;
text-transform: undefined;
text-decoration-line: undefined;
font-family: "Inter";
font-weight: 500;
letter-spacing: 0em;
line-height: 20px;
color: rgba(16, 23, 38, 1);
align-self: stretch;
position: relative;
      } 
 .Table__rowHead2__gnV2Q {
        width: 308px;
height: 173px;
display: flex;
position: relative;
flex-direction: column;
align-items: flex-start;
justify-content: flex-start;
flex-shrink: 0;
      } 
 .Table__topBorder61___43DfT {
        width: undefined;
height: 1px;
display: block;
position: relative;
align-self: stretch;
flex-shrink: 0;
background: rgba(228, 230, 234, 1);
      } 
 .Table__content63__oasbd {
        width: undefined;
height: undefined;
display: flex;
position: relative;
align-self: stretch;
flex-grow: 1;
flex-direction: row;
align-items: flex-start;
justify-content: flex-start;
padding: 32px 24px;
      } 
 .Table__text32__fOaCd {
        display: block;
flex-grow: 1;
font-size: 14px;
text-align: undefined;
text-transform: undefined;
text-decoration-line: undefined;
font-family: "Inter";
font-weight: 500;
letter-spacing: 0em;
line-height: 20px;
color: rgba(16, 23, 38, 1);
position: relative;
      } 
 .Table__basic4___8Znz4 {
        width: 304px;
height: auto;
display: flex;
position: relative;
top: auto;
left: auto;
flex-direction: column;
align-items: flex-start;
justify-content: flex-start;
flex-shrink: 0;
      } 
 .Table__columnHead___4P4I4 {
        width: undefined;
height: auto;
display: flex;
position: relative;
align-self: stretch;
flex-direction: column;
align-items: flex-start;
justify-content: flex-start;
padding: 1px 24px 16px;
      } 
 .Table__text33___8Blmn {
        display: block;
font-size: 18px;
text-align: undefined;
text-transform: undefined;
text-decoration-line: undefined;
font-family: "Inter";
font-weight: 500;
letter-spacing: 0em;
line-height: 24px;
color: rgba(16, 23, 38, 1);
align-self: stretch;
position: relative;
      } 
 .Table__cell__klOy {
        width: undefined;
height: 225px;
display: flex;
position: relative;
align-self: stretch;
flex-direction: column;
align-items: flex-start;
justify-content: flex-start;
flex-shrink: 0;
      } 
 .Table__topBorder62___3OE9W {
        width: undefined;
height: 1px;
display: block;
position: relative;
align-self: stretch;
flex-shrink: 0;
background: rgba(228, 230, 234, 1);
      } 
 .Table__content64__b3Yr0 {
        width: undefined;
height: undefined;
display: flex;
position: relative;
align-self: stretch;
flex-grow: 1;
flex-direction: column;
padding: 32px 24px;
      } 
 .Table__content64__b3Yr0 > .__wab_flex-container {
        flex-direction: column;
align-items: flex-start;
justify-content: flex-start;
margin-top: calc(0px - 24px);
height: calc(100% + 24px);
      } 
 .Table__content64__b3Yr0 > .__wab_flex-container > *, .Table__content64__b3Yr0 > .__wab_flex-container > .__wab_slot > * {
        margin-top: 24px;
      } 
 .Table__details__idDhM {
        width: undefined;
height: auto;
display: flex;
position: relative;
align-self: stretch;
flex-direction: column;
      } 
 .Table__details__idDhM > .__wab_flex-container {
        flex-direction: column;
align-items: flex-start;
justify-content: flex-start;
margin-top: calc(0px - 16px);
height: calc(100% + 16px);
      } 
 .Table__details__idDhM > .__wab_flex-container > *, .Table__details__idDhM > .__wab_flex-container > .__wab_slot > * {
        margin-top: 16px;
      } 
 .Table__pricing__qtg4G {
        width: undefined;
height: auto;
display: flex;
position: relative;
align-self: stretch;
flex-direction: row;
      } 
 .Table__pricing__qtg4G > .__wab_flex-container {
        flex-direction: row;
align-items: flex-end;
justify-content: flex-start;
margin-left: calc(0px - 4px);
width: calc(100% + 4px);
      } 
 .Table__pricing__qtg4G > .__wab_flex-container > *, .Table__pricing__qtg4G > .__wab_flex-container > .__wab_slot > * {
        margin-left: 4px;
      } 
 .Table__price__mRknU {
        display: block;
font-size: 36px;
text-align: undefined;
text-transform: undefined;
text-decoration-line: undefined;
font-family: "Inter";
font-weight: 800;
letter-spacing: 0em;
line-height: 40px;
color: rgba(16, 23, 38, 1);
position: relative;
      } 
 .Table__frequency__sTrF6 {
        display: block;
font-size: 16px;
text-align: undefined;
text-transform: undefined;
text-decoration-line: undefined;
font-family: "Inter";
font-weight: 500;
letter-spacing: 0em;
line-height: 24px;
color: rgba(255, 255, 255, 1);
position: relative;
      } 
 .Table__supportingText5__s80Cy {
        display: block;
font-size: 14px;
text-align: undefined;
text-transform: undefined;
text-decoration-line: undefined;
font-family: "Inter";
font-weight: 400;
letter-spacing: 0em;
line-height: 20px;
color: rgba(255, 255, 255, 1);
align-self: stretch;
position: relative;
      } 
 .Table__pricingPagesButtonLink4__hsk8I {
        width: undefined;
height: auto;
display: flex;
position: relative;
align-self: stretch;
overflow: hidden;
flex-direction: row;
align-items: center;
justify-content: center;
border-radius: 6px;
padding: 9px 17px;
background: rgba(30, 40, 54, 1);
      } 
 .Table__text34___8Uw4V {
        display: block;
font-size: 14px;
text-align: undefined;
text-transform: undefined;
text-decoration-line: undefined;
font-family: "Inter";
font-weight: 500;
letter-spacing: 0em;
line-height: 20px;
color: rgba(255, 255, 255, 1);
position: relative;
      } 
 .Table__essential4__ee6YI {
        width: 304px;
height: auto;
display: flex;
position: relative;
top: auto;
left: auto;
flex-direction: column;
align-items: flex-start;
justify-content: flex-start;
flex-shrink: 0;
      } 
 .Table__columnHead2__s1ET {
        width: undefined;
height: auto;
display: flex;
position: relative;
align-self: stretch;
flex-direction: column;
align-items: flex-start;
justify-content: flex-start;
padding: 1px 24px 16px;
      } 
 .Table__text35__lnL5N {
        display: block;
font-size: 18px;
text-align: undefined;
text-transform: undefined;
text-decoration-line: undefined;
font-family: "Inter";
font-weight: 500;
letter-spacing: 0em;
line-height: 24px;
color: rgba(16, 23, 38, 1);
align-self: stretch;
position: relative;
      } 
 .Table__cell2__oX8LN {
        width: undefined;
height: 225px;
display: flex;
position: relative;
align-self: stretch;
flex-direction: column;
align-items: flex-start;
justify-content: flex-start;
flex-shrink: 0;
      } 
 .Table__topBorder63__hhDxw {
        width: undefined;
height: 1px;
display: block;
position: relative;
align-self: stretch;
flex-shrink: 0;
background: rgba(228, 230, 234, 1);
      } 
 .Table__content65__cSuRy {
        width: undefined;
height: undefined;
display: flex;
position: relative;
align-self: stretch;
flex-grow: 1;
flex-direction: column;
padding: 32px 24px;
      } 
 .Table__content65__cSuRy > .__wab_flex-container {
        flex-direction: column;
align-items: flex-start;
justify-content: flex-start;
margin-top: calc(0px - 24px);
height: calc(100% + 24px);
      } 
 .Table__content65__cSuRy > .__wab_flex-container > *, .Table__content65__cSuRy > .__wab_flex-container > .__wab_slot > * {
        margin-top: 24px;
      } 
 .Table__details2___9ZEeb {
        width: undefined;
height: auto;
display: flex;
position: relative;
align-self: stretch;
flex-direction: column;
      } 
 .Table__details2___9ZEeb > .__wab_flex-container {
        flex-direction: column;
align-items: flex-start;
justify-content: flex-start;
margin-top: calc(0px - 16px);
height: calc(100% + 16px);
      } 
 .Table__details2___9ZEeb > .__wab_flex-container > *, .Table__details2___9ZEeb > .__wab_flex-container > .__wab_slot > * {
        margin-top: 16px;
      } 
 .Table__pricing2__wGeyA {
        width: undefined;
height: auto;
display: flex;
position: relative;
align-self: stretch;
flex-direction: row;
      } 
 .Table__pricing2__wGeyA > .__wab_flex-container {
        flex-direction: row;
align-items: flex-end;
justify-content: flex-start;
margin-left: calc(0px - 4px);
width: calc(100% + 4px);
      } 
 .Table__pricing2__wGeyA > .__wab_flex-container > *, .Table__pricing2__wGeyA > .__wab_flex-container > .__wab_slot > * {
        margin-left: 4px;
      } 
 .Table__price2__ij0Ko {
        display: block;
font-size: 36px;
text-align: undefined;
text-transform: undefined;
text-decoration-line: undefined;
font-family: "Inter";
font-weight: 800;
letter-spacing: 0em;
line-height: 40px;
color: rgba(16, 23, 38, 1);
position: relative;
      } 
 .Table__frequency2__iYhZt {
        display: block;
font-size: 16px;
text-align: undefined;
text-transform: undefined;
text-decoration-line: undefined;
font-family: "Inter";
font-weight: 500;
letter-spacing: 0em;
line-height: 24px;
color: rgba(255, 255, 255, 1);
position: relative;
      } 
 .Table__supportingText6___1YVyc {
        display: block;
font-size: 14px;
text-align: undefined;
text-transform: undefined;
text-decoration-line: undefined;
font-family: "Inter";
font-weight: 400;
letter-spacing: 0em;
line-height: 20px;
color: rgba(255, 255, 255, 1);
align-self: stretch;
position: relative;
      } 
 .Table__pricingPagesButtonLink5__rawoT {
        width: undefined;
height: auto;
display: flex;
position: relative;
align-self: stretch;
overflow: hidden;
flex-direction: row;
align-items: center;
justify-content: center;
border-radius: 6px;
padding: 9px 17px;
background: rgba(30, 40, 54, 1);
      } 
 .Table__text36__wwx6Y {
        display: block;
font-size: 14px;
text-align: undefined;
text-transform: undefined;
text-decoration-line: undefined;
font-family: "Inter";
font-weight: 500;
letter-spacing: 0em;
line-height: 20px;
color: rgba(255, 255, 255, 1);
position: relative;
      } 
 .Table__premium4__t1A2 {
        width: 304px;
height: auto;
display: flex;
position: relative;
top: auto;
left: auto;
flex-direction: column;
align-items: flex-start;
justify-content: flex-start;
flex-shrink: 0;
      } 
 .Table__columnHead3__tZSas {
        width: undefined;
height: auto;
display: flex;
position: relative;
align-self: stretch;
flex-direction: column;
align-items: flex-start;
justify-content: flex-start;
padding: 1px 24px 16px;
      } 
 .Table__text37___538Wu {
        display: block;
font-size: 18px;
text-align: undefined;
text-transform: undefined;
text-decoration-line: undefined;
font-family: "Inter";
font-weight: 500;
letter-spacing: 0em;
line-height: 24px;
color: rgba(16, 23, 38, 1);
align-self: stretch;
position: relative;
      } 
 .Table__cell3__sxsvR {
        width: undefined;
height: 225px;
display: flex;
position: relative;
align-self: stretch;
flex-direction: column;
align-items: flex-start;
justify-content: flex-start;
flex-shrink: 0;
      } 
 .Table__topBorder64__zlIyk {
        width: undefined;
height: 1px;
display: block;
position: relative;
align-self: stretch;
flex-shrink: 0;
background: rgba(228, 230, 234, 1);
      } 
 .Table__content66__dr0Yb {
        width: undefined;
height: undefined;
display: flex;
position: relative;
align-self: stretch;
flex-grow: 1;
flex-direction: column;
padding: 32px 24px;
      } 
 .Table__content66__dr0Yb > .__wab_flex-container {
        flex-direction: column;
align-items: flex-start;
justify-content: flex-start;
margin-top: calc(0px - 24px);
height: calc(100% + 24px);
      } 
 .Table__content66__dr0Yb > .__wab_flex-container > *, .Table__content66__dr0Yb > .__wab_flex-container > .__wab_slot > * {
        margin-top: 24px;
      } 
 .Table__details3__jPq2R {
        width: undefined;
height: auto;
display: flex;
position: relative;
align-self: stretch;
flex-direction: column;
      } 
 .Table__details3__jPq2R > .__wab_flex-container {
        flex-direction: column;
align-items: flex-start;
justify-content: flex-start;
margin-top: calc(0px - 16px);
height: calc(100% + 16px);
      } 
 .Table__details3__jPq2R > .__wab_flex-container > *, .Table__details3__jPq2R > .__wab_flex-container > .__wab_slot > * {
        margin-top: 16px;
      } 
 .Table__pricing3__dtbuv {
        width: undefined;
height: auto;
display: flex;
position: relative;
align-self: stretch;
flex-direction: row;
      } 
 .Table__pricing3__dtbuv > .__wab_flex-container {
        flex-direction: row;
align-items: flex-end;
justify-content: flex-start;
margin-left: calc(0px - 4px);
width: calc(100% + 4px);
      } 
 .Table__pricing3__dtbuv > .__wab_flex-container > *, .Table__pricing3__dtbuv > .__wab_flex-container > .__wab_slot > * {
        margin-left: 4px;
      } 
 .Table__price3___7ZJe {
        display: block;
font-size: 36px;
text-align: undefined;
text-transform: undefined;
text-decoration-line: undefined;
font-family: "Inter";
font-weight: 800;
letter-spacing: 0em;
line-height: 40px;
color: rgba(16, 23, 38, 1);
position: relative;
      } 
 .Table__frequency3__dYbt {
        display: block;
font-size: 16px;
text-align: undefined;
text-transform: undefined;
text-decoration-line: undefined;
font-family: "Inter";
font-weight: 500;
letter-spacing: 0em;
line-height: 24px;
color: rgba(255, 255, 255, 1);
position: relative;
      } 
 .Table__supportingText7__ycZyp {
        display: block;
font-size: 14px;
text-align: undefined;
text-transform: undefined;
text-decoration-line: undefined;
font-family: "Inter";
font-weight: 400;
letter-spacing: 0em;
line-height: 20px;
color: rgba(255, 255, 255, 1);
align-self: stretch;
position: relative;
      } 
 .Table__pricingPagesButtonLink6__q887F {
        width: undefined;
height: auto;
display: flex;
position: relative;
align-self: stretch;
overflow: hidden;
flex-direction: row;
align-items: center;
justify-content: center;
border-radius: 6px;
padding: 9px 17px;
background: rgba(30, 40, 54, 1);
      } 
 .Table__text38__w0O6J {
        display: block;
font-size: 14px;
text-align: undefined;
text-transform: undefined;
text-decoration-line: undefined;
font-family: "Inter";
font-weight: 500;
letter-spacing: 0em;
line-height: 20px;
color: rgba(255, 255, 255, 1);
position: relative;
      } 