 .Section__root__ze9Sj {
        display: flex;
width: 100%;
height: auto;
position: relative;
flex-direction: column;
max-width: 1024px;
min-width: 0;
      } 
 .Section__root__ze9Sj > .__wab_flex-container {
        flex-direction: column;
justify-content: center;
align-items: center;
margin-top: calc(0px - 16px);
height: calc(100% + 16px);
      } 
 .Section__root__ze9Sj > .__wab_flex-container > *, .Section__root__ze9Sj > .__wab_flex-container > .__wab_slot > * {
        margin-top: 16px;
      } 
 .Section__slotTitle__nqfll {
        font-size: 64px;
font-weight: 800;
text-align: center;
      } 
@media (min-width:0px) and (max-width:768px) { .Section__slotTitle__nqfll {
        font-size: 48px;
      } }
 .Section__slotSubtitle__wFfq2 {
        font-size: 20px;
text-align: center;
      } 
@media (min-width:0px) and (max-width:768px) { .Section__slotSubtitle__wFfq2 {
        font-size: 24px;
      } }