 .Footer__root__pTmlt {
        width: 100%;
display: block;
height: 100%;
position: relative;
min-width: 0;
min-height: 0;
background: linear-gradient(0deg, rgb(140,133,133) 0%, rgb(221,166,72) 100%), #535353;
      } 
 .Footer__frame__mx3G0 {
        width: 1515px;
display: flex;
position: absolute;
top: 0px;
left: auto;
flex-direction: row;
justify-content: space-between;
padding-left: 21px;
height: 440px;
      } 
 .Footer__leftFrame__yOrE {
        transform: translate(-0.16000000000000014px, 0px);
width: 521px;
height: 320px;
display: flex;
position: relative;
top: auto;
left: auto;
flex-direction: column;
justify-content: center;
align-items: baseline;
flex-wrap: wrap;
align-content: flex-start;
align-self: baseline;
margin-left: 120px;
margin-top: 41px;
flex-shrink: 0;
padding: 45px 45px 20px;
background: var(--image-3FS3Tpd7eR) 0% 0% / cover;
      } 
 .Footer__rightFrame__f1TQa {
        transform: translate(-0.16000000000000014px, 0px);
width: 707px;
height: 433px;
display: flex;
position: relative;
top: auto;
left: auto;
flex-direction: row;
justify-content: space-evenly;
align-items: center;
flex-wrap: wrap;
align-content: flex-start;
flex-shrink: 0;
padding: 45px 45px 20px;
      } 
 .Footer__frame3__zzAK {
        width: 100.06%;
height: 220px;
display: block;
position: relative;
top: auto;
left: auto;
      } 
 .Footer__rectangle3__jA2Vm {
        width: 100%;
height: 220px;
display: block;
position: absolute;
top: 0px;
left: 0%;
min-width: 0;
      } 
 .Footer__frame4__iTrH {
        width: 48.65%;
height: 220px;
display: block;
position: absolute;
top: 0px;
left: 0%;
      } 
 .Footer__rectangle4__fS1TG {
        width: 100.13%;
height: 220px;
display: block;
position: absolute;
top: 0px;
left: 0%;
      } 
 .Footer__frame5__bsK4Z {
        transform: translate(-0.45999999999997954px, 0px);
width: 47.15%;
height: 220px;
display: block;
position: absolute;
top: 0px;
left: 52.98%;
      } 
 .Footer__rectangle5__boQd5 {
        width: 100%;
height: 220px;
display: block;
position: absolute;
top: 0px;
left: 0%;
min-width: 0;
      } 
 .Footer__frame6___65CUt {
        width: 100.11%;
height: 144px;
display: block;
position: absolute;
top: 36px;
left: 0%;
      } 
 .Footer__rectangle6___8thDx {
        width: 100.11%;
height: 144px;
display: block;
position: absolute;
top: 0px;
left: 0%;
      } 
 .Footer__frame7__qwJgr {
        width: 100.11%;
height: 24px;
display: block;
position: absolute;
top: 0px;
left: 0%;
      } 
 .Footer__rectangle7___4Tai6 {
        width: 100.11%;
height: 24px;
display: block;
position: absolute;
top: 0px;
left: 0%;
      } 
 .Footer__frame8__hgzD3 {
        width: 18.94%;
height: 20px;
display: block;
position: absolute;
top: 2px;
left: 0%;
      } 
 .Footer__rectangle8__rJpTq {
        width: 100.5%;
height: 20px;
display: block;
position: absolute;
top: 0px;
left: 0%;
      } 
 .Footer__box__i5Mwu {
        display: block;
font-size: 15px;
text-align: undefined;
text-transform: undefined;
text-decoration-line: undefined;
font-family: "Roboto";
font-weight: 400;
letter-spacing: 0em;
line-height: 24px;
color: rgba(208, 212, 218, 1);
position: absolute;
top: -2px;
left: 0%;
width: 100.5%;
      } 
 .Footer__frame9__ebd2G {
        width: 100.11%;
height: 24px;
display: block;
position: absolute;
top: 80px;
left: 0%;
      } 
 .Footer__rectangle9__pSly8 {
        width: 100.11%;
height: 24px;
display: block;
position: absolute;
top: 0px;
left: 0%;
      } 
 .Footer__frame10__dq1QX {
        width: 19.32%;
height: 20px;
display: block;
position: absolute;
top: 2px;
left: 0%;
      } 
 .Footer__rectangle10__irAlX {
        width: 100.5%;
height: 20px;
display: block;
position: absolute;
top: 0px;
left: 0%;
      } 
 .Footer__box__eItuo {
        display: block;
font-size: 16px;
text-align: undefined;
text-transform: undefined;
text-decoration-line: undefined;
font-family: "Roboto";
font-weight: 400;
letter-spacing: 0em;
line-height: 24px;
color: rgba(208, 212, 218, 1);
position: absolute;
top: -2px;
left: 0%;
width: 100.5%;
      } 
 .Footer__frame11__uUp3T {
        width: 100.11%;
height: 24px;
display: block;
position: absolute;
top: 120px;
left: 0%;
      } 
 .Footer__rectangle11__zhBxb {
        width: 100.11%;
height: 24px;
display: block;
position: absolute;
top: 0px;
left: 0%;
      } 
 .Footer__frame12__bEsMq {
        width: 30.15%;
height: 20px;
display: block;
position: absolute;
top: 2px;
left: 0%;
      } 
 .Footer__rectangle12__xHyQ {
        width: 100.5%;
height: 20px;
display: block;
position: absolute;
top: 0px;
left: 0%;
      } 
 .Footer__frame13___0Gri3 {
        width: 100.11%;
height: 24px;
display: block;
position: absolute;
top: 40px;
left: 0%;
      } 
 .Footer__rectangle13__kBf7O {
        width: 100.11%;
height: 24px;
display: block;
position: absolute;
top: 0px;
left: 0%;
      } 
 .Footer__frame14___8ZQi1 {
        width: 43.67%;
height: 20px;
display: block;
position: absolute;
top: 2px;
left: 0%;
      } 
 .Footer__rectangle14__uf1Qq {
        width: 100.5%;
height: 20px;
display: block;
position: absolute;
top: 0px;
left: 0%;
      } 
 .Footer__box__u7GV4 {
        display: block;
font-size: 16px;
text-align: undefined;
text-transform: undefined;
text-decoration-line: undefined;
font-family: "Roboto";
font-weight: 400;
letter-spacing: 0em;
line-height: 24px;
color: rgba(208, 212, 218, 1);
position: absolute;
top: -2px;
left: 0%;
width: 100.5%;
      } 
 .Footer__frame15__uSto {
        width: 100.11%;
height: 20px;
display: block;
position: absolute;
top: 0px;
left: 0%;
      } 
 .Footer__rectangle15__uHu7S {
        width: 100.11%;
height: 20px;
display: block;
position: absolute;
top: 0px;
left: 0%;
      } 
 .Footer__box__c6JaZ {
        display: block;
font-size: 14px;
text-align: undefined;
text-transform: uppercase;
text-decoration-line: undefined;
font-family: "Roboto";
font-weight: 400;
letter-spacing: 0.699px;
line-height: 20px;
color: rgb(232,17,85);
position: absolute;
top: 0px;
left: 0%;
width: 27.83%;
      } 
 .Footer__frame16__jh2Rh {
        width: 47.15%;
height: 220px;
display: block;
position: absolute;
top: 0px;
left: 0%;
      } 
 .Footer__rectangle16___3PF2Z {
        width: 100.11%;
height: 220px;
display: block;
position: absolute;
top: 0px;
left: 0%;
      } 
 .Footer__frame17___9WmhE {
        width: 100.11%;
height: 20px;
display: block;
position: absolute;
top: 0px;
left: 0%;
      } 
 .Footer__rectangle17__qdf56 {
        width: 100.11%;
height: 20px;
display: block;
position: absolute;
top: 0px;
left: 0%;
      } 
 .Footer__box__vvr43 {
        display: block;
font-size: 14px;
text-align: undefined;
text-transform: uppercase;
text-decoration-line: undefined;
font-family: "Roboto";
font-weight: 400;
letter-spacing: 0.699px;
line-height: 20px;
color: rgb(232,17,85);
position: absolute;
top: 0px;
left: 0%;
width: 34.01%;
      } 
 .Footer__frame18___0SysP {
        width: 100.11%;
height: 144px;
display: block;
position: absolute;
top: 36px;
left: 0%;
      } 
 .Footer__rectangle18__zQlmM {
        width: 100.11%;
height: 144px;
display: block;
position: absolute;
top: 0px;
left: 0%;
      } 
 .Footer__frame19__hM4ZY {
        width: 100.11%;
height: 24px;
display: block;
position: absolute;
top: 0px;
left: 0%;
      } 
 .Footer__rectangle19__ohPnp {
        width: 100.11%;
height: 24px;
display: block;
position: absolute;
top: 0px;
left: 0%;
      } 
 .Footer__frame20__gJzQ {
        width: 28.6%;
height: 20px;
display: block;
position: absolute;
top: 2px;
left: 0%;
      } 
 .Footer__rectangle20__yt81Z {
        width: 100.5%;
height: 20px;
display: block;
position: absolute;
top: 0px;
left: 0%;
      } 
 .Footer__box__agwzj {
        display: block;
font-size: 16px;
text-align: undefined;
text-transform: undefined;
text-decoration-line: undefined;
font-family: "Roboto";
font-weight: 400;
letter-spacing: 0em;
line-height: 24px;
color: rgba(208, 212, 218, 1);
position: absolute;
top: -2px;
left: 0%;
width: 100.5%;
      } 
 .Footer__frame21__lXwp {
        width: 100.11%;
height: 24px;
display: block;
position: absolute;
top: 40px;
left: 0%;
      } 
 .Footer__rectangle21___8ACj {
        width: 100.11%;
height: 24px;
display: block;
position: absolute;
top: 0px;
left: 0%;
      } 
 .Footer__frame22__wEYrc {
        width: 25.51%;
height: 20px;
display: block;
position: absolute;
top: 2px;
left: 0%;
      } 
 .Footer__rectangle22___5NfnL {
        width: 100.5%;
height: 20px;
display: block;
position: absolute;
top: 0px;
left: 0%;
      } 
 .Footer__box__ys6Ge {
        display: block;
font-size: 16px;
text-align: undefined;
text-transform: undefined;
text-decoration-line: undefined;
font-family: "Roboto";
font-weight: 400;
letter-spacing: 0em;
line-height: 24px;
color: rgba(208, 212, 218, 1);
position: absolute;
top: -2px;
left: 0%;
width: 100.5%;
      } 
 .Footer__frame23__oypkk {
        width: 100.11%;
height: 24px;
display: block;
position: absolute;
top: 80px;
left: 0%;
      } 
 .Footer__rectangle23__iKiDi {
        width: 100.11%;
height: 24px;
display: block;
position: absolute;
top: 0px;
left: 0%;
      } 
 .Footer__frame24__hua9 {
        width: 30.53%;
height: 20px;
display: block;
position: absolute;
top: 2px;
left: 0%;
      } 
 .Footer__rectangle24__z6JPz {
        width: 100.5%;
height: 20px;
display: block;
position: absolute;
top: 0px;
left: 0%;
      } 
 .Footer__box__gIwgA {
        display: block;
font-size: 16px;
text-align: undefined;
text-transform: undefined;
text-decoration-line: undefined;
font-family: "Roboto";
font-weight: 400;
letter-spacing: 0em;
line-height: 24px;
color: rgba(208, 212, 218, 1);
position: absolute;
top: -2px;
left: 0%;
width: 100.5%;
      } 
 .Footer__frame25__utKnu {
        width: 100.11%;
height: 24px;
display: block;
position: absolute;
top: 120px;
left: 0%;
      } 
 .Footer__rectangle25__fyL8M {
        width: 100.11%;
height: 24px;
display: block;
position: absolute;
top: 0px;
left: 0%;
      } 
 .Footer__frame26__orEcl {
        width: 22.03%;
height: 20px;
display: block;
position: absolute;
top: 2px;
left: 0%;
      } 
 .Footer__rectangle26__af5Df {
        width: 100.5%;
height: 20px;
display: block;
position: absolute;
top: 0px;
left: 0%;
      } 
 .Footer__frame27__w7NpI {
        transform: translate(0.08000000000004093px, 0px);
width: 48.65%;
height: 220px;
display: block;
position: absolute;
top: 0px;
left: 51.4%;
      } 
 .Footer__rectangle27__jiWc {
        width: 100.13%;
height: 220px;
display: block;
position: absolute;
top: 0px;
left: 0%;
      } 
 .Footer__frame28__xJefs {
        width: 47.15%;
height: 220px;
display: block;
position: absolute;
top: 0px;
left: 0%;
      } 
 .Footer__rectangle28___3REqH {
        width: 100.11%;
height: 220px;
display: block;
position: absolute;
top: 0px;
left: 0%;
      } 
 .Footer__frame29__bkHb9 {
        width: 100.11%;
height: 184px;
display: block;
position: absolute;
top: 36px;
left: 0%;
      } 
 .Footer__rectangle29___6GUpu {
        width: 100.11%;
height: 184px;
display: block;
position: absolute;
top: 0px;
left: 0%;
      } 
 .Footer__frame30___2U9Mv {
        width: 100.11%;
height: 24px;
display: block;
position: absolute;
top: 0px;
left: 0%;
      } 
 .Footer__rectangle30__wtWt {
        width: 100.11%;
height: 24px;
display: block;
position: absolute;
top: 0px;
left: 0%;
      } 
 .Footer__frame31__m7F09 {
        width: 17%;
height: 20px;
display: block;
position: absolute;
top: 2px;
left: 0%;
      } 
 .Footer__rectangle31__inkyV {
        width: 100.5%;
height: 20px;
display: block;
position: absolute;
top: 0px;
left: 0%;
      } 
 .Footer__box___3TwC {
        display: block;
font-size: 16px;
text-align: undefined;
text-transform: undefined;
text-decoration-line: undefined;
font-family: "Roboto";
font-weight: 400;
letter-spacing: 0em;
line-height: 24px;
color: rgba(208, 212, 218, 1);
position: absolute;
top: -2px;
left: 0%;
width: 100.5%;
      } 
 .Footer__frame32__dxjfv {
        width: 100.11%;
height: 24px;
display: block;
position: absolute;
top: 80px;
left: 0%;
      } 
 .Footer__rectangle32__ge5Xz {
        width: 100.11%;
height: 24px;
display: block;
position: absolute;
top: 0px;
left: 0%;
      } 
 .Footer__frame33__kN78C {
        width: 14.3%;
height: 20px;
display: block;
position: absolute;
top: 2px;
left: 0%;
      } 
 .Footer__rectangle33__rwwDv {
        width: 100.5%;
height: 20px;
display: block;
position: absolute;
top: 0px;
left: 0%;
      } 
 .Footer__box__aZkfc {
        display: block;
font-size: 16px;
text-align: undefined;
text-transform: undefined;
text-decoration-line: undefined;
font-family: "Roboto";
font-weight: 400;
letter-spacing: 0em;
line-height: 24px;
color: rgba(208, 212, 218, 1);
position: absolute;
top: -2px;
left: 0%;
width: 100.5%;
      } 
 .Footer__frame34__zQIs6 {
        width: 100.11%;
height: 24px;
display: block;
position: absolute;
top: 160px;
left: 0%;
      } 
 .Footer__rectangle34__dleU3 {
        width: 100.11%;
height: 24px;
display: block;
position: absolute;
top: 0px;
left: 0%;
      } 
 .Footer__frame35__mX2Di {
        width: 24.35%;
height: 20px;
display: block;
position: absolute;
top: 2px;
left: 0%;
      } 
 .Footer__rectangle35__xpgzb {
        width: 100.5%;
height: 20px;
display: block;
position: absolute;
top: 0px;
left: 0%;
      } 
 .Footer__box__wHo3Z {
        display: block;
font-size: 16px;
text-align: undefined;
text-transform: undefined;
text-decoration-line: undefined;
font-family: "Roboto";
font-weight: 400;
letter-spacing: 0em;
line-height: 24px;
color: rgba(208, 212, 218, 1);
position: absolute;
top: -2px;
left: 0%;
width: 100.5%;
      } 
 .Footer__frame36__dz5Rx {
        width: 100.11%;
height: 24px;
display: block;
position: absolute;
top: 40px;
left: 0%;
      } 
 .Footer__rectangle36__rAjoo {
        width: 100.11%;
height: 24px;
display: block;
position: absolute;
top: 0px;
left: 0%;
      } 
 .Footer__frame37__qpWwd {
        width: 12.75%;
height: 20px;
display: block;
position: absolute;
top: 2px;
left: 0%;
      } 
 .Footer__rectangle37__izo6D {
        width: 100.5%;
height: 20px;
display: block;
position: absolute;
top: 0px;
left: 0%;
      } 
 .Footer__box__hveVu {
        display: block;
font-size: 16px;
text-align: undefined;
text-transform: undefined;
text-decoration-line: undefined;
font-family: "Roboto";
font-weight: 400;
letter-spacing: 0em;
line-height: 24px;
color: rgba(208, 212, 218, 1);
position: absolute;
top: 0px;
left: 0%;
width: 167.5%;
height: 27px;
      } 
 .Footer__frame38__jUznn {
        width: 100.11%;
height: 24px;
display: block;
position: absolute;
top: 120px;
left: 0%;
      } 
 .Footer__rectangle38__blGah {
        width: 100.11%;
height: 24px;
display: block;
position: absolute;
top: 0px;
left: 0%;
      } 
 .Footer__frame39__eOxo {
        width: 15.84%;
height: 20px;
display: block;
position: absolute;
top: 2px;
left: 0%;
      } 
 .Footer__rectangle39___2J6AI {
        width: 100.5%;
height: 20px;
display: block;
position: absolute;
top: 0px;
left: 0%;
      } 
 .Footer__box__vckgh {
        display: block;
font-size: 16px;
text-align: undefined;
text-transform: undefined;
text-decoration-line: undefined;
font-family: "Roboto";
font-weight: 400;
letter-spacing: 0em;
line-height: 24px;
color: rgba(208, 212, 218, 1);
position: absolute;
top: -2px;
left: 0%;
width: 100.5%;
      } 
 .Footer__frame40__vX6VM {
        width: 100.11%;
height: 20px;
display: block;
position: absolute;
top: 0px;
left: 0%;
      } 
 .Footer__rectangle40__eQpAj {
        width: 100.11%;
height: 20px;
display: block;
position: absolute;
top: 0px;
left: 0%;
      } 
 .Footer__box__bocX5 {
        display: block;
font-size: 14px;
text-align: undefined;
text-transform: uppercase;
text-decoration-line: undefined;
font-family: "Roboto";
font-weight: 400;
letter-spacing: 0.699px;
line-height: 20px;
color: rgb(232,17,85);
position: absolute;
top: 0px;
left: 0%;
width: 29.76%;
      } 
 .Footer__frame41__rZcf6 {
        transform: translate(-0.45999999999997954px, 0px);
width: 47.15%;
height: 220px;
display: block;
position: absolute;
top: 0px;
left: 52.98%;
      } 
 .Footer__rectangle41___2QDUf {
        width: 100.11%;
height: 220px;
display: block;
position: absolute;
top: 0px;
left: 0%;
      } 
 .Footer__frame42__cybYx {
        width: 100.11%;
height: 20px;
display: block;
position: absolute;
top: 0px;
left: 0%;
      } 
 .Footer__rectangle42___7FNqY {
        width: 100.11%;
height: 20px;
display: block;
position: absolute;
top: 0px;
left: 0%;
      } 
 .Footer__box___7C43L {
        display: block;
font-size: 14px;
text-align: undefined;
text-transform: uppercase;
text-decoration-line: undefined;
font-family: "Roboto";
font-weight: 400;
letter-spacing: 0.699px;
line-height: 20px;
color: rgb(232,17,85);
position: absolute;
top: 0px;
left: 0%;
width: 18.55%;
      } 
 .Footer__frame43__wENbb {
        width: 100.11%;
height: 104px;
display: block;
position: absolute;
top: 36px;
left: 0%;
      } 
 .Footer__rectangle43___85ZXt {
        width: 100.11%;
height: 104px;
display: block;
position: absolute;
top: 0px;
left: 0%;
      } 
 .Footer__frame44__aAi2W {
        width: 100.11%;
height: 24px;
display: block;
position: absolute;
top: 0px;
left: 0%;
      } 
 .Footer__rectangle44___5KBe0 {
        width: 100.11%;
height: 24px;
display: block;
position: absolute;
top: 0px;
left: 0%;
      } 
 .Footer__frame45__dtSkW {
        width: 15.07%;
height: 20px;
display: block;
position: absolute;
top: 2px;
left: 0%;
      } 
 .Footer__rectangle45__bqLbc {
        width: 100.5%;
height: 20px;
display: block;
position: absolute;
top: 0px;
left: 0%;
      } 
 .Footer__box___6TWgM {
        display: block;
font-size: 15px;
text-align: undefined;
text-transform: undefined;
text-decoration-line: undefined;
font-family: "Roboto";
font-weight: 400;
letter-spacing: 0em;
line-height: 24px;
color: rgba(208, 212, 218, 1);
position: absolute;
top: -2px;
left: 0%;
width: 219.04%;
height: 27px;
      } 
 .Footer__frame46__whRzg {
        width: 100.11%;
height: 24px;
display: block;
position: absolute;
top: 40px;
left: 0%;
      } 
 .Footer__rectangle46___5AkLc {
        width: 100.11%;
height: 24px;
display: block;
position: absolute;
top: 0px;
left: 0%;
      } 
 .Footer__frame47__vNXlS {
        width: 21.26%;
height: 20px;
display: block;
position: absolute;
top: 2px;
left: 0%;
      } 
 .Footer__rectangle47__khs1J {
        width: 100.5%;
height: 20px;
display: block;
position: absolute;
top: 0px;
left: 0%;
      } 
 .Footer__box__bzf1Z {
        display: block;
font-size: 16px;
text-align: undefined;
text-transform: undefined;
text-decoration-line: undefined;
font-family: "Roboto";
font-weight: 400;
letter-spacing: 0em;
line-height: 24px;
color: rgba(208, 212, 218, 1);
position: absolute;
top: -2px;
left: 0%;
width: 100.5%;
      } 
 .Footer__frame48__s5Sl6 {
        width: 100.11%;
height: 24px;
display: block;
position: absolute;
top: 80px;
left: 0%;
      } 
 .Footer__rectangle48__peQre {
        width: 100.11%;
height: 24px;
display: block;
position: absolute;
top: 0px;
left: 0%;
      } 
 .Footer__frame49___421Hi {
        width: 17.39%;
height: 20px;
display: block;
position: absolute;
top: 2px;
left: 0%;
      } 
 .Footer__rectangle49__bbDtl {
        width: 100.5%;
height: 20px;
display: block;
position: absolute;
top: 0px;
left: 0%;
      } 
 .Footer__bottomFooter__ks8Wb {
        transform: translate(-0.24099999999999966px, 0px);
width: 1513px;
height: 425px;
display: flex;
position: absolute;
top: 2px;
left: 0px;
flex-direction: column;
justify-content: flex-end;
align-items: baseline;
padding-top: 435px;
padding-left: 0px;
      } 
 .Footer__rectangle50__rpilk {
        width: 100.06%;
height: 57px;
display: block;
position: relative;
top: auto;
left: auto;
flex-shrink: 0;
      } 
 .Footer__rectangle52__mcxAa {
        transform: translate(0.16000000000000014px, 0px);
width: 100.06%;
height: 1px;
display: block;
position: relative;
top: auto;
left: auto;
flex-shrink: 0;
background: rgba(54, 64, 80, 1);
      } 
 .Footer__allRightsReserved__ry1Gz {
        width: 27.07%;
height: 24px;
display: block;
position: relative;
top: auto;
left: auto;
flex-shrink: 0;
      } 
 .Footer__rectangle51__fKa0 {
        width: 100.17%;
height: 24px;
display: block;
position: absolute;
top: 0px;
left: 0%;
      } 
 .Footer__box__i6ZvM {
        display: block;
font-size: 16px;
text-align: undefined;
text-transform: undefined;
text-decoration-line: undefined;
font-family: "Roboto";
font-weight: 400;
letter-spacing: 0em;
line-height: 24px;
color: rgb(5,5,5) /* plasmic-token: NEon4Y--Z */;
position: absolute;
top: 0px;
left: 11%;
width: 100.17%;
height: auto;
      } 