 .Pricing__root__rjQfv {
        display: flex;
position: relative;
flex-direction: column;
align-items: center;
justify-content: flex-start;
width: 100%;
height: 100%;
padding-right: 16px;
padding-left: 16px;
min-width: 0;
min-height: 0;
      } 
@media (min-width:0px) and (max-width:768px) { .Pricing__root__rjQfv {
        width: 100%;
height: 100%;
min-width: 0;
min-height: 0;
      } }
 .Pricing__box__skrq {
        display: flex;
width: 100%;
height: auto;
flex-direction: column;
max-width: 1600px;
min-width: 0;
      } 
 .Pricing__box__skrq > .__wab_flex-container {
        flex-direction: column;
justify-content: flex-start;
align-items: center;
margin-top: calc(0px - 64px);
height: calc(100% + 64px);
      } 
 .Pricing__box__skrq > .__wab_flex-container > *, .Pricing__box__skrq > .__wab_flex-container > .__wab_slot > * {
        margin-top: 64px;
      } 
 .Pricing__header__dRa7D.__wab_instance {
        position: relative;
      } 
 .Pricing__section__sGaa.__wab_instance {
        position: relative;
      } 
 .Pricing__box__ckCad {
        display: flex;
position: relative;
flex-direction: row;
      } 
 .Pricing__box__ckCad > .__wab_flex-container {
        flex-direction: row;
align-items: flex-start;
justify-content: flex-start;
margin-left: calc(0px - 16px);
width: calc(100% + 16px);
      } 
 .Pricing__box__ckCad > .__wab_flex-container > *, .Pricing__box__ckCad > .__wab_flex-container > .__wab_slot > * {
        margin-left: 16px;
      } 
@media (min-width:0px) and (max-width:768px) { .Pricing__box__ckCad {
        display: flex;
flex-direction: column;
      } }
@media (min-width:0px) and (max-width:768px) { .Pricing__box__ckCad > .__wab_flex-container {
        flex-direction: column;
margin-left: calc(0px - 0px);
width: calc(100% + 0px);
margin-top: calc(0px - 20px);
height: calc(100% + 20px);
      } }
@media (min-width:0px) and (max-width:768px) { .Pricing__box__ckCad > .__wab_flex-container > *, .Pricing__box__ckCad > .__wab_flex-container > .__wab_slot > * {
        margin-left: 0px;
margin-top: 20px;
      } }
 .Pricing__plan___2MAwI.__wab_instance.__wab_instance {
        position: relative;
      } 
 .Pricing__box__mpeF5 {
        font-size: 48px;
      } 
 .Pricing__plan__c7QwX.__wab_instance.__wab_instance {
        position: relative;
      } 
 .Pricing__box__bc01Z {
        font-size: 48px;
      } 
 .Pricing__box__e1Pwe {
        display: flex;
flex-direction: column;
position: relative;
      } 
 .Pricing__box__e1Pwe > .__wab_flex-container {
        flex-direction: column;
align-items: stretch;
justify-content: flex-start;
margin-top: calc(0px - 8px);
height: calc(100% + 8px);
      } 
 .Pricing__box__e1Pwe > .__wab_flex-container > *, .Pricing__box__e1Pwe > .__wab_flex-container > .__wab_slot > * {
        margin-top: 8px;
      } 
 .Pricing__bullet__zzqLd.__wab_instance {
        position: relative;
      } 
 .Pricing__bullet__mcJZc.__wab_instance {
        position: relative;
      } 
 .Pricing__bullet__zaOs.__wab_instance {
        position: relative;
      } 
 .Pricing__bullet__ohm8K.__wab_instance {
        position: relative;
      } 
 .Pricing__plan__zCemN.__wab_instance.__wab_instance {
        position: relative;
      } 
 .Pricing__box__baxia {
        font-size: 48px;
      } 
 .Pricing__section__a2E8Y.__wab_instance {
        position: relative;
      } 
 .Pricing__faq___5BuWr.__wab_instance.__wab_instance {
        position: relative;
      } 
 .Pricing__faq___20NXb.__wab_instance.__wab_instance {
        position: relative;
      } 
 .Pricing__faq__hyh8E.__wab_instance.__wab_instance {
        position: relative;
      } 
 .Pricing__footer__yLqEn.__wab_instance {
        position: relative;
      } 