 .LinkButton__root__gz3U7 {
        display: inline-flex;
width: auto;
height: auto;
position: relative;
border-radius: 5px;
padding: 10px 20px;
      } 
 .LinkButton__root__type_solidBlue__gz3U7CiDc {
        background: none, rgb(24,119,242);
      } 
 .LinkButton__root__type_solidBlack__gz3U7SBreV {
        background: rgb(24,25,26);
      } 
 .LinkButton__root__type_outlineBlue__gz3U7OyHiI {
        border: 1px solid rgb(24,119,242) /* plasmic-token: p-fCTrfjtL4 */;
      } 
 .LinkButton__root__type_small__gz3U7NJph5 {
        padding: 0px;
      } 
 .LinkButton__root__type_solidBlue__gz3U7CiDc:hover {
        background: rgb(23,99,207);
      } 
 .LinkButton__root__type_solidBlack__gz3U7SBreV:hover {
        background: rgb(50,52,54);
      } 
 .LinkButton__slotText__type_solidBlue__kAfhuCiDc {
        color: rgb(255,255,255) /* plasmic-token: Iwpmd4_SaTZmj */;
      } 
 .LinkButton__slotText__type_solidBlack__kAfhuSBreV {
        color: rgb(255,255,255) /* plasmic-token: Iwpmd4_SaTZmj */;
      } 
 .LinkButton__slotText__type_outlineBlue__kAfhuoyHiI {
        color: rgb(24,119,242) /* plasmic-token: p-fCTrfjtL4 */;
      } 