 .Background__root__dKTho {
        display: flex;
flex-direction: column;
justify-content: flex-start;
flex-wrap: wrap;
align-content: stretch;
width: 1368px;
height: 4182px;
position: relative;
background: linear-gradient(0deg, rgb(238,189,25) 0%, rgb(79,85,228) 26%, rgb(93,105,239) 35%, rgb(199,154,212) 59%, rgb(192,48,27) 81%, #F2D599 100%) 0% 0% / cover;
      } 