.frame-78 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin-left: 20px;
  min-height: 104px;
  width: 610px;
}
.frame-79 {
  align-items: flex-start;
  display: flex;
  height: 24px;
  min-width: 610px;
}
.frame-80 {
  align-items: flex-start;
  display: flex;
  height: 72px;
  margin-top: 8px;
  min-width: 610px;
  padding: 2px 0;
}
.frame-81 {
  position: relative;
}
.text-102 {
  color: rgba(60,110,212,1.0);
  font-family: 'Roboto', Helvetica;
  font-size: 16px;
  letter-spacing: 0.00px;
  line-height: 24px;
  min-height: 24px;
  white-space: nowrap;
}
.wherever-you-are {
  letter-spacing: 0.00px;
  line-height: 24px;
  min-height: 24px;
  white-space: nowrap;
}
