.about {
  letter-spacing: 0.70px;
  line-height: 20px;
  min-height: 20px;
  white-space: nowrap;
}
.flex-col-1 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  min-height: 180px;
  position: relative;
  width: 147px;
}
.flex-col-2 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin-left: 31px;
  min-height: 180px;
  position: relative;
  width: 147px;
}
.footer6 {
  align-items: flex-end;
  display: flex;
  height: 200px;
  margin-top: 31px;
  min-width: 1024px;
}
.footer7 {
  left: 256px;
  margin-top: unset;
  position: absolute;
  top: 5px;
}
.marketplaces {
  left: 174px;
  letter-spacing: 0.70px;
  line-height: 20px;
  position: absolute;
  top: 0px;
  white-space: nowrap;
  width: 131px;
}
.overlap-group25 {
  height: 220px;
  margin-left: 12px;
  position: relative;
  width: 321px;
}
.overlap-group8 {
  align-items: flex-start;
  display: flex;
  margin-bottom: -20px;
  min-width: 1024px;
  padding: 0 161.9px;
}
.pricing {
  color: var(--mischka);
  font-family: 'Roboto', Helvetica;
  font-size: 15px;
  letter-spacing: 0.00px;
  line-height: 24px;
  min-height: 24px;
  white-space: nowrap;
}
.solutions {
  letter-spacing: 0.70px;
  line-height: 20px;
  min-height: 20px;
  white-space: nowrap;
}
.support {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  left: 0px;
  min-height: 220px;
  padding: 36px 0.3px;
  position: absolute;
  top: 0px;
  width: 207px;
}
.support-1 {
  left: 0px;
  letter-spacing: 0.70px;
  line-height: 20px;
  position: absolute;
  top: 0px;
  white-space: nowrap;
  width: 137px;
}
.support-item {
  letter-spacing: 0.00px;
  line-height: 24px;
  margin-top: 16px;
  min-height: 24px;
  white-space: nowrap;
}
