.root {
  width: 1497px;
  height: 334px;
  display: flex;
  flex-direction: row;
  position: relative;
  padding-top: 25px;
  box-shadow: none;
  mix-blend-mode: normal;
  transition-property: all;
  transition-duration: 1s;
  background: linear-gradient(
    353deg,
    rgb(224, 62, 40) 0%,
    rgb(233, 131, 22) 100%
  );
  border-style: solid;
  border-color: rgb(233, 131, 22);
}
.root > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  margin-left: calc(0px - 10px);
  width: calc(100% + 10px);
}
.root > :global(.__wab_flex-container) > *,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-left: 10px;
}
.description9 {
  width: 304px;
  height: auto;
  display: flex;
  position: relative;
  top: auto;
  left: auto;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
}
.rowHead {
  width: 304px;
  height: 41px;
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  padding: 1px 24px 16px;
}
.text31 {
  display: block;
  font-size: 14px;
  text-align: undefined;
  text-transform: undefined;
  text-decoration-line: undefined;
  font-family: "Inter";
  font-weight: 500;
  letter-spacing: 0em;
  line-height: 20px;
  color: rgba(16, 23, 38, 1);
  align-self: stretch;
  position: relative;
}
.rowHead2 {
  width: 308px;
  height: 173px;
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
}
.topBorder61 {
  width: undefined;
  height: 1px;
  display: block;
  position: relative;
  align-self: stretch;
  flex-shrink: 0;
  background: rgba(228, 230, 234, 1);
}
.content63 {
  width: undefined;
  height: undefined;
  display: flex;
  position: relative;
  align-self: stretch;
  flex-grow: 1;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 32px 24px;
}
.text32 {
  display: block;
  flex-grow: 1;
  font-size: 14px;
  text-align: undefined;
  text-transform: undefined;
  text-decoration-line: undefined;
  font-family: "Inter";
  font-weight: 500;
  letter-spacing: 0em;
  line-height: 20px;
  color: rgba(16, 23, 38, 1);
  position: relative;
}
.basic4 {
  width: 304px;
  height: auto;
  display: flex;
  position: relative;
  top: auto;
  left: auto;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
}
.columnHead {
  width: undefined;
  height: auto;
  display: flex;
  position: relative;
  align-self: stretch;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 1px 24px 16px;
}
.text33 {
  display: block;
  font-size: 18px;
  text-align: undefined;
  text-transform: undefined;
  text-decoration-line: undefined;
  font-family: "Inter";
  font-weight: 500;
  letter-spacing: 0em;
  line-height: 24px;
  color: rgba(16, 23, 38, 1);
  align-self: stretch;
  position: relative;
}
.cell {
  width: undefined;
  height: 225px;
  display: flex;
  position: relative;
  align-self: stretch;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
}
.topBorder62 {
  width: undefined;
  height: 1px;
  display: block;
  position: relative;
  align-self: stretch;
  flex-shrink: 0;
  background: rgba(228, 230, 234, 1);
}
.content64 {
  width: undefined;
  height: undefined;
  display: flex;
  position: relative;
  align-self: stretch;
  flex-grow: 1;
  flex-direction: column;
  padding: 32px 24px;
}
.content64 > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  margin-top: calc(0px - 24px);
  height: calc(100% + 24px);
}
.content64 > :global(.__wab_flex-container) > *,
.content64 > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-top: 24px;
}
.details {
  width: undefined;
  height: auto;
  display: flex;
  position: relative;
  align-self: stretch;
  flex-direction: column;
}
.details > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.details > :global(.__wab_flex-container) > *,
.details > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-top: 16px;
}
.pricing {
  width: undefined;
  height: auto;
  display: flex;
  position: relative;
  align-self: stretch;
  flex-direction: row;
}
.pricing > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-start;
  margin-left: calc(0px - 4px);
  width: calc(100% + 4px);
}
.pricing > :global(.__wab_flex-container) > *,
.pricing > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-left: 4px;
}
.price {
  display: block;
  font-size: 36px;
  text-align: undefined;
  text-transform: undefined;
  text-decoration-line: undefined;
  font-family: "Inter";
  font-weight: 800;
  letter-spacing: 0em;
  line-height: 40px;
  color: rgba(16, 23, 38, 1);
  position: relative;
}
.frequency {
  display: block;
  font-size: 16px;
  text-align: undefined;
  text-transform: undefined;
  text-decoration-line: undefined;
  font-family: "Inter";
  font-weight: 500;
  letter-spacing: 0em;
  line-height: 24px;
  color: rgba(255, 255, 255, 1);
  position: relative;
}
.supportingText5 {
  display: block;
  font-size: 14px;
  text-align: undefined;
  text-transform: undefined;
  text-decoration-line: undefined;
  font-family: "Inter";
  font-weight: 400;
  letter-spacing: 0em;
  line-height: 20px;
  color: rgba(255, 255, 255, 1);
  align-self: stretch;
  position: relative;
}
.pricingPagesButtonLink4 {
  width: undefined;
  height: auto;
  display: flex;
  position: relative;
  align-self: stretch;
  overflow: hidden;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  border-radius: 6px;
  padding: 9px 17px;
  background: rgba(30, 40, 54, 1);
}
.text34 {
  display: block;
  font-size: 14px;
  text-align: undefined;
  text-transform: undefined;
  text-decoration-line: undefined;
  font-family: "Inter";
  font-weight: 500;
  letter-spacing: 0em;
  line-height: 20px;
  color: rgba(255, 255, 255, 1);
  position: relative;
}
.essential4 {
  width: 304px;
  height: auto;
  display: flex;
  position: relative;
  top: auto;
  left: auto;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
}
.columnHead2 {
  width: undefined;
  height: auto;
  display: flex;
  position: relative;
  align-self: stretch;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 1px 24px 16px;
}
.text35 {
  display: block;
  font-size: 18px;
  text-align: undefined;
  text-transform: undefined;
  text-decoration-line: undefined;
  font-family: "Inter";
  font-weight: 500;
  letter-spacing: 0em;
  line-height: 24px;
  color: rgba(16, 23, 38, 1);
  align-self: stretch;
  position: relative;
}
.cell2 {
  width: undefined;
  height: 225px;
  display: flex;
  position: relative;
  align-self: stretch;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
}
.topBorder63 {
  width: undefined;
  height: 1px;
  display: block;
  position: relative;
  align-self: stretch;
  flex-shrink: 0;
  background: rgba(228, 230, 234, 1);
}
.content65 {
  width: undefined;
  height: undefined;
  display: flex;
  position: relative;
  align-self: stretch;
  flex-grow: 1;
  flex-direction: column;
  padding: 32px 24px;
}
.content65 > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  margin-top: calc(0px - 24px);
  height: calc(100% + 24px);
}
.content65 > :global(.__wab_flex-container) > *,
.content65 > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-top: 24px;
}
.details2 {
  width: undefined;
  height: auto;
  display: flex;
  position: relative;
  align-self: stretch;
  flex-direction: column;
}
.details2 > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.details2 > :global(.__wab_flex-container) > *,
.details2 > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-top: 16px;
}
.pricing2 {
  width: undefined;
  height: auto;
  display: flex;
  position: relative;
  align-self: stretch;
  flex-direction: row;
}
.pricing2 > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-start;
  margin-left: calc(0px - 4px);
  width: calc(100% + 4px);
}
.pricing2 > :global(.__wab_flex-container) > *,
.pricing2 > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-left: 4px;
}
.price2 {
  display: block;
  font-size: 36px;
  text-align: undefined;
  text-transform: undefined;
  text-decoration-line: undefined;
  font-family: "Inter";
  font-weight: 800;
  letter-spacing: 0em;
  line-height: 40px;
  color: rgba(16, 23, 38, 1);
  position: relative;
}
.frequency2 {
  display: block;
  font-size: 16px;
  text-align: undefined;
  text-transform: undefined;
  text-decoration-line: undefined;
  font-family: "Inter";
  font-weight: 500;
  letter-spacing: 0em;
  line-height: 24px;
  color: rgba(255, 255, 255, 1);
  position: relative;
}
.supportingText6 {
  display: block;
  font-size: 14px;
  text-align: undefined;
  text-transform: undefined;
  text-decoration-line: undefined;
  font-family: "Inter";
  font-weight: 400;
  letter-spacing: 0em;
  line-height: 20px;
  color: rgba(255, 255, 255, 1);
  align-self: stretch;
  position: relative;
}
.pricingPagesButtonLink5 {
  width: undefined;
  height: auto;
  display: flex;
  position: relative;
  align-self: stretch;
  overflow: hidden;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  border-radius: 6px;
  padding: 9px 17px;
  background: rgba(30, 40, 54, 1);
}
.text36 {
  display: block;
  font-size: 14px;
  text-align: undefined;
  text-transform: undefined;
  text-decoration-line: undefined;
  font-family: "Inter";
  font-weight: 500;
  letter-spacing: 0em;
  line-height: 20px;
  color: rgba(255, 255, 255, 1);
  position: relative;
}
.premium4 {
  width: 304px;
  height: auto;
  display: flex;
  position: relative;
  top: auto;
  left: auto;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
}
.columnHead3 {
  width: undefined;
  height: auto;
  display: flex;
  position: relative;
  align-self: stretch;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 1px 24px 16px;
}
.text37 {
  display: block;
  font-size: 18px;
  text-align: undefined;
  text-transform: undefined;
  text-decoration-line: undefined;
  font-family: "Inter";
  font-weight: 500;
  letter-spacing: 0em;
  line-height: 24px;
  color: rgba(16, 23, 38, 1);
  align-self: stretch;
  position: relative;
}
.cell3 {
  width: undefined;
  height: 225px;
  display: flex;
  position: relative;
  align-self: stretch;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
}
.topBorder64 {
  width: undefined;
  height: 1px;
  display: block;
  position: relative;
  align-self: stretch;
  flex-shrink: 0;
  background: rgba(228, 230, 234, 1);
}
.content66 {
  width: undefined;
  height: undefined;
  display: flex;
  position: relative;
  align-self: stretch;
  flex-grow: 1;
  flex-direction: column;
  padding: 32px 24px;
}
.content66 > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  margin-top: calc(0px - 24px);
  height: calc(100% + 24px);
}
.content66 > :global(.__wab_flex-container) > *,
.content66 > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-top: 24px;
}
.details3 {
  width: undefined;
  height: auto;
  display: flex;
  position: relative;
  align-self: stretch;
  flex-direction: column;
}
.details3 > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.details3 > :global(.__wab_flex-container) > *,
.details3 > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-top: 16px;
}
.pricing3 {
  width: undefined;
  height: auto;
  display: flex;
  position: relative;
  align-self: stretch;
  flex-direction: row;
}
.pricing3 > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-start;
  margin-left: calc(0px - 4px);
  width: calc(100% + 4px);
}
.pricing3 > :global(.__wab_flex-container) > *,
.pricing3 > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-left: 4px;
}
.price3 {
  display: block;
  font-size: 36px;
  text-align: undefined;
  text-transform: undefined;
  text-decoration-line: undefined;
  font-family: "Inter";
  font-weight: 800;
  letter-spacing: 0em;
  line-height: 40px;
  color: rgba(16, 23, 38, 1);
  position: relative;
}
.frequency3 {
  display: block;
  font-size: 16px;
  text-align: undefined;
  text-transform: undefined;
  text-decoration-line: undefined;
  font-family: "Inter";
  font-weight: 500;
  letter-spacing: 0em;
  line-height: 24px;
  color: rgba(255, 255, 255, 1);
  position: relative;
}
.supportingText7 {
  display: block;
  font-size: 14px;
  text-align: undefined;
  text-transform: undefined;
  text-decoration-line: undefined;
  font-family: "Inter";
  font-weight: 400;
  letter-spacing: 0em;
  line-height: 20px;
  color: rgba(255, 255, 255, 1);
  align-self: stretch;
  position: relative;
}
.pricingPagesButtonLink6 {
  width: undefined;
  height: auto;
  display: flex;
  position: relative;
  align-self: stretch;
  overflow: hidden;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  border-radius: 6px;
  padding: 9px 17px;
  background: rgba(30, 40, 54, 1);
}
.text38 {
  display: block;
  font-size: 14px;
  text-align: undefined;
  text-transform: undefined;
  text-decoration-line: undefined;
  font-family: "Inter";
  font-weight: 500;
  letter-spacing: 0em;
  line-height: 20px;
  color: rgba(255, 255, 255, 1);
  position: relative;
}
