.root {
  width: 1436px;
  height: 1136px;
  display: flex;
  position: relative;
  flex-direction: row;
  padding-top: 76px;
  background: linear-gradient(
    0deg,
    rgb(221, 166, 72) 0%,
    rgb(221, 166, 72) 47%,
    rgb(224, 62, 40) 100%
  );
}
.root > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  margin-left: calc(0px - 10px);
  width: calc(100% + 10px);
}
.root > :global(.__wab_flex-container) > *,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-left: 10px;
}
.description8 {
  width: 304px;
  height: auto;
  display: flex;
  position: relative;
  top: auto;
  left: auto;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
}
.section9 {
  width: undefined;
  height: auto;
  display: flex;
  position: relative;
  align-self: stretch;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.pricingPagesRowHeader9 {
  width: undefined;
  height: auto;
  display: flex;
  position: relative;
  align-self: stretch;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  background: rgba(248, 249, 250, 1);
}
.topBorder41 {
  width: undefined;
  height: 1px;
  display: block;
  position: relative;
  align-self: stretch;
  flex-shrink: 0;
  background: rgba(228, 230, 234, 1);
}
.content46 {
  width: undefined;
  height: auto;
  display: flex;
  position: relative;
  align-self: stretch;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 12px 16px;
}
.text24 {
  display: block;
  flex-grow: 1;
  font-size: 14px;
  text-align: undefined;
  text-transform: undefined;
  text-decoration-line: undefined;
  font-family: "Inter";
  font-weight: 500;
  letter-spacing: 0em;
  line-height: 20px;
  color: rgba(16, 23, 38, 1);
  position: relative;
}
.pricingPagesCell33 {
  width: undefined;
  height: auto;
  display: flex;
  position: relative;
  align-self: stretch;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.topBorder42 {
  width: undefined;
  height: 1px;
  display: block;
  position: relative;
  align-self: stretch;
  flex-shrink: 0;
  background: rgba(228, 230, 234, 1);
}
.content47 {
  width: undefined;
  height: auto;
  display: flex;
  position: relative;
  align-self: stretch;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 20px 24px;
}
.text25 {
  display: block;
  flex-grow: 1;
  font-size: 14px;
  text-align: undefined;
  text-transform: undefined;
  text-decoration-line: undefined;
  font-family: "Inter";
  font-weight: 400;
  letter-spacing: 0em;
  line-height: 20px;
  color: rgba(255, 255, 255, 1);
  position: relative;
}
.pricingPagesCell34 {
  width: undefined;
  height: auto;
  display: flex;
  position: relative;
  align-self: stretch;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.topBorder43 {
  width: undefined;
  height: 1px;
  display: block;
  position: relative;
  align-self: stretch;
  flex-shrink: 0;
  background: rgba(228, 230, 234, 1);
}
.content48 {
  width: undefined;
  height: auto;
  display: flex;
  position: relative;
  align-self: stretch;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 20px 24px;
}
.text26 {
  display: block;
  flex-grow: 1;
  font-size: 14px;
  text-align: undefined;
  text-transform: undefined;
  text-decoration-line: undefined;
  font-family: "Inter";
  font-weight: 400;
  letter-spacing: 0em;
  line-height: 20px;
  color: rgba(255, 255, 255, 1);
  position: relative;
}
.pricingPagesCell35 {
  width: undefined;
  height: auto;
  display: flex;
  position: relative;
  align-self: stretch;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.topBorder44 {
  width: undefined;
  height: 1px;
  display: block;
  position: relative;
  align-self: stretch;
  flex-shrink: 0;
  background: rgba(228, 230, 234, 1);
}
.content49 {
  width: undefined;
  height: auto;
  display: flex;
  position: relative;
  align-self: stretch;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 20px 24px;
}
.text27 {
  display: block;
  flex-grow: 1;
  font-size: 14px;
  text-align: undefined;
  text-transform: undefined;
  text-decoration-line: undefined;
  font-family: "Inter";
  font-weight: 400;
  letter-spacing: 0em;
  line-height: 20px;
  color: rgba(255, 255, 255, 1);
  position: relative;
}
.pricingPagesCell36 {
  width: undefined;
  height: auto;
  display: flex;
  position: relative;
  align-self: stretch;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.topBorder45 {
  width: undefined;
  height: 1px;
  display: block;
  position: relative;
  align-self: stretch;
  flex-shrink: 0;
  background: rgba(228, 230, 234, 1);
}
.content50 {
  width: undefined;
  height: auto;
  display: flex;
  position: relative;
  align-self: stretch;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 20px 24px;
}
.text28 {
  display: block;
  flex-grow: 1;
  font-size: 14px;
  text-align: undefined;
  text-transform: undefined;
  text-decoration-line: undefined;
  font-family: "Inter";
  font-weight: 400;
  letter-spacing: 0em;
  line-height: 20px;
  position: relative;
  color: rgb(255, 255, 255) /* plasmic-token: Iwpmd4_SaTZmj */;
  height: auto;
}
.hardware {
  width: 100%;
  height: auto;
  display: flex;
  position: relative;
  top: auto;
  left: auto;
  margin-left: 0px;
  flex-direction: row;
  min-width: 0;
}
.hardware > :global(.__wab_flex-container) {
  flex-direction: row;
  margin-left: calc(0px - 10px);
  width: calc(100% + 10px);
}
.hardware > :global(.__wab_flex-container) > *,
.hardware > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-left: 10px;
}
.description7 {
  width: 304px;
  height: auto;
  display: flex;
  position: relative;
  top: auto;
  left: auto;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
}
.section5 {
  width: undefined;
  height: auto;
  display: flex;
  position: relative;
  align-self: stretch;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.pricingPagesRowHeader5 {
  width: undefined;
  height: auto;
  display: flex;
  position: relative;
  align-self: stretch;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  background: rgba(248, 249, 250, 1);
}
.topBorder21 {
  width: undefined;
  height: 1px;
  display: block;
  position: relative;
  align-self: stretch;
  flex-shrink: 0;
  background: rgba(228, 230, 234, 1);
}
.content29 {
  width: undefined;
  height: auto;
  display: flex;
  position: relative;
  align-self: stretch;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 12px 16px;
}
.text19 {
  display: block;
  flex-grow: 1;
  font-size: 14px;
  text-align: undefined;
  text-transform: undefined;
  text-decoration-line: undefined;
  font-family: "Inter";
  font-weight: 500;
  letter-spacing: 0em;
  line-height: 20px;
  color: rgba(16, 23, 38, 1);
  position: relative;
}
.pricingPagesCell17 {
  width: undefined;
  height: auto;
  display: flex;
  position: relative;
  align-self: stretch;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.topBorder22 {
  width: undefined;
  height: 1px;
  display: block;
  position: relative;
  align-self: stretch;
  flex-shrink: 0;
  background: rgba(228, 230, 234, 1);
}
.content30 {
  width: undefined;
  height: auto;
  display: flex;
  position: relative;
  align-self: stretch;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 20px 24px;
}
.text20 {
  display: block;
  flex-grow: 1;
  font-size: 14px;
  text-align: undefined;
  text-transform: undefined;
  text-decoration-line: undefined;
  font-family: "Inter";
  font-weight: 400;
  letter-spacing: 0em;
  line-height: 20px;
  color: rgba(255, 255, 255, 1);
  position: relative;
}
.pricingPagesCell18 {
  width: undefined;
  height: auto;
  display: flex;
  position: relative;
  align-self: stretch;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.topBorder23 {
  width: undefined;
  height: 1px;
  display: block;
  position: relative;
  align-self: stretch;
  flex-shrink: 0;
  background: rgba(228, 230, 234, 1);
}
.content31 {
  width: undefined;
  height: auto;
  display: flex;
  position: relative;
  align-self: stretch;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 20px 24px;
}
.text21 {
  display: block;
  flex-grow: 1;
  font-size: 14px;
  text-align: undefined;
  text-transform: undefined;
  text-decoration-line: undefined;
  font-family: "Inter";
  font-weight: 400;
  letter-spacing: 0em;
  line-height: 20px;
  color: rgba(255, 255, 255, 1);
  position: relative;
}
.pricingPagesCell19 {
  width: undefined;
  height: auto;
  display: flex;
  position: relative;
  align-self: stretch;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.topBorder24 {
  width: undefined;
  height: 1px;
  display: block;
  position: relative;
  align-self: stretch;
  flex-shrink: 0;
  background: rgba(228, 230, 234, 1);
}
.content32 {
  width: undefined;
  height: auto;
  display: flex;
  position: relative;
  align-self: stretch;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 20px 24px;
}
.text22 {
  display: block;
  flex-grow: 1;
  font-size: 14px;
  text-align: undefined;
  text-transform: undefined;
  text-decoration-line: undefined;
  font-family: "Inter";
  font-weight: 400;
  letter-spacing: 0em;
  line-height: 20px;
  color: rgba(255, 255, 255, 1);
  position: relative;
}
.pricingPagesCell20 {
  width: undefined;
  height: auto;
  display: flex;
  position: relative;
  align-self: stretch;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.topBorder25 {
  width: undefined;
  height: 1px;
  display: block;
  position: relative;
  align-self: stretch;
  flex-shrink: 0;
  background: rgba(228, 230, 234, 1);
}
.content33 {
  width: undefined;
  height: auto;
  display: flex;
  position: relative;
  align-self: stretch;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 20px 24px;
}
.text23 {
  display: block;
  flex-grow: 1;
  font-size: 14px;
  text-align: undefined;
  text-transform: undefined;
  text-decoration-line: undefined;
  font-family: "Inter";
  font-weight: 400;
  letter-spacing: 0em;
  line-height: 20px;
  color: rgba(255, 255, 255, 1);
  position: relative;
}
.support {
  width: 1369px;
  height: 386px;
  display: flex;
  position: relative;
  top: auto;
  left: auto;
  flex-direction: row;
  flex-shrink: 0;
}
.support > :global(.__wab_flex-container) {
  flex-direction: row;
  margin-left: calc(0px - 10px);
  width: calc(100% + 10px);
}
.support > :global(.__wab_flex-container) > *,
.support > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-left: 10px;
}
.description6 {
  width: 304px;
  height: auto;
  display: flex;
  position: relative;
  top: auto;
  left: auto;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
}
.section {
  width: undefined;
  height: auto;
  display: flex;
  position: relative;
  align-self: stretch;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.pricingPagesRowHeader {
  width: undefined;
  height: auto;
  display: flex;
  position: relative;
  align-self: stretch;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  background: rgba(248, 249, 250, 1);
}
.topBorder {
  width: undefined;
  height: 1px;
  display: block;
  position: relative;
  align-self: stretch;
  flex-shrink: 0;
  background: rgba(228, 230, 234, 1);
}
.content8 {
  width: undefined;
  height: auto;
  display: flex;
  position: relative;
  align-self: stretch;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 12px 16px;
}
.text11 {
  display: block;
  flex-grow: 1;
  font-size: 14px;
  text-align: undefined;
  text-transform: undefined;
  text-decoration-line: undefined;
  font-family: "Inter";
  font-weight: 500;
  letter-spacing: 0em;
  line-height: 20px;
  color: rgba(16, 23, 38, 1);
  position: relative;
}
.pricingPagesCell {
  width: undefined;
  height: auto;
  display: flex;
  position: relative;
  align-self: stretch;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.topBorder2 {
  width: undefined;
  height: 1px;
  display: block;
  position: relative;
  align-self: stretch;
  flex-shrink: 0;
  background: rgba(228, 230, 234, 1);
}
.content9 {
  width: undefined;
  height: auto;
  display: flex;
  position: relative;
  align-self: stretch;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 20px 24px;
}
.text12 {
  display: block;
  flex-grow: 1;
  font-size: 14px;
  text-align: undefined;
  text-transform: undefined;
  text-decoration-line: undefined;
  font-family: "Inter";
  font-weight: 400;
  letter-spacing: 0em;
  line-height: 20px;
  color: rgba(255, 255, 255, 1);
  position: relative;
}
.pricingPagesCell2 {
  width: undefined;
  height: auto;
  display: flex;
  position: relative;
  align-self: stretch;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.topBorder3 {
  width: undefined;
  height: 1px;
  display: block;
  position: relative;
  align-self: stretch;
  flex-shrink: 0;
  background: rgba(228, 230, 234, 1);
}
.content10 {
  width: undefined;
  height: auto;
  display: flex;
  position: relative;
  align-self: stretch;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 20px 24px;
}
.text13 {
  display: block;
  flex-grow: 1;
  font-size: 14px;
  text-align: undefined;
  text-transform: undefined;
  text-decoration-line: undefined;
  font-family: "Inter";
  font-weight: 400;
  letter-spacing: 0em;
  line-height: 20px;
  color: rgba(255, 255, 255, 1);
  position: relative;
}
.pricingPagesCell3 {
  width: undefined;
  height: auto;
  display: flex;
  position: relative;
  align-self: stretch;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.topBorder4 {
  width: undefined;
  height: 1px;
  display: block;
  position: relative;
  align-self: stretch;
  flex-shrink: 0;
  background: rgba(228, 230, 234, 1);
}
.content11 {
  width: undefined;
  height: auto;
  display: flex;
  position: relative;
  align-self: stretch;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 20px 24px;
}
.text14 {
  display: block;
  flex-grow: 1;
  font-size: 14px;
  text-align: undefined;
  text-transform: undefined;
  text-decoration-line: undefined;
  font-family: "Inter";
  font-weight: 400;
  letter-spacing: 0em;
  line-height: 20px;
  color: rgba(255, 255, 255, 1);
  position: relative;
}
.pricingPagesCell4 {
  width: undefined;
  height: auto;
  display: flex;
  position: relative;
  align-self: stretch;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.topBorder5 {
  width: undefined;
  height: 1px;
  display: block;
  position: relative;
  align-self: stretch;
  flex-shrink: 0;
  background: rgba(228, 230, 234, 1);
}
.content12 {
  width: undefined;
  height: auto;
  display: flex;
  position: relative;
  align-self: stretch;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 20px 24px;
}
.text15 {
  display: block;
  flex-grow: 1;
  font-size: 14px;
  text-align: undefined;
  text-transform: undefined;
  text-decoration-line: undefined;
  font-family: "Inter";
  font-weight: 400;
  letter-spacing: 0em;
  line-height: 20px;
  color: rgba(255, 255, 255, 1);
  position: relative;
}
.cta {
  width: undefined;
  height: auto;
  display: flex;
  position: relative;
  align-self: stretch;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.divider {
  width: undefined;
  height: 1px;
  display: block;
  position: relative;
  align-self: stretch;
  flex-shrink: 0;
  background: rgba(228, 230, 234, 1);
}
.basic {
  width: 304px;
  height: auto;
  display: flex;
  position: relative;
  top: auto;
  left: auto;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
}
.section2 {
  width: undefined;
  height: auto;
  display: flex;
  position: relative;
  align-self: stretch;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.pricingPagesRowHeader2 {
  width: undefined;
  height: 45px;
  display: flex;
  position: relative;
  align-self: stretch;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  background: rgba(248, 249, 250, 1);
}
.topBorder6 {
  width: undefined;
  height: 1px;
  display: block;
  position: relative;
  align-self: stretch;
  flex-shrink: 0;
  background: rgba(228, 230, 234, 1);
}
.pricingPagesCell5 {
  width: undefined;
  height: auto;
  display: flex;
  position: relative;
  align-self: stretch;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.topBorder7 {
  width: undefined;
  height: 1px;
  display: block;
  position: relative;
  align-self: stretch;
  flex-shrink: 0;
  background: rgba(228, 230, 234, 1);
}
.content14 {
  width: undefined;
  height: auto;
  display: flex;
  position: relative;
  align-self: stretch;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 20px 24px;
}
.svg__ddX5F {
  position: relative;
  object-fit: cover;
  width: 20px;
  height: 20px;
  color: #10b981;
  display: block;
  flex-shrink: 0;
}
.pricingPagesCell6 {
  width: undefined;
  height: auto;
  display: flex;
  position: relative;
  align-self: stretch;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.topBorder8 {
  width: undefined;
  height: 1px;
  display: block;
  position: relative;
  align-self: stretch;
  flex-shrink: 0;
  background: rgba(228, 230, 234, 1);
}
.content15 {
  width: undefined;
  height: auto;
  display: flex;
  position: relative;
  align-self: stretch;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 20px 24px;
}
.svg___1K7Jo {
  position: relative;
  object-fit: cover;
  width: 20px;
  height: 20px;
  color: #9ca3af;
  display: block;
  flex-shrink: 0;
}
.pricingPagesCell7 {
  width: undefined;
  height: auto;
  display: flex;
  position: relative;
  align-self: stretch;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.topBorder9 {
  width: undefined;
  height: 1px;
  display: block;
  position: relative;
  align-self: stretch;
  flex-shrink: 0;
  background: rgba(228, 230, 234, 1);
}
.content16 {
  width: undefined;
  height: auto;
  display: flex;
  position: relative;
  align-self: stretch;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 20px 24px;
}
.svg__wWrT4 {
  position: relative;
  object-fit: cover;
  width: 20px;
  height: 20px;
  color: #9ca3af;
  display: block;
  flex-shrink: 0;
}
.pricingPagesCell8 {
  width: undefined;
  height: 81px;
  display: flex;
  position: relative;
  align-self: stretch;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
}
.topBorder10 {
  width: undefined;
  height: 1px;
  display: block;
  position: relative;
  align-self: stretch;
  flex-shrink: 0;
  background: rgba(228, 230, 234, 1);
}
.content17 {
  width: undefined;
  height: undefined;
  display: flex;
  position: relative;
  align-self: stretch;
  flex-grow: 1;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: 20px 24px;
}
.svg__umOrP {
  position: relative;
  object-fit: cover;
  width: 20px;
  height: 20px;
  color: #9ca3af;
  display: block;
  flex-shrink: 0;
}
.cta2 {
  width: undefined;
  height: auto;
  display: flex;
  position: relative;
  align-self: stretch;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.divider2 {
  width: undefined;
  height: 1px;
  display: block;
  position: relative;
  align-self: stretch;
  flex-shrink: 0;
  background: rgba(228, 230, 234, 1);
}
.content18 {
  width: undefined;
  height: auto;
  display: flex;
  position: relative;
  align-self: stretch;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 20px;
}
.pricingPagesButtonLink {
  width: undefined;
  height: auto;
  display: flex;
  position: relative;
  flex-grow: 1;
  overflow: hidden;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  border-radius: 6px;
  padding: 9px 17px;
  background: rgba(30, 40, 54, 1);
}
.text16 {
  display: block;
  font-size: 14px;
  text-align: undefined;
  text-transform: undefined;
  text-decoration-line: undefined;
  font-family: "Inter";
  font-weight: 500;
  letter-spacing: 0em;
  line-height: 20px;
  color: rgba(255, 255, 255, 1);
  position: relative;
}
.essential {
  width: 304px;
  height: auto;
  display: flex;
  position: relative;
  top: auto;
  left: auto;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
}
.section3 {
  width: undefined;
  height: auto;
  display: flex;
  position: relative;
  align-self: stretch;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.pricingPagesRowHeader3 {
  width: undefined;
  height: 45px;
  display: flex;
  position: relative;
  align-self: stretch;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  background: rgba(248, 249, 250, 1);
}
.topBorder11 {
  width: undefined;
  height: 1px;
  display: block;
  position: relative;
  align-self: stretch;
  flex-shrink: 0;
  background: rgba(228, 230, 234, 1);
}
.pricingPagesCell9 {
  width: undefined;
  height: auto;
  display: flex;
  position: relative;
  align-self: stretch;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.topBorder12 {
  width: undefined;
  height: 1px;
  display: block;
  position: relative;
  align-self: stretch;
  flex-shrink: 0;
  background: rgba(228, 230, 234, 1);
}
.content19 {
  width: undefined;
  height: auto;
  display: flex;
  position: relative;
  align-self: stretch;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 20px 24px;
}
.svg__lbt93 {
  position: relative;
  object-fit: cover;
  width: 20px;
  height: 20px;
  color: #10b981;
  display: block;
  flex-shrink: 0;
}
.pricingPagesCell10 {
  width: undefined;
  height: auto;
  display: flex;
  position: relative;
  align-self: stretch;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.topBorder13 {
  width: undefined;
  height: 1px;
  display: block;
  position: relative;
  align-self: stretch;
  flex-shrink: 0;
  background: rgba(228, 230, 234, 1);
}
.content20 {
  width: undefined;
  height: auto;
  display: flex;
  position: relative;
  align-self: stretch;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 20px 24px;
}
.svg__sK7Bu {
  position: relative;
  object-fit: cover;
  width: 20px;
  height: 20px;
  color: #10b981;
  display: block;
  flex-shrink: 0;
}
.pricingPagesCell11 {
  width: undefined;
  height: auto;
  display: flex;
  position: relative;
  align-self: stretch;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.topBorder14 {
  width: undefined;
  height: 1px;
  display: block;
  position: relative;
  align-self: stretch;
  flex-shrink: 0;
  background: rgba(228, 230, 234, 1);
}
.content21 {
  width: undefined;
  height: auto;
  display: flex;
  position: relative;
  align-self: stretch;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 20px 24px;
}
.svg__ucwP {
  position: relative;
  object-fit: cover;
  width: 20px;
  height: 20px;
  color: #10b981;
  display: block;
  flex-shrink: 0;
}
.pricingPagesCell12 {
  width: undefined;
  height: 81px;
  display: flex;
  position: relative;
  align-self: stretch;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
}
.topBorder15 {
  width: undefined;
  height: 1px;
  display: block;
  position: relative;
  align-self: stretch;
  flex-shrink: 0;
  background: rgba(228, 230, 234, 1);
}
.content22 {
  width: undefined;
  height: undefined;
  display: flex;
  position: relative;
  align-self: stretch;
  flex-grow: 1;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: 20px 24px;
}
.svg__uEvW {
  position: relative;
  object-fit: cover;
  width: 20px;
  height: 20px;
  color: #9ca3af;
  display: block;
  flex-shrink: 0;
}
.cta3 {
  width: undefined;
  height: auto;
  display: flex;
  position: relative;
  align-self: stretch;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.divider3 {
  width: undefined;
  height: 1px;
  display: block;
  position: relative;
  align-self: stretch;
  flex-shrink: 0;
  background: rgba(228, 230, 234, 1);
}
.content23 {
  width: undefined;
  height: auto;
  display: flex;
  position: relative;
  align-self: stretch;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 20px;
}
.pricingPagesButtonLink2 {
  width: undefined;
  height: auto;
  display: flex;
  position: relative;
  flex-grow: 1;
  overflow: hidden;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  border-radius: 6px;
  padding: 9px 17px;
  background: rgba(30, 40, 54, 1);
}
.text17 {
  display: block;
  font-size: 14px;
  text-align: undefined;
  text-transform: undefined;
  text-decoration-line: undefined;
  font-family: "Inter";
  font-weight: 500;
  letter-spacing: 0em;
  line-height: 20px;
  color: rgba(255, 255, 255, 1);
  position: relative;
}
.premium {
  width: 304px;
  height: auto;
  display: flex;
  position: relative;
  top: auto;
  left: auto;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
}
.section4 {
  width: undefined;
  height: auto;
  display: flex;
  position: relative;
  align-self: stretch;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.pricingPagesRowHeader4 {
  width: undefined;
  height: 45px;
  display: flex;
  position: relative;
  align-self: stretch;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  background: rgba(248, 249, 250, 1);
}
.topBorder16 {
  width: undefined;
  height: 1px;
  display: block;
  position: relative;
  align-self: stretch;
  flex-shrink: 0;
  background: rgba(228, 230, 234, 1);
}
.pricingPagesCell13 {
  width: undefined;
  height: auto;
  display: flex;
  position: relative;
  align-self: stretch;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.topBorder17 {
  width: undefined;
  height: 1px;
  display: block;
  position: relative;
  align-self: stretch;
  flex-shrink: 0;
  background: rgba(228, 230, 234, 1);
}
.content24 {
  width: undefined;
  height: auto;
  display: flex;
  position: relative;
  align-self: stretch;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 20px 24px;
}
.svg__m4SmC {
  position: relative;
  object-fit: cover;
  width: 20px;
  height: 20px;
  color: #10b981;
  display: block;
  flex-shrink: 0;
}
.pricingPagesCell14 {
  width: undefined;
  height: auto;
  display: flex;
  position: relative;
  align-self: stretch;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.topBorder18 {
  width: undefined;
  height: 1px;
  display: block;
  position: relative;
  align-self: stretch;
  flex-shrink: 0;
  background: rgba(228, 230, 234, 1);
}
.content25 {
  width: undefined;
  height: auto;
  display: flex;
  position: relative;
  align-self: stretch;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 20px 24px;
}
.svg__wrJr2 {
  position: relative;
  object-fit: cover;
  width: 20px;
  height: 20px;
  color: #10b981;
  display: block;
  flex-shrink: 0;
}
.pricingPagesCell15 {
  width: undefined;
  height: auto;
  display: flex;
  position: relative;
  align-self: stretch;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.topBorder19 {
  width: undefined;
  height: 1px;
  display: block;
  position: relative;
  align-self: stretch;
  flex-shrink: 0;
  background: rgba(228, 230, 234, 1);
}
.content26 {
  width: undefined;
  height: auto;
  display: flex;
  position: relative;
  align-self: stretch;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 20px 24px;
}
.svg__mXEur {
  position: relative;
  object-fit: cover;
  width: 20px;
  height: 20px;
  color: #10b981;
  display: block;
  flex-shrink: 0;
}
.pricingPagesCell16 {
  width: undefined;
  height: 81px;
  display: flex;
  position: relative;
  align-self: stretch;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
}
.topBorder20 {
  width: undefined;
  height: 1px;
  display: block;
  position: relative;
  align-self: stretch;
  flex-shrink: 0;
  background: rgba(228, 230, 234, 1);
}
.content27 {
  width: undefined;
  height: undefined;
  display: flex;
  position: relative;
  align-self: stretch;
  flex-grow: 1;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: 20px 24px;
}
.svg___065Ed {
  position: relative;
  object-fit: cover;
  width: 20px;
  height: 20px;
  color: #10b981;
  display: block;
  flex-shrink: 0;
}
.cta4 {
  width: undefined;
  height: auto;
  display: flex;
  position: relative;
  align-self: stretch;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.divider4 {
  width: undefined;
  height: 1px;
  display: block;
  position: relative;
  align-self: stretch;
  flex-shrink: 0;
  background: rgba(228, 230, 234, 1);
}
.content28 {
  width: undefined;
  height: auto;
  display: flex;
  position: relative;
  align-self: stretch;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 20px;
}
.pricingPagesButtonLink3 {
  width: undefined;
  height: auto;
  display: flex;
  position: relative;
  flex-grow: 1;
  overflow: hidden;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  border-radius: 6px;
  padding: 9px 17px;
  background: rgba(30, 40, 54, 1);
}
.text18 {
  display: block;
  font-size: 14px;
  text-align: undefined;
  text-transform: undefined;
  text-decoration-line: undefined;
  font-family: "Inter";
  font-weight: 500;
  letter-spacing: 0em;
  line-height: 20px;
  color: rgba(255, 255, 255, 1);
  position: relative;
}
.basic2 {
  width: 304px;
  height: auto;
  display: flex;
  position: relative;
  top: auto;
  left: auto;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
}
.section6 {
  width: undefined;
  height: auto;
  display: flex;
  position: relative;
  align-self: stretch;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.pricingPagesRowHeader6 {
  width: undefined;
  height: 45px;
  display: flex;
  position: relative;
  align-self: stretch;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  background: rgba(248, 249, 250, 1);
}
.topBorder26 {
  width: undefined;
  height: 1px;
  display: block;
  position: relative;
  align-self: stretch;
  flex-shrink: 0;
  background: rgba(228, 230, 234, 1);
}
.pricingPagesCell21 {
  width: undefined;
  height: auto;
  display: flex;
  position: relative;
  align-self: stretch;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.topBorder27 {
  width: undefined;
  height: 1px;
  display: block;
  position: relative;
  align-self: stretch;
  flex-shrink: 0;
  background: rgba(228, 230, 234, 1);
}
.content34 {
  width: undefined;
  height: auto;
  display: flex;
  position: relative;
  align-self: stretch;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 20px 24px;
}
.svg__dIthO {
  position: relative;
  object-fit: cover;
  width: 20px;
  height: 20px;
  color: #10b981;
  display: block;
  flex-shrink: 0;
}
.pricingPagesCell22 {
  width: undefined;
  height: auto;
  display: flex;
  position: relative;
  align-self: stretch;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.topBorder28 {
  width: undefined;
  height: 1px;
  display: block;
  position: relative;
  align-self: stretch;
  flex-shrink: 0;
  background: rgba(228, 230, 234, 1);
}
.content35 {
  width: undefined;
  height: auto;
  display: flex;
  position: relative;
  align-self: stretch;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 20px 24px;
}
.svg__jjVgN {
  position: relative;
  object-fit: cover;
  width: 20px;
  height: 20px;
  color: #9ca3af;
  display: block;
  flex-shrink: 0;
}
.pricingPagesCell23 {
  width: undefined;
  height: auto;
  display: flex;
  position: relative;
  align-self: stretch;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.topBorder29 {
  width: undefined;
  height: 1px;
  display: block;
  position: relative;
  align-self: stretch;
  flex-shrink: 0;
  background: rgba(228, 230, 234, 1);
}
.content36 {
  width: undefined;
  height: auto;
  display: flex;
  position: relative;
  align-self: stretch;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 20px 24px;
}
.svg__jsJlN {
  position: relative;
  object-fit: cover;
  width: 20px;
  height: 20px;
  color: #9ca3af;
  display: block;
  flex-shrink: 0;
}
.pricingPagesCell24 {
  width: undefined;
  height: 81px;
  display: flex;
  position: relative;
  align-self: stretch;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
}
.topBorder30 {
  width: undefined;
  height: 1px;
  display: block;
  position: relative;
  align-self: stretch;
  flex-shrink: 0;
  background: rgba(228, 230, 234, 1);
}
.content37 {
  width: undefined;
  height: undefined;
  display: flex;
  position: relative;
  align-self: stretch;
  flex-grow: 1;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: 20px 24px;
}
.svg__tkn21 {
  position: relative;
  object-fit: cover;
  width: 20px;
  height: 20px;
  color: #9ca3af;
  display: block;
  flex-shrink: 0;
}
.essential2 {
  width: 304px;
  height: auto;
  display: flex;
  position: relative;
  top: auto;
  left: auto;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
}
.section7 {
  width: undefined;
  height: auto;
  display: flex;
  position: relative;
  align-self: stretch;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.pricingPagesRowHeader7 {
  width: undefined;
  height: 45px;
  display: flex;
  position: relative;
  align-self: stretch;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  background: rgba(248, 249, 250, 1);
}
.topBorder31 {
  width: undefined;
  height: 1px;
  display: block;
  position: relative;
  align-self: stretch;
  flex-shrink: 0;
  background: rgba(228, 230, 234, 1);
}
.pricingPagesCell25 {
  width: undefined;
  height: auto;
  display: flex;
  position: relative;
  align-self: stretch;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.topBorder32 {
  width: undefined;
  height: 1px;
  display: block;
  position: relative;
  align-self: stretch;
  flex-shrink: 0;
  background: rgba(228, 230, 234, 1);
}
.content38 {
  width: undefined;
  height: auto;
  display: flex;
  position: relative;
  align-self: stretch;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 20px 24px;
}
.svg__q16U {
  position: relative;
  object-fit: cover;
  width: 20px;
  height: 20px;
  color: #10b981;
  display: block;
  flex-shrink: 0;
}
.pricingPagesCell26 {
  width: undefined;
  height: auto;
  display: flex;
  position: relative;
  align-self: stretch;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.topBorder33 {
  width: undefined;
  height: 1px;
  display: block;
  position: relative;
  align-self: stretch;
  flex-shrink: 0;
  background: rgba(228, 230, 234, 1);
}
.content39 {
  width: undefined;
  height: auto;
  display: flex;
  position: relative;
  align-self: stretch;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 20px 24px;
}
.svg__kxn05 {
  position: relative;
  object-fit: cover;
  width: 20px;
  height: 20px;
  color: #10b981;
  display: block;
  flex-shrink: 0;
}
.pricingPagesCell27 {
  width: undefined;
  height: auto;
  display: flex;
  position: relative;
  align-self: stretch;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.topBorder34 {
  width: undefined;
  height: 1px;
  display: block;
  position: relative;
  align-self: stretch;
  flex-shrink: 0;
  background: rgba(228, 230, 234, 1);
}
.content40 {
  width: undefined;
  height: auto;
  display: flex;
  position: relative;
  align-self: stretch;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 20px 24px;
}
.svg__sO7HR {
  position: relative;
  object-fit: cover;
  width: 20px;
  height: 20px;
  color: #9ca3af;
  display: block;
  flex-shrink: 0;
}
.pricingPagesCell28 {
  width: undefined;
  height: 81px;
  display: flex;
  position: relative;
  align-self: stretch;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
}
.topBorder35 {
  width: undefined;
  height: 1px;
  display: block;
  position: relative;
  align-self: stretch;
  flex-shrink: 0;
  background: rgba(228, 230, 234, 1);
}
.content41 {
  width: undefined;
  height: undefined;
  display: flex;
  position: relative;
  align-self: stretch;
  flex-grow: 1;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: 20px 24px;
}
.svg__frJno {
  position: relative;
  object-fit: cover;
  width: 20px;
  height: 20px;
  color: #9ca3af;
  display: block;
  flex-shrink: 0;
}
.premium2 {
  width: 304px;
  height: auto;
  display: flex;
  position: relative;
  top: auto;
  left: auto;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
}
.section8 {
  width: undefined;
  height: auto;
  display: flex;
  position: relative;
  align-self: stretch;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.pricingPagesRowHeader8 {
  width: undefined;
  height: 45px;
  display: flex;
  position: relative;
  align-self: stretch;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  background: rgba(248, 249, 250, 1);
}
.topBorder36 {
  width: undefined;
  height: 1px;
  display: block;
  position: relative;
  align-self: stretch;
  flex-shrink: 0;
  background: rgba(228, 230, 234, 1);
}
.pricingPagesCell29 {
  width: undefined;
  height: auto;
  display: flex;
  position: relative;
  align-self: stretch;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.topBorder37 {
  width: undefined;
  height: 1px;
  display: block;
  position: relative;
  align-self: stretch;
  flex-shrink: 0;
  background: rgba(228, 230, 234, 1);
}
.content42 {
  width: undefined;
  height: auto;
  display: flex;
  position: relative;
  align-self: stretch;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 20px 24px;
}
.svg___2UefI {
  position: relative;
  object-fit: cover;
  width: 20px;
  height: 20px;
  color: #10b981;
  display: block;
  flex-shrink: 0;
}
.pricingPagesCell30 {
  width: undefined;
  height: auto;
  display: flex;
  position: relative;
  align-self: stretch;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.topBorder38 {
  width: undefined;
  height: 1px;
  display: block;
  position: relative;
  align-self: stretch;
  flex-shrink: 0;
  background: rgba(228, 230, 234, 1);
}
.content43 {
  width: undefined;
  height: auto;
  display: flex;
  position: relative;
  align-self: stretch;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 20px 24px;
}
.svg__rjEm {
  position: relative;
  object-fit: cover;
  width: 20px;
  height: 20px;
  color: #10b981;
  display: block;
  flex-shrink: 0;
}
.pricingPagesCell31 {
  width: undefined;
  height: auto;
  display: flex;
  position: relative;
  align-self: stretch;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.topBorder39 {
  width: undefined;
  height: 1px;
  display: block;
  position: relative;
  align-self: stretch;
  flex-shrink: 0;
  background: rgba(228, 230, 234, 1);
}
.content44 {
  width: undefined;
  height: auto;
  display: flex;
  position: relative;
  align-self: stretch;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 20px 24px;
}
.svg__c57Si {
  position: relative;
  object-fit: cover;
  width: 20px;
  height: 20px;
  color: #10b981;
  display: block;
  flex-shrink: 0;
}
.pricingPagesCell32 {
  width: undefined;
  height: 81px;
  display: flex;
  position: relative;
  align-self: stretch;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
}
.topBorder40 {
  width: undefined;
  height: 1px;
  display: block;
  position: relative;
  align-self: stretch;
  flex-shrink: 0;
  background: rgba(228, 230, 234, 1);
}
.content45 {
  width: undefined;
  height: undefined;
  display: flex;
  position: relative;
  align-self: stretch;
  flex-grow: 1;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: 20px 24px;
}
.svg__qIank {
  position: relative;
  object-fit: cover;
  width: 20px;
  height: 20px;
  color: #10b981;
  display: block;
  flex-shrink: 0;
}
.basic3 {
  width: 304px;
  height: auto;
  display: flex;
  position: relative;
  top: auto;
  left: auto;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
}
.section10 {
  width: undefined;
  height: auto;
  display: flex;
  position: relative;
  align-self: stretch;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.pricingPagesRowHeader10 {
  width: undefined;
  height: 45px;
  display: flex;
  position: relative;
  align-self: stretch;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  background: rgba(248, 249, 250, 1);
}
.topBorder46 {
  width: undefined;
  height: 1px;
  display: block;
  position: relative;
  align-self: stretch;
  flex-shrink: 0;
  background: rgba(228, 230, 234, 1);
}
.pricingPagesCell37 {
  width: undefined;
  height: auto;
  display: flex;
  position: relative;
  align-self: stretch;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.topBorder47 {
  width: undefined;
  height: 1px;
  display: block;
  position: relative;
  align-self: stretch;
  flex-shrink: 0;
  background: rgba(228, 230, 234, 1);
}
.content51 {
  width: undefined;
  height: auto;
  display: flex;
  position: relative;
  align-self: stretch;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 20px 24px;
}
.svg__yA86Y {
  position: relative;
  object-fit: cover;
  width: 20px;
  height: 20px;
  color: #10b981;
  display: block;
  flex-shrink: 0;
}
.pricingPagesCell38 {
  width: undefined;
  height: auto;
  display: flex;
  position: relative;
  align-self: stretch;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.topBorder48 {
  width: undefined;
  height: 1px;
  display: block;
  position: relative;
  align-self: stretch;
  flex-shrink: 0;
  background: rgba(228, 230, 234, 1);
}
.content52 {
  width: undefined;
  height: auto;
  display: flex;
  position: relative;
  align-self: stretch;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 20px 24px;
}
.svg__gO8Js {
  position: relative;
  object-fit: cover;
  width: 20px;
  height: 20px;
  color: #10b981;
  display: block;
  flex-shrink: 0;
}
.pricingPagesCell39 {
  width: undefined;
  height: auto;
  display: flex;
  position: relative;
  align-self: stretch;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.topBorder49 {
  width: undefined;
  height: 1px;
  display: block;
  position: relative;
  align-self: stretch;
  flex-shrink: 0;
  background: rgba(228, 230, 234, 1);
}
.content53 {
  width: undefined;
  height: auto;
  display: flex;
  position: relative;
  align-self: stretch;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 20px 24px;
}
.svg__gkeEc {
  position: relative;
  object-fit: cover;
  width: 20px;
  height: 20px;
  color: #9ca3af;
  display: block;
  flex-shrink: 0;
}
.pricingPagesCell40 {
  width: undefined;
  height: auto;
  display: flex;
  position: relative;
  align-self: stretch;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.topBorder50 {
  width: undefined;
  height: 1px;
  display: block;
  position: relative;
  align-self: stretch;
  flex-shrink: 0;
  background: rgba(228, 230, 234, 1);
}
.content54 {
  width: undefined;
  height: auto;
  display: flex;
  position: relative;
  align-self: stretch;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 20px 24px;
}
.svg__eiJad {
  position: relative;
  object-fit: cover;
  width: 20px;
  height: 20px;
  color: #9ca3af;
  display: block;
  flex-shrink: 0;
}
.essential3 {
  width: 304px;
  height: auto;
  display: flex;
  position: relative;
  top: auto;
  left: auto;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
}
.section11 {
  width: undefined;
  height: auto;
  display: flex;
  position: relative;
  align-self: stretch;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.pricingPagesRowHeader11 {
  width: undefined;
  height: 45px;
  display: flex;
  position: relative;
  align-self: stretch;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  background: rgba(248, 249, 250, 1);
}
.topBorder51 {
  width: undefined;
  height: 1px;
  display: block;
  position: relative;
  align-self: stretch;
  flex-shrink: 0;
  background: rgba(228, 230, 234, 1);
}
.pricingPagesCell41 {
  width: undefined;
  height: auto;
  display: flex;
  position: relative;
  align-self: stretch;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.topBorder52 {
  width: undefined;
  height: 1px;
  display: block;
  position: relative;
  align-self: stretch;
  flex-shrink: 0;
  background: rgba(228, 230, 234, 1);
}
.content55 {
  width: undefined;
  height: auto;
  display: flex;
  position: relative;
  align-self: stretch;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 20px 24px;
}
.svg__xjGIg {
  position: relative;
  object-fit: cover;
  width: 20px;
  height: 20px;
  color: #10b981;
  display: block;
  flex-shrink: 0;
}
.pricingPagesCell42 {
  width: undefined;
  height: auto;
  display: flex;
  position: relative;
  align-self: stretch;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.topBorder53 {
  width: undefined;
  height: 1px;
  display: block;
  position: relative;
  align-self: stretch;
  flex-shrink: 0;
  background: rgba(228, 230, 234, 1);
}
.content56 {
  width: undefined;
  height: auto;
  display: flex;
  position: relative;
  align-self: stretch;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 20px 24px;
}
.svg__kolcm {
  position: relative;
  object-fit: cover;
  width: 20px;
  height: 20px;
  color: #10b981;
  display: block;
  flex-shrink: 0;
}
.pricingPagesCell43 {
  width: undefined;
  height: auto;
  display: flex;
  position: relative;
  align-self: stretch;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.topBorder54 {
  width: undefined;
  height: 1px;
  display: block;
  position: relative;
  align-self: stretch;
  flex-shrink: 0;
  background: rgba(228, 230, 234, 1);
}
.content57 {
  width: undefined;
  height: auto;
  display: flex;
  position: relative;
  align-self: stretch;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 20px 24px;
}
.svg__a1XU4 {
  position: relative;
  object-fit: cover;
  width: 20px;
  height: 20px;
  color: #10b981;
  display: block;
  flex-shrink: 0;
}
.pricingPagesCell44 {
  width: undefined;
  height: auto;
  display: flex;
  position: relative;
  align-self: stretch;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.topBorder55 {
  width: undefined;
  height: 1px;
  display: block;
  position: relative;
  align-self: stretch;
  flex-shrink: 0;
  background: rgba(228, 230, 234, 1);
}
.content58 {
  width: undefined;
  height: auto;
  display: flex;
  position: relative;
  align-self: stretch;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 20px 24px;
}
.text29 {
  display: block;
  flex-grow: 1;
  font-size: 14px;
  text-align: undefined;
  text-transform: undefined;
  text-decoration-line: undefined;
  font-family: "Inter";
  font-weight: 400;
  letter-spacing: 0em;
  line-height: 20px;
  color: rgba(255, 255, 255, 1);
  position: relative;
}
.premium3 {
  width: 304px;
  height: auto;
  display: flex;
  position: relative;
  top: auto;
  left: auto;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
}
.section12 {
  width: undefined;
  height: auto;
  display: flex;
  position: relative;
  align-self: stretch;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.pricingPagesRowHeader12 {
  width: undefined;
  height: 45px;
  display: flex;
  position: relative;
  align-self: stretch;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  background: rgba(248, 249, 250, 1);
}
.topBorder56 {
  width: undefined;
  height: 1px;
  display: block;
  position: relative;
  align-self: stretch;
  flex-shrink: 0;
  background: rgba(228, 230, 234, 1);
}
.pricingPagesCell45 {
  width: undefined;
  height: auto;
  display: flex;
  position: relative;
  align-self: stretch;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.topBorder57 {
  width: undefined;
  height: 1px;
  display: block;
  position: relative;
  align-self: stretch;
  flex-shrink: 0;
  background: rgba(228, 230, 234, 1);
}
.content59 {
  width: undefined;
  height: auto;
  display: flex;
  position: relative;
  align-self: stretch;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 20px 24px;
}
.svg__d7Ug5 {
  position: relative;
  object-fit: cover;
  width: 20px;
  height: 20px;
  color: #10b981;
  display: block;
  flex-shrink: 0;
}
.pricingPagesCell46 {
  width: undefined;
  height: auto;
  display: flex;
  position: relative;
  align-self: stretch;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.topBorder58 {
  width: undefined;
  height: 1px;
  display: block;
  position: relative;
  align-self: stretch;
  flex-shrink: 0;
  background: rgba(228, 230, 234, 1);
}
.content60 {
  width: undefined;
  height: auto;
  display: flex;
  position: relative;
  align-self: stretch;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 20px 24px;
}
.svg__kvItG {
  position: relative;
  object-fit: cover;
  width: 20px;
  height: 20px;
  color: #10b981;
  display: block;
  flex-shrink: 0;
}
.pricingPagesCell47 {
  width: undefined;
  height: auto;
  display: flex;
  position: relative;
  align-self: stretch;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.topBorder59 {
  width: undefined;
  height: 1px;
  display: block;
  position: relative;
  align-self: stretch;
  flex-shrink: 0;
  background: rgba(228, 230, 234, 1);
}
.content61 {
  width: undefined;
  height: auto;
  display: flex;
  position: relative;
  align-self: stretch;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 20px 24px;
}
.svg__uvEa2 {
  position: relative;
  object-fit: cover;
  width: 20px;
  height: 20px;
  color: #10b981;
  display: block;
  flex-shrink: 0;
}
.pricingPagesCell48 {
  width: undefined;
  height: auto;
  display: flex;
  position: relative;
  align-self: stretch;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.topBorder60 {
  width: undefined;
  height: 1px;
  display: block;
  position: relative;
  align-self: stretch;
  flex-shrink: 0;
  background: rgba(228, 230, 234, 1);
}
.content62 {
  width: undefined;
  height: auto;
  display: flex;
  position: relative;
  align-self: stretch;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 20px 24px;
}
.text30 {
  display: block;
  flex-grow: 1;
  font-size: 14px;
  text-align: undefined;
  text-transform: undefined;
  text-decoration-line: undefined;
  font-family: "Inter";
  font-weight: 400;
  letter-spacing: 0em;
  line-height: 20px;
  color: rgba(255, 255, 255, 1);
  position: relative;
}
