.about-12 {
  align-items: flex-start;
  display: flex;
  height: 144px;
  justify-content: flex-end;
  margin-left: 0.16px;
  margin-top: 16px;
  min-width: 143px;
}
.about4 {
  letter-spacing: 0.70px;
  line-height: 20px;
  min-height: 20px;
  white-space: nowrap;
}
.analytics3 {
  letter-spacing: 0.00px;
  line-height: 24px;
  margin-top: 16px;
  min-height: 44px;
  width: 94px;
}
.apps3 {
  letter-spacing: 0.00px;
  line-height: 20px;
  min-height: 20px;
  white-space: nowrap;
  width: 78px;
}
.aws2 {
  letter-spacing: 0.00px;
  line-height: 24px;
  margin-top: 16px;
  min-height: 44px;
  width: 94px;
}
.basic3 {
  letter-spacing: 0.00px;
  line-height: 24px;
  min-height: 24px;
  white-space: nowrap;
}
.body3 {
  align-items: flex-end;
  background-color: var(--white);
  display: flex;
  height: 1432px;
  left: 0px;
  min-width: 1500px;
  position: absolute;
  top: 0px;
}
.choose-your-plan3 {
  letter-spacing: 0.00px;
  line-height: 24px;
  margin-bottom: -23px;
  min-height: 24px;
  text-align: center;
  white-space: nowrap;
  width: 175px;
}
.colorlogotransparent-27 {
  height: 77px;
  left: 28px;
  object-fit: cover;
  position: absolute;
  top: 6px;
  width: 106px;
}
.documentation2 {
  letter-spacing: 0.00px;
  line-height: 24px;
  margin-top: 16px;
  min-height: 24px;
  white-space: nowrap;
}
.essential3 {
  letter-spacing: 0.00px;
  line-height: 24px;
  min-height: 24px;
  white-space: nowrap;
}
.feature-by3 {
  letter-spacing: 0.00px;
  line-height: 20px;
  margin-bottom: -19px;
  min-height: 20px;
  white-space: nowrap;
  width: 94px;
}
.flex-col-13 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin-left: 30px;
  min-height: 180px;
  width: 143px;
}
.flex-col4 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  min-height: 180px;
  width: 143px;
}
.footer-12 {
  align-items: flex-end;
  display: flex;
  height: 200px;
  left: 249px;
  min-width: 996px;
  position: absolute;
  top: 13px;
}
.footer-2 {
  align-items: flex-start;
  display: flex;
  height: 64px;
  left: 0px;
  position: absolute;
  top: 149px;
  width: 1500px;
}
.frame-103 {
  align-items: flex-start;
  display: flex;
  height: 61px;
  left: 0px;
  min-width: 1420px;
  position: absolute;
  top: 0px;
}
.frame-113 {
  align-items: flex-end;
  display: flex;
  height: 61px;
  left: 355px;
  min-width: 355px;
  padding: 20px 28.8px;
  position: absolute;
  top: 0px;
}
.frame-123 {
  align-items: flex-end;
  display: flex;
  height: 61px;
  left: 0px;
  min-width: 355px;
  padding: 20px 28.8px;
  position: absolute;
  top: 0px;
}
.frame-134 {
  align-items: flex-start;
  display: flex;
  height: 20px;
  min-width: 295px;
}
.frame-144 {
  align-items: flex-start;
  display: flex;
  height: 36px;
  min-width: 690px;
}
.frame-154 {
  align-items: flex-start;
  display: flex;
  min-width: 690px;
}
.frame-164 {
  align-items: flex-start;
  display: flex;
  min-width: 690px;
  position: relative;
}
.frame-174 {
  align-items: flex-start;
  display: flex;
  height: 104px;
  min-width: 60px;
}
.frame-184 {
  align-items: center;
  background-color: rgba(99,102,241,1.0);
  border-radius: 6px;
  display: flex;
  height: 48px;
  min-width: 60px;
  padding: 0 18px;
}
.frame-193 {
  align-items: center;
  display: flex;
  height: 24px;
  padding: 0 2px;
  width: 24px;
}
.frame-203 {
  align-items: flex-start;
  display: flex;
  margin-top: 40px;
  min-width: 690px;
}
.frame-214 {
  align-items: center;
  background-color: rgba(99,102,241,1.0);
  border-radius: 6px;
  display: flex;
  height: 48px;
  justify-content: flex-end;
  min-width: 60px;
  padding: 0 18.0px;
}
.frame-224 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  min-height: 1233px;
  width: 1420px;
}
.frame-233 {
  align-items: flex-start;
  display: flex;
  height: 41px;
  left: 0px;
  min-width: 1420px;
  position: absolute;
  top: 0px;
}
.frame-244 {
  align-items: flex-start;
  display: flex;
  height: 41px;
  left: 0px;
  min-width: 355px;
  padding: 2px 28.8px;
  position: absolute;
  top: 0px;
}
.frame-253 {
  align-items: flex-end;
  display: flex;
  height: 1px;
  overflow: hidden;
  width: 1px;
}
.frame-263 {
  align-items: flex-start;
  display: flex;
  height: 17px;
  margin-top: 2px;
  min-width: 46px;
}
.frame-273 {
  align-items: flex-start;
  display: flex;
  height: 41px;
  left: 0px;
  min-width: 355px;
  padding: 1px 30.0px;
  position: absolute;
  top: 0px;
}
.frame-283 {
  align-items: flex-end;
  display: flex;
  height: 1px;
  left: 0px;
  overflow: hidden;
  position: absolute;
  top: 40px;
  width: 1px;
}
.frame-293 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  min-height: 1132px;
  position: relative;
  width: 1420px;
}
.frame-303 {
  align-items: flex-start;
  display: flex;
  height: 225px;
  left: 0px;
  min-width: 1420px;
  position: absolute;
  top: 0px;
}
.frame-311 {
  align-items: flex-start;
  display: flex;
  min-width: 1420px;
}
.frame-313 {
  align-items: flex-start;
  display: flex;
  height: 44px;
  margin-bottom: -2px;
  min-width: 61px;
}
.frame-323 {
  align-items: flex-start;
  display: flex;
  height: 20px;
  margin-bottom: 3px;
  margin-left: 14px;
  min-width: 64px;
}
.frame-333 {
  align-items: flex-start;
  display: flex;
  height: 225px;
  left: 0px;
  min-width: 355px;
  padding: 33px 30.0px;
  position: absolute;
  top: 0px;
}
.frame-343 {
  align-items: flex-start;
  display: flex;
  height: 44px;
  margin-bottom: -2px;
  min-width: 91px;
}
.frame-353 {
  align-items: flex-start;
  display: flex;
  height: 20px;
  margin-bottom: 2px;
  margin-left: 18px;
  min-width: 38px;
}
.frame-363 {
  align-items: flex-end;
  display: flex;
  height: 225px;
  justify-content: flex-end;
  left: 0px;
  min-width: 355px;
  padding: 32px 30.0px;
  position: absolute;
  top: 0px;
}
.frame-373 {
  height: 40px;
  position: relative;
  width: 295px;
}
.frame-383 {
  align-items: flex-end;
  display: flex;
  height: 44px;
  left: 0px;
  min-width: 91px;
  position: absolute;
  top: -2px;
}
.frame-393 {
  align-items: flex-end;
  display: flex;
  height: 40px;
  margin-top: 16px;
  min-width: 295px;
}
.frame-403 {
  align-items: flex-end;
  display: flex;
  height: 61px;
  justify-content: flex-end;
  left: 0px;
  min-width: 355px;
  padding: 20px 30.0px;
  position: absolute;
  top: 0px;
}
.frame-410 {
  align-items: flex-start;
  display: flex;
  height: 41px;
  left: 355px;
  min-width: 355px;
  padding: 1px 30.0px;
  position: absolute;
  top: 0px;
}
.frame-413 {
  align-items: flex-end;
  display: flex;
  height: 61px;
  justify-content: flex-end;
  left: 355px;
  min-width: 355px;
  padding: 20px 30.0px;
  position: absolute;
  top: 0px;
}
.frame-423 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  min-height: 60px;
  width: 1420px;
}
.frame-433 {
  align-items: flex-end;
  display: flex;
  height: 1px;
  margin-left: -1px;
  overflow: hidden;
  width: 1px;
}
.frame-443 {
  align-items: flex-end;
  display: flex;
  height: 60px;
  justify-content: flex-end;
  margin-left: 354px;
  min-width: 355px;
  padding: 1px 30.0px;
  position: relative;
}
.frame-453 {
  align-items: flex-end;
  display: flex;
  height: 60px;
  justify-content: flex-end;
  left: 0px;
  min-width: 355px;
  padding: 1px 30.0px;
  position: absolute;
  top: 0px;
}
.frame-463 {
  align-items: flex-end;
  display: flex;
  height: 60px;
  justify-content: flex-end;
  left: 355px;
  min-width: 355px;
  padding: 1px 30.0px;
  position: absolute;
  top: 0px;
}
.frame-473 {
  align-items: flex-start;
  display: flex;
  height: 420px;
  left: 40px;
  min-width: 1420px;
  position: absolute;
  top: 896px;
}
.frame-483 {
  align-items: center;
  display: flex;
  height: 420px;
  min-width: 1420px;
}
.frame-494 {
  align-items: flex-start;
  display: flex;
  margin-left: -20px;
  min-width: 730px;
  padding: 0 58.0px;
}
.frame-503 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin-left: 19px;
  min-height: 420px;
  width: 690px;
}
.frame-513 {
  align-items: flex-end;
  display: flex;
  height: 84px;
  margin-top: 12px;
  min-width: 690px;
}
.frame-523 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin-top: 40px;
  min-height: 248px;
  width: 690px;
}
.frame-53 {
  align-items: flex-end;
  display: flex;
  height: 225px;
  justify-content: flex-end;
  left: 355px;
  min-width: 355px;
  padding: 32px 30.0px;
  position: absolute;
  top: 0px;
}
.frame-532 {
  align-items: center;
  display: flex;
  height: 592px;
  left: 40px;
  min-width: 1420px;
  position: absolute;
  top: 208px;
}
.frame-54 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  min-height: 592px;
  width: 690px;
}
.frame-55 {
  align-items: flex-end;
  display: flex;
  height: 112px;
  margin-top: 12px;
  min-width: 690px;
}
.frame-56 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin-top: 40px;
  min-height: 392px;
  width: 690px;
}
.frame-57 {
  align-items: center;
  display: flex;
  height: 24px;
  padding: 0 2.0px;
  width: 24px;
}
.frame-58 {
  align-items: center;
  display: flex;
  height: 24px;
  padding: 0 3px;
  width: 24px;
}
.frame-59 {
  align-items: flex-start;
  display: flex;
  margin-left: 20px;
  min-width: 730px;
  padding: 0 58.0px;
}
.frame-60 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  left: 40px;
  min-height: 112px;
  padding: 0 230.0px;
  position: absolute;
  top: 39px;
  width: 1420px;
}
.frame-61 {
  align-items: flex-end;
  display: flex;
  height: 56px;
  justify-content: flex-end;
  margin-top: 16px;
  min-width: 960px;
  padding: 0 36.7px;
}
.frame-622 {
  align-items: center;
  display: flex;
  height: 784px;
  left: 1148px;
  padding: 0 201.5px;
  position: absolute;
  top: 0px;
  width: 404px;
}
.frame-63 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  min-height: 160px;
  position: relative;
  width: 295px;
}
.frame-73 {
  align-items: flex-end;
  display: flex;
  height: 40px;
  min-width: 295px;
}
.frame-83 {
  align-items: flex-start;
  display: flex;
  height: 45px;
  left: 0px;
  min-width: 1420px;
  position: absolute;
  top: 0px;
}
.frame-93 {
  align-items: flex-end;
  background-color: var(--alabaster);
  display: flex;
  height: 45px;
  min-width: 1420px;
  padding: 12px 30.0px;
}
.frame18 {
  align-items: flex-end;
  display: flex;
  height: 1181px;
  margin-top: 72px;
  min-width: 1420px;
}
.google2 {
  letter-spacing: 0.00px;
  line-height: 24px;
  min-height: 24px;
  white-space: nowrap;
}
.guides2 {
  letter-spacing: 0.00px;
  line-height: 24px;
  margin-top: 16px;
  min-height: 24px;
  white-space: nowrap;
}
.hardware-12 {
  letter-spacing: 0.00px;
  line-height: 24px;
  min-height: 24px;
  white-space: nowrap;
}
.hardware4 {
  letter-spacing: 0.00px;
  line-height: 20px;
  min-height: 20px;
  white-space: nowrap;
  width: 87px;
}
.kyaw-tun-7-k3-v-47-q-unsplash-12 {
  height: 844px;
  margin-bottom: -0.25px;
  width: 1500px;
}
.marketplaced3 {
  align-items: flex-start;
  display: flex;
  height: 144px;
  left: 169px;
  min-width: 143px;
  position: absolute;
  top: 36px;
}
.marketplaces3 {
  left: 169px;
  letter-spacing: 0.70px;
  line-height: 20px;
  position: absolute;
  top: 0px;
  white-space: nowrap;
  width: 128px;
}
.microsoft2 {
  letter-spacing: 0.00px;
  line-height: 24px;
  margin-top: 16px;
  min-height: 24px;
  white-space: nowrap;
}
.mo-13 {
  color: var(--pale-sky);
  font-family: 'Roboto', Helvetica;
  font-size: 16px;
  letter-spacing: 0.00px;
  line-height: 24px;
  margin-top: -2px;
  min-height: 24px;
  white-space: nowrap;
}
.mo-23 {
  color: var(--pale-sky);
  font-family: 'Roboto', Helvetica;
  font-size: 16px;
  left: 129px;
  letter-spacing: 0.00px;
  line-height: 24px;
  position: absolute;
  top: 16px;
  white-space: nowrap;
  width: 39px;
}
.mo3 {
  color: var(--pale-sky);
  font-family: 'Roboto', Helvetica;
  font-size: 16px;
  letter-spacing: 0.00px;
  line-height: 24px;
  margin-top: -2px;
  min-height: 24px;
  white-space: nowrap;
}
.nav-bar7 {
  align-items: flex-end;
  display: flex;
  height: 90px;
  left: 0px;
  overflow: hidden;
  position: absolute;
  top: 0px;
  width: 1500px;
}
.overlap-group-13 {
  height: 41px;
  position: relative;
  width: 710px;
}
.overlap-group-23 {
  height: 225px;
  position: relative;
  width: 710px;
}
.overlap-group-32 {
  height: 45px;
  position: relative;
  width: 1420px;
}
.overlap-group-42 {
  height: 61px;
  position: relative;
  width: 1420px;
}
.overlap-group-52 {
  height: 61px;
  position: relative;
  width: 710px;
}
.overlap-group-62 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin-top: -36px;
  min-height: 220px;
  padding: 36px 0;
  width: 143px;
}
.overlap-group11 {
  height: 81px;
  position: relative;
  width: 1420px;
}
.overlap-group110 {
  height: 844px;
  position: relative;
  width: 1500px;
}
.overlap-group162 {
  height: 225px;
  position: relative;
  width: 1420px;
}
.overlap-group20 {
  height: 213px;
  margin-top: 179px;
  position: relative;
  width: 1500px;
}
.overlap-group213 {
  height: 40px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 168px;
}
.overlap-group22-1 {
  height: 1523px;
  margin-bottom: -91.0px;
  position: relative;
  width: 1552px;
}
.overlap-group224 {
  height: 41px;
  margin-left: -1.24px;
  position: relative;
  width: 1421px;
}
.overlap-group28 {
  height: 2856px;
  margin-left: 0.0px;
  position: relative;
  width: 1500px;
}
.overlap-group3-13 {
  align-items: flex-start;
  background-size: 100% 100%;
  display: flex;
  flex-direction: column;
  margin-bottom: -170px;
  min-height: 1595px;
  padding: 56px 40.0px;
  width: 1500px;
}
.overlap-group3-23 {
  height: 64px;
  position: relative;
  width: 1500px;
}
.overlap-group3-3 {
  height: 220px;
  margin-left: 12px;
  position: relative;
  width: 312px;
}
.overlap-group35 {
  height: 93px;
  margin-bottom: -3.0px;
  position: relative;
  width: 1500px;
}
.overlap-group4-12 {
  align-items: flex-start;
  display: flex;
  margin-bottom: -20px;
  min-width: 996px;
  padding: 0 157.6px;
}
.overlap-group45 {
  align-items: flex-start;
  display: flex;
  height: 1233px;
  margin-bottom: -52px;
  min-width: 1420px;
}
.overlap-group5-1 {
  height: 60px;
  position: relative;
  width: 710px;
}
.overlap-group55 {
  height: 41px;
  left: 1px;
  position: absolute;
  top: 0px;
  width: 1420px;
}
.overlap-group73 {
  height: 220px;
  margin-top: -36px;
  position: relative;
  width: 146px;
}
.plans3 {
  letter-spacing: 0.00px;
  line-height: 20px;
  margin-top: -1px;
  min-height: 20px;
  white-space: nowrap;
}
.premium3 {
  letter-spacing: 0.00px;
  line-height: 24px;
  min-height: 24px;
  white-space: nowrap;
}
.price-13 {
  letter-spacing: 0.00px;
  line-height: 40px;
  min-height: 40px;
  white-space: nowrap;
}
.price3 {
  letter-spacing: 0.00px;
  line-height: 40px;
  margin-bottom: -36px;
  min-height: 80px;
  width: 121px;
}
.pricing-13 {
  align-self: center;
  color: rgba(0,0,0,1.0);
  font-family: 'Roboto', Helvetica;
  font-size: 36px;
  font-weight: 700;
  letter-spacing: 0.00px;
  line-height: 20px;
  margin-left: 27.0px;
  min-height: 20px;
  min-width: 143px;
  white-space: nowrap;
}
.pricing-2 {
  color: var(--mischka);
  font-family: 'Roboto', Helvetica;
  font-size: 15px;
  letter-spacing: 0.00px;
  line-height: 24px;
  min-height: 24px;
  white-space: nowrap;
}
.pricing4 {
  align-items: flex-end;
  display: flex;
  height: 1425px;
  left: 0px;
  min-width: 1500px;
  position: absolute;
  top: 1431px;
}
.rectangle-10 {
  height: 374px;
  object-fit: cover;
  width: 614px;
}
.rectangle-11 {
  height: 570px;
  object-fit: cover;
  width: 614px;
}
.rectangle-122 {
  height: 126px;
  left: 81px;
  object-fit: cover;
  position: absolute;
  top: 0px;
  width: 212px;
}
.rectangle-137 {
  height: 93px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1500px;
}
.rectangle-14 {
  background-color: var(--denim);
  height: 1px;
  left: 0px;
  position: absolute;
  top: 44px;
  width: 1420px;
}
.rectangle-142 {
  height: 220px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 143px;
}
.rectangle-23 {
  background-color: var(--denim);
  height: 1px;
  left: 0px;
  position: absolute;
  top: 60px;
  width: 1420px;
}
.rectangle-33 {
  height: 20px;
  left: 98px;
  position: absolute;
  top: 17px;
  width: 37px;
}
.rectangle-43 {
  background-color: var(--denim);
  height: 1px;
  left: 0px;
  position: absolute;
  top: 224px;
  width: 1420px;
}
.rectangle-53 {
  background-color: var(--denim);
  height: 1px;
  left: 0px;
  position: absolute;
  top: 80px;
  width: 1420px;
}
.rectangle-64 {
  height: 64px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1500px;
}
.rectangle-73 {
  background-color: var(--denim);
  height: 1px;
  margin-top: -1px;
  width: 1420px;
}
.rectangle-83 {
  height: 1316px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1500px;
}
.rectangle-92 {
  height: 1450px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1500px;
}
.rectangle8 {
  background-color: var(--denim);
  height: 1px;
  left: 0px;
  position: absolute;
  top: 40px;
  width: 1420px;
}
.shared-dot-pattern {
  height: 602px;
  left: 7px;
  position: absolute;
  top: 921px;
  width: 290px;
}
.shared-dot-pattern-1 {
  height: 665px;
  left: 1213px;
  position: absolute;
  top: 173px;
  width: 288px;
}
.software3 {
  letter-spacing: 0.00px;
  line-height: 24px;
  margin-top: 16px;
  min-height: 24px;
  white-space: nowrap;
}
.solutions-12 {
  align-items: flex-start;
  display: flex;
  height: 144px;
  margin-top: 16px;
  min-width: 143px;
}
.solutions4 {
  letter-spacing: 0.70px;
  line-height: 20px;
  min-height: 20px;
  white-space: nowrap;
}
.stay-in-the-loop {
  color: var(--mirage);
  font-family: 'Roboto', Helvetica;
  font-size: 30px;
  letter-spacing: 0.75px;
  line-height: 36px;
  min-height: 36px;
  white-space: nowrap;
}
.support-13 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  left: 0px;
  min-height: 220px;
  padding: 36px 0.3px;
  position: absolute;
  top: 0px;
  width: 201px;
}
.support-22 {
  left: 0px;
  letter-spacing: 0.70px;
  line-height: 20px;
  position: absolute;
  top: 0px;
  white-space: nowrap;
  width: 133px;
}
.support4 {
  letter-spacing: 0.00px;
  line-height: 20px;
  min-height: 20px;
  white-space: nowrap;
  width: 72px;
}
.surface-book-1500 {
  align-items: flex-start;
  background-color: var(--mine-shaft);
  display: flex;
  flex-direction: column;
  height: 4092px;
  overflow: hidden;
  width: 1500px;
}
.text-101 {
  letter-spacing: 0.00px;
  line-height: 24px;
  margin-bottom: -23px;
  min-height: 24px;
  white-space: nowrap;
  width: 219px;
}
.text-104 {
  color: rgba(60,110,212,1.0);
  font-family: 'Roboto', Helvetica;
  font-size: 18px;
  letter-spacing: 0.00px;
  line-height: 28px;
  margin-bottom: -15px;
  min-height: 96px;
  width: 686px;
}
.text-105 {
  color: rgba(60,110,212,1.0);
  font-family: 'Roboto', Helvetica;
  font-size: 18px;
  letter-spacing: 0.00px;
  line-height: 28px;
  margin-bottom: -3px;
  min-height: 112px;
  width: 686px;
}
.text-110 {
  color: rgba(60,110,212,1.0);
  font-family: 'Roboto', Helvetica;
  font-size: 20px;
  letter-spacing: 0.00px;
  line-height: 28px;
  margin-bottom: -2px;
  min-height: 56px;
  text-align: center;
  width: 883px;
}
.text-111 {
  align-self: center;
  letter-spacing: 0.90px;
  line-height: 40px;
  margin-left: 12.0px;
  min-height: 40px;
  text-align: center;
  white-space: nowrap;
  width: 850px;
}
.text-112 {
  color: rgba(224,224,224,1.0);
  font-family: 'Amita', Helvetica;
  font-size: 36px;
  font-weight: 700;
  height: 53px;
  left: 282px;
  letter-spacing: 0.00px;
  line-height: 24px;
  position: absolute;
  text-align: center;
  top: 22px;
  width: 702px;
}
.text-77 {
  color: rgba(253,245,245,1.0);
  font-family: 'Inter', Helvetica;
  font-size: 12px;
  font-weight: 500;
  left: 76px;
  letter-spacing: 0.00px;
  line-height: 24px;
  position: absolute;
  top: 13px;
  white-space: nowrap;
}
.text-80 {
  letter-spacing: 0.00px;
  line-height: 20px;
  min-height: 39px;
  width: 203px;
}
.text-81 {
  letter-spacing: 0.00px;
  line-height: 20px;
  margin-bottom: -1px;
  min-height: 40px;
  width: 258px;
}
.two-unique-problems {
  color: var(--mirage);
  font-family: 'Roboto', Helvetica;
  font-size: 30px;
  letter-spacing: 0.75px;
  line-height: 36px;
  min-height: 36px;
  white-space: nowrap;
}
.up-to-3 {
  color: rgba(55,65,81,1.0);
  font-family: 'Roboto', Helvetica;
  font-size: 14px;
  letter-spacing: 0.00px;
  line-height: 20px;
  min-height: 20px;
  white-space: nowrap;
}
.vector-1 {
  height: 20px;
  width: 20px;
}
.vector-2 {
  height: 16px;
  width: 20px;
}
.vector-3 {
  height: 20px;
  width: 18px;
}
.vector-4 {
  height: 1px;
  width: 1px;
}
.vector5 {
  height: 18px;
  width: 20px;
}
.video-84375 {
  align-items: flex-end;
  display: flex;
  height: 844px;
  left: 0px;
  overflow: hidden;
  position: absolute;
  top: 0px;
  width: 1500px;
}
.what-is-ewaste3 {
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 24px;
  position: absolute;
  top: 76px;
  white-space: nowrap;
  width: 127px;
}
.where-are-weee3 {
  letter-spacing: 0.00px;
  line-height: 20px;
  min-height: 20px;
  white-space: nowrap;
  width: 209px;
}
.where-we-work3 {
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 24px;
  position: absolute;
  top: 116px;
  width: 146px;
}
.why-is-ewaste3 {
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 24px;
  position: absolute;
  top: 36px;
  white-space: nowrap;
  width: 126px;
}
