/** This file will be overwritten by Plasmic. Don't edit. */
    :root {
      --image-x5H6Yc6WgIox3: url("/twitter-icon.svg");
--image-sViPfLjOBlVPw: url("/github-icon.svg");
--image-QNcGHIvQ0zH7r: url("/facebook-icon.svg");
--image-LXbkqxYeE0PCy: url("/facebook-logo.svg");
--image-X1u1erpJs-c-I: url("/logo.svg");
--image-9KW-gtI49IVaV: url("/sphere.svg");
--image-OwyyGkfswVO63: url("/quote-dashes.svg");
--image-VzNGPO9M8sAca: url("/profilepic.png");
--image-_RIojibJXD45R: url("/tinder-logo.svg");
--image-80xHUczXGKHr6: url("/airbnb-logo.svg");
--image-EYjfgbrG0QygO: url("/hubspot-logo.svg");
--image-i7-dbBPPcayrA: url("/amazon-logo.svg");
--image-I3uUyvCSUrzyO: url("/swap.svg");
--image-RaBLWEiI5y-YQ: url("/slot.svg");
--image-pvZjF2mLwLZEN: url("/cycle.svg");
--image-w5xfvMf8kInGz: url("/hammer.svg");
--image-yPKSxTgnwSaYn: url("/pencil.svg");
--image-bPIoO-FQUMRj0: url("/lightning.svg");
--image-eBeXbmB6lsv0y: url("/task.png");
--image-1rTGMWU2pIJ0T: url("/simple-project.png");
--image-4q69sJ4TT7NS2: url("/hero-image.png");
--image-yV40PkpB-SQrv: url("/right-arrow.svg");
--image-wlmNziuq72yBc: url("/done-24px.svg 2.svg");
--image-tKQwJl5pG: url("/Image.jpeg");
--image-ACRzkIv-XL: url("/Image 2.jpeg");
--image-3FS3Tpd7eR: url("/ewaste_cartoon.png");
--image-t7YBO6HnjF: url("/Logo 2.svg");
--image-57wGom1p3ud: url("/Chevron right.svg");
--image-cotA1AFhJEB: url("/Globe alt.svg");
--image-levw2wPNh7_: url("/Scale.svg");
--image-esLao0IVyYj: url("/Lightning bolt.svg");
--image-kbpRokNj1MS: url("/Annotation.svg");
--image-CB8289oITqR: url("/Mail.svg");
--image-aL7LNK6o7h3: url("/Check.svg");
--image-O-vtwbpHS7L: url("/Minus.svg");
--image-mY-rSgHZU: url("/color_logo_transparent-2.svg.svg");
--image-hbpfneFjwO: url("/Rectangle.svg");
--image-T-0Gc_EUN: url("/color_logo_transparent-2.svg 2.svg");
--image-aHSUmT0zI: url("/image 3");
--image-egnE-Wmxu: url("/vector-creator.png.png");
--image-R2-WwOBD9: url("/image 4");
--image-sHRqwbiY1: url("/square dots.svg.svg");
--image-YoVPJYRT3: url("/square dots.svg 2.svg")
    }