.root {
  display: inline-flex;
  width: auto;
  height: auto;
  position: relative;
}
.bodyComponent {
  box-shadow: inset 0px 0px 0px 1px rgba(0, 0, 0, 1);
  width: 1200px;
  height: 1508px;
  display: block;
  overflow: hidden;
  flex-shrink: 0;
  background: rgba(255, 255, 255, 1);
}
.img {
  position: absolute;
  object-fit: cover;
  width: 1200px;
  height: 1508px;
  display: block;
  top: 0px;
  left: 0%;
}
.frame {
  width: 100%;
  height: 1316px;
  display: block;
  position: absolute;
  top: 96px;
  left: 0%;
}
.rectangle {
  width: 100%;
  height: 1316px;
  display: block;
  position: absolute;
  top: 0px;
  left: 0%;
}
.frame2 {
  width: 94.66%;
  height: 112px;
  display: block;
  position: absolute;
  top: 0px;
  left: 2.66%;
}
.rectangle2 {
  width: 100%;
  height: 112px;
  display: block;
  position: absolute;
  top: 0px;
  left: 0%;
}
.frame3 {
  width: 67.6%;
  height: 56px;
  display: block;
  position: absolute;
  top: 56px;
  left: 16.19%;
}
.rectangle3 {
  width: 100%;
  height: 56px;
  display: block;
  position: absolute;
  top: 0px;
  left: 0%;
}
.box___3UseP {
  display: block;
  font-size: 20px;
  text-align: center;
  text-transform: undefined;
  text-decoration-line: undefined;
  font-family: "Roboto";
  font-weight: 400;
  letter-spacing: 0em;
  line-height: 28px;
  color: rgba(60, 110, 212, 1);
  position: absolute;
  top: 2px;
  left: 4.16%;
  width: 91.79%;
}
.box__nVOhp {
  display: block;
  font-size: 36px;
  text-align: center;
  text-transform: undefined;
  text-decoration-line: undefined;
  font-family: "Roboto";
  font-weight: 400;
  letter-spacing: 0.899px;
  line-height: 40px;
  color: rgba(16, 23, 38, 1);
  position: absolute;
  top: 0px;
  left: 20.51%;
  width: 59.68%;
}
.frame4 {
  width: 404px;
  height: 784px;
  display: block;
  position: absolute;
  top: 848px;
  left: -202px;
  overflow: hidden;
}
.frame5 {
  width: 94.66%;
  height: 592px;
  display: block;
  position: absolute;
  top: 208px;
  left: 2.66%;
}
.rectangle4 {
  width: 100%;
  height: 592px;
  display: block;
  position: absolute;
  top: 0px;
  left: 0%;
}
.frame6 {
  width: 48.59%;
  height: 592px;
  display: block;
  position: absolute;
  top: 0px;
  left: 0%;
}
.rectangle5 {
  width: 100%;
  height: 592px;
  display: block;
  position: absolute;
  top: 0px;
  left: 0%;
}
.frame7 {
  width: 100%;
  height: 112px;
  display: block;
  position: absolute;
  top: 48px;
  left: 0%;
}
.rectangle6 {
  width: 100%;
  height: 112px;
  display: block;
  position: absolute;
  top: 0px;
  left: 0%;
}
.box__w3JCh {
  display: block;
  font-size: 18px;
  text-align: undefined;
  text-transform: undefined;
  text-decoration-line: undefined;
  font-family: "Roboto";
  font-weight: 400;
  letter-spacing: 0em;
  line-height: 28px;
  color: rgba(60, 110, 212, 1);
  position: absolute;
  top: 3px;
  left: 0%;
  width: 99.09%;
}
.frame8 {
  width: 100%;
  height: 36px;
  display: block;
  position: absolute;
  top: 0px;
  left: 0%;
}
.rectangle7 {
  width: 100%;
  height: 36px;
  display: block;
  position: absolute;
  top: 0px;
  left: 0%;
}
.box__i40Ln {
  display: block;
  font-size: 30px;
  text-align: undefined;
  text-transform: undefined;
  text-decoration-line: undefined;
  font-family: "Roboto";
  font-weight: 400;
  letter-spacing: 0.75px;
  line-height: 36px;
  color: rgba(16, 23, 38, 1);
  position: absolute;
  top: 0px;
  left: 0%;
  width: 68.65%;
}
.frame9 {
  width: 100%;
  height: 392px;
  display: block;
  position: absolute;
  top: 200px;
  left: 0%;
}
.rectangle8 {
  width: 100%;
  height: 392px;
  display: block;
  position: absolute;
  top: 0px;
  left: 0%;
}
.frame10 {
  width: 100%;
  height: 104px;
  display: block;
  position: absolute;
  top: 0px;
  left: 0%;
}
.rectangle9 {
  width: 100%;
  height: 104px;
  display: block;
  position: absolute;
  top: 0px;
  left: 0%;
}
.frame11 {
  width: 100%;
  height: 104px;
  display: block;
  position: absolute;
  top: 0px;
  left: 0%;
}
.rectangle10 {
  width: 100%;
  height: 104px;
  display: block;
  position: absolute;
  top: 0px;
  left: 0%;
}
.frame12 {
  width: 8.69%;
  height: 104px;
  display: block;
  position: absolute;
  top: 0px;
  left: 0%;
}
.rectangle11 {
  width: 100%;
  height: 104px;
  display: block;
  position: absolute;
  top: 0px;
  left: 0%;
}
.frame13 {
  width: 100%;
  height: 48px;
  display: block;
  position: absolute;
  top: 0px;
  left: 0%;
}
.rectangle12 {
  width: 100%;
  height: 48px;
  display: block;
  position: absolute;
  top: 0px;
  left: 0%;
  border-radius: 6px;
  background: rgba(98, 102, 240, 1);
}
.frame14 {
  width: 24px;
  height: 24px;
  display: block;
  position: absolute;
  top: 12px;
  left: 12px;
  overflow: hidden;
}
.frame15 {
  width: 88.4%;
  height: 104px;
  display: block;
  position: absolute;
  top: 0px;
  left: 11.59%;
}
.rectangle13 {
  width: 100%;
  height: 104px;
  display: block;
  position: absolute;
  top: 0px;
  left: 0%;
}
.frame16 {
  width: 100%;
  height: 24px;
  display: block;
  position: absolute;
  top: 0px;
  left: 0%;
}
.rectangle14 {
  width: 100%;
  height: 24px;
  display: block;
  position: absolute;
  top: 0px;
  left: 0%;
}
.box__t8AqD {
  display: block;
  font-size: 18px;
  text-align: undefined;
  text-transform: undefined;
  text-decoration-line: undefined;
  font-family: "Roboto";
  font-weight: 400;
  letter-spacing: 0em;
  line-height: 24px;
  color: rgba(16, 23, 38, 1);
  position: absolute;
  top: 0px;
  left: 0%;
  width: 49.79%;
}
.frame17 {
  width: 100%;
  height: 72px;
  display: block;
  position: absolute;
  top: 32px;
  left: 0%;
}
.rectangle15 {
  width: 100%;
  height: 72px;
  display: block;
  position: absolute;
  top: 0px;
  left: 0%;
}
.box__pWk4M {
  display: block;
  font-size: 16px;
  text-align: undefined;
  text-transform: undefined;
  text-decoration-line: undefined;
  font-family: "Roboto";
  font-weight: 400;
  letter-spacing: 0em;
  line-height: 24px;
  color: rgba(60, 110, 212, 1);
  position: absolute;
  top: 2px;
  left: 0%;
  width: 96.92%;
}
.frame18 {
  width: 100%;
  height: 104px;
  display: block;
  position: absolute;
  top: 144px;
  left: 0%;
}
.rectangle16 {
  width: 100%;
  height: 104px;
  display: block;
  position: absolute;
  top: 0px;
  left: 0%;
}
.frame19 {
  width: 100%;
  height: 104px;
  display: block;
  position: absolute;
  top: 0px;
  left: 0%;
}
.rectangle17 {
  width: 100%;
  height: 104px;
  display: block;
  position: absolute;
  top: 0px;
  left: 0%;
}
.frame20 {
  width: 8.69%;
  height: 104px;
  display: block;
  position: absolute;
  top: 0px;
  left: 0%;
}
.rectangle18 {
  width: 100%;
  height: 104px;
  display: block;
  position: absolute;
  top: 0px;
  left: 0%;
}
.frame21 {
  width: 100%;
  height: 48px;
  display: block;
  position: absolute;
  top: 0px;
  left: 0%;
}
.rectangle19 {
  width: 100%;
  height: 48px;
  display: block;
  position: absolute;
  top: 0px;
  left: 0%;
  border-radius: 6px;
  background: rgba(98, 102, 240, 1);
}
.frame22 {
  width: 24px;
  height: 24px;
  display: block;
  position: absolute;
  top: 12px;
  left: 12px;
  overflow: hidden;
}
.frame23 {
  width: 88.4%;
  height: 104px;
  display: block;
  position: absolute;
  top: 0px;
  left: 11.59%;
}
.rectangle20 {
  width: 100%;
  height: 104px;
  display: block;
  position: absolute;
  top: 0px;
  left: 0%;
}
.frame24 {
  width: 100%;
  height: 24px;
  display: block;
  position: absolute;
  top: 0px;
  left: 0%;
}
.rectangle21 {
  width: 100%;
  height: 24px;
  display: block;
  position: absolute;
  top: 0px;
  left: 0%;
}
.box__icX9K {
  display: block;
  font-size: 18px;
  text-align: undefined;
  text-transform: undefined;
  text-decoration-line: undefined;
  font-family: "Roboto";
  font-weight: 400;
  letter-spacing: 0em;
  line-height: 24px;
  color: rgba(16, 23, 38, 1);
  position: absolute;
  top: 0px;
  left: 0%;
  width: 26.63%;
}
.frame25 {
  width: 100%;
  height: 72px;
  display: block;
  position: absolute;
  top: 32px;
  left: 0%;
}
.rectangle22 {
  width: 100%;
  height: 72px;
  display: block;
  position: absolute;
  top: 0px;
  left: 0%;
}
.box__dXch3 {
  display: block;
  font-size: 16px;
  text-align: undefined;
  text-transform: undefined;
  text-decoration-line: undefined;
  font-family: "Roboto";
  font-weight: 400;
  letter-spacing: 0em;
  line-height: 24px;
  color: rgba(60, 110, 212, 1);
  position: absolute;
  top: 2px;
  left: 0%;
  width: 96.92%;
}
.frame26 {
  width: 100%;
  height: 104px;
  display: block;
  position: absolute;
  top: 288px;
  left: 0%;
}
.rectangle23 {
  width: 100%;
  height: 104px;
  display: block;
  position: absolute;
  top: 0px;
  left: 0%;
}
.frame27 {
  width: 100%;
  height: 104px;
  display: block;
  position: absolute;
  top: 0px;
  left: 0%;
}
.rectangle24 {
  width: 100%;
  height: 104px;
  display: block;
  position: absolute;
  top: 0px;
  left: 0%;
}
.frame28 {
  width: 8.69%;
  height: 104px;
  display: block;
  position: absolute;
  top: 0px;
  left: 0%;
}
.rectangle25 {
  width: 100%;
  height: 104px;
  display: block;
  position: absolute;
  top: 0px;
  left: 0%;
}
.frame29 {
  width: 100%;
  height: 48px;
  display: block;
  position: absolute;
  top: 0px;
  left: 0%;
}
.rectangle26 {
  width: 100%;
  height: 48px;
  display: block;
  position: absolute;
  top: 0px;
  left: 0%;
  border-radius: 6px;
  background: rgba(98, 102, 240, 1);
}
.frame30 {
  width: 24px;
  height: 24px;
  display: block;
  position: absolute;
  top: 12px;
  left: 12px;
  overflow: hidden;
}
.frame31 {
  width: 88.4%;
  height: 104px;
  display: block;
  position: absolute;
  top: 0px;
  left: 11.59%;
}
.rectangle27 {
  width: 100%;
  height: 104px;
  display: block;
  position: absolute;
  top: 0px;
  left: 0%;
}
.frame32 {
  width: 100%;
  height: 24px;
  display: block;
  position: absolute;
  top: 0px;
  left: 0%;
}
.rectangle28 {
  width: 100%;
  height: 24px;
  display: block;
  position: absolute;
  top: 0px;
  left: 0%;
}
.box___5RvTo {
  display: block;
  font-size: 18px;
  text-align: undefined;
  text-transform: undefined;
  text-decoration-line: undefined;
  font-family: "Roboto";
  font-weight: 400;
  letter-spacing: 0em;
  line-height: 24px;
  color: rgba(16, 23, 38, 1);
  position: absolute;
  top: 0px;
  left: 0%;
  width: 36.68%;
}
.frame33 {
  width: 100%;
  height: 72px;
  display: block;
  position: absolute;
  top: 32px;
  left: 0%;
}
.rectangle29 {
  width: 100%;
  height: 72px;
  display: block;
  position: absolute;
  top: 0px;
  left: 0%;
}
.box__zVeRq {
  display: block;
  font-size: 16px;
  text-align: undefined;
  text-transform: undefined;
  text-decoration-line: undefined;
  font-family: "Roboto";
  font-weight: 400;
  letter-spacing: 0em;
  line-height: 24px;
  color: rgba(60, 110, 212, 1);
  position: absolute;
  top: 2px;
  left: 0%;
  width: 96.92%;
}
.frame34 {
  width: 51.4%;
  height: 570px;
  display: block;
  position: absolute;
  top: 11px;
  left: 50%;
}
.rectangle30 {
  width: 100%;
  height: 570px;
  display: block;
  position: absolute;
  top: 0px;
  left: 0%;
}
.rectangle31 {
  width: 83.9%;
  height: 570px;
  display: block;
  position: absolute;
  top: 0px;
  left: 8.04%;
  background: url("./images/rectangle3.null") center center / cover no-repeat
    padding-box border-box scroll;
}
.frame35 {
  width: 94.66%;
  height: 420px;
  display: block;
  position: absolute;
  top: 896px;
  left: 2.66%;
}
.rectangle32 {
  width: 100%;
  height: 420px;
  display: block;
  position: absolute;
  top: 0px;
  left: 0%;
}
.frame36 {
  width: 100%;
  height: 420px;
  display: block;
  position: absolute;
  top: 0px;
  left: 0%;
}
.rectangle33 {
  width: 100%;
  height: 420px;
  display: block;
  position: absolute;
  top: 0px;
  left: 0%;
}
.frame37 {
  width: 48.59%;
  height: 420px;
  display: block;
  position: absolute;
  top: 0px;
  left: 51.4%;
}
.rectangle34 {
  width: 100%;
  height: 420px;
  display: block;
  position: absolute;
  top: 0px;
  left: 0%;
}
.frame38 {
  width: 100%;
  height: 36px;
  display: block;
  position: absolute;
  top: 0px;
  left: 0%;
}
.rectangle35 {
  width: 100%;
  height: 36px;
  display: block;
  position: absolute;
  top: 0px;
  left: 0%;
}
.box__wCbSk {
  display: block;
  font-size: 30px;
  text-align: undefined;
  text-transform: undefined;
  text-decoration-line: undefined;
  font-family: "Roboto";
  font-weight: 400;
  letter-spacing: 0.75px;
  line-height: 36px;
  color: rgba(16, 23, 38, 1);
  position: absolute;
  top: 0px;
  left: 0%;
  width: 46.92%;
}
.frame39 {
  width: 100%;
  height: 248px;
  display: block;
  position: absolute;
  top: 172px;
  left: 0%;
}
.rectangle36 {
  width: 100%;
  height: 248px;
  display: block;
  position: absolute;
  top: 0px;
  left: 0%;
}
.frame40 {
  width: 100%;
  height: 104px;
  display: block;
  position: absolute;
  top: 0px;
  left: 0%;
}
.rectangle37 {
  width: 100%;
  height: 104px;
  display: block;
  position: absolute;
  top: 0px;
  left: 0%;
}
.frame41 {
  width: 100%;
  height: 104px;
  display: block;
  position: absolute;
  top: 0px;
  left: 0%;
}
.rectangle38 {
  width: 100%;
  height: 104px;
  display: block;
  position: absolute;
  top: 0px;
  left: 0%;
}
.frame42 {
  width: 88.4%;
  height: 104px;
  display: block;
  position: absolute;
  top: 0px;
  left: 11.59%;
}
.rectangle39 {
  width: 100%;
  height: 104px;
  display: block;
  position: absolute;
  top: 0px;
  left: 0%;
}
.frame43 {
  width: 100%;
  height: 72px;
  display: block;
  position: absolute;
  top: 32px;
  left: 0%;
}
.rectangle40 {
  width: 100%;
  height: 72px;
  display: block;
  position: absolute;
  top: 0px;
  left: 0%;
}
.box__nJhAq {
  display: block;
  font-size: 16px;
  text-align: undefined;
  text-transform: undefined;
  text-decoration-line: undefined;
  font-family: "Roboto";
  font-weight: 400;
  letter-spacing: 0em;
  line-height: 24px;
  color: rgba(60, 110, 212, 1);
  position: absolute;
  top: 2px;
  left: 0%;
  width: 96.92%;
}
.frame44 {
  width: 100%;
  height: 24px;
  display: block;
  position: absolute;
  top: 0px;
  left: 0%;
}
.rectangle41 {
  width: 100%;
  height: 24px;
  display: block;
  position: absolute;
  top: 0px;
  left: 0%;
}
.box___9HafF {
  display: block;
  font-size: 18px;
  text-align: undefined;
  text-transform: undefined;
  text-decoration-line: undefined;
  font-family: "Roboto";
  font-weight: 400;
  letter-spacing: 0em;
  line-height: 24px;
  color: rgba(16, 23, 38, 1);
  position: absolute;
  top: 0px;
  left: 0%;
  width: 34.01%;
}
.frame45 {
  width: 8.69%;
  height: 104px;
  display: block;
  position: absolute;
  top: 0px;
  left: 0%;
}
.rectangle42 {
  width: 100%;
  height: 104px;
  display: block;
  position: absolute;
  top: 0px;
  left: 0%;
}
.frame46 {
  width: 100%;
  height: 48px;
  display: block;
  position: absolute;
  top: 0px;
  left: 0%;
}
.rectangle43 {
  width: 100%;
  height: 48px;
  display: block;
  position: absolute;
  top: 0px;
  left: 0%;
  border-radius: 6px;
  background: rgba(98, 102, 240, 1);
}
.frame47 {
  width: 24px;
  height: 24px;
  display: block;
  position: absolute;
  top: 12px;
  left: 12px;
  overflow: hidden;
}
.frame48 {
  width: 100%;
  height: 104px;
  display: block;
  position: absolute;
  top: 144px;
  left: 0%;
}
.rectangle44 {
  width: 100%;
  height: 104px;
  display: block;
  position: absolute;
  top: 0px;
  left: 0%;
}
.frame49 {
  width: 100%;
  height: 104px;
  display: block;
  position: absolute;
  top: 0px;
  left: 0%;
}
.rectangle45 {
  width: 100%;
  height: 104px;
  display: block;
  position: absolute;
  top: 0px;
  left: 0%;
}
.frame50 {
  width: 88.4%;
  height: 104px;
  display: block;
  position: absolute;
  top: 0px;
  left: 11.59%;
}
.rectangle46 {
  width: 100%;
  height: 104px;
  display: block;
  position: absolute;
  top: 0px;
  left: 0%;
}
.frame51 {
  width: 100%;
  height: 72px;
  display: block;
  position: absolute;
  top: 32px;
  left: 0%;
}
.rectangle47 {
  width: 100%;
  height: 72px;
  display: block;
  position: absolute;
  top: 0px;
  left: 0%;
}
.box__xNYe {
  display: block;
  font-size: 16px;
  text-align: undefined;
  text-transform: undefined;
  text-decoration-line: undefined;
  font-family: "Roboto";
  font-weight: 400;
  letter-spacing: 0em;
  line-height: 24px;
  color: rgba(60, 110, 212, 1);
  position: absolute;
  top: 2px;
  left: 0%;
  width: 96.92%;
}
.frame52 {
  width: 100%;
  height: 24px;
  display: block;
  position: absolute;
  top: 0px;
  left: 0%;
}
.rectangle48 {
  width: 100%;
  height: 24px;
  display: block;
  position: absolute;
  top: 0px;
  left: 0%;
}
.box__i3Vqq {
  display: block;
  font-size: 18px;
  text-align: undefined;
  text-transform: undefined;
  text-decoration-line: undefined;
  font-family: "Roboto";
  font-weight: 400;
  letter-spacing: 0em;
  line-height: 24px;
  color: rgba(16, 23, 38, 1);
  position: absolute;
  top: 0px;
  left: 0%;
  width: 28.89%;
}
.frame53 {
  width: 8.69%;
  height: 104px;
  display: block;
  position: absolute;
  top: 0px;
  left: 0%;
}
.rectangle49 {
  width: 100%;
  height: 104px;
  display: block;
  position: absolute;
  top: 0px;
  left: 0%;
}
.frame54 {
  width: 100%;
  height: 48px;
  display: block;
  position: absolute;
  top: 0px;
  left: 0%;
}
.rectangle50 {
  width: 100%;
  height: 48px;
  display: block;
  position: absolute;
  top: 0px;
  left: 0%;
  border-radius: 6px;
  background: rgba(98, 102, 240, 1);
}
.frame55 {
  width: 24px;
  height: 24px;
  display: block;
  position: absolute;
  top: 12px;
  left: 12px;
  overflow: hidden;
}
.frame56 {
  width: 100%;
  height: 84px;
  display: block;
  position: absolute;
  top: 48px;
  left: 0%;
}
.rectangle51 {
  width: 100%;
  height: 84px;
  display: block;
  position: absolute;
  top: 0px;
  left: 0%;
}
.box__gDr6B {
  display: block;
  font-size: 18px;
  text-align: undefined;
  text-transform: undefined;
  text-decoration-line: undefined;
  font-family: "Roboto";
  font-weight: 400;
  letter-spacing: 0em;
  line-height: 28px;
  color: rgba(60, 110, 212, 1);
  position: absolute;
  top: 3px;
  left: 0%;
  width: 99.09%;
  height: 96px;
}
.frame57 {
  width: 51.4%;
  height: 374px;
  display: block;
  position: absolute;
  top: 23px;
  left: -1.41%;
}
.rectangle52 {
  width: 100%;
  height: 374px;
  display: block;
  position: absolute;
  top: 0px;
  left: 0%;
}
.rectangle53 {
  width: 83.9%;
  height: 374px;
  display: block;
  position: absolute;
  top: 0px;
  left: 8.04%;
  background: url("./images/rectangle4.png") center center / cover no-repeat
    padding-box border-box scroll;
}
.frame58 {
  width: 404px;
  height: 784px;
  display: block;
  position: absolute;
  top: -196px;
  left: 998px;
  overflow: hidden;
}
.frame59 {
  width: 94.66%;
  height: 40px;
  display: block;
  position: absolute;
  top: 76px;
  left: 2.66%;
}
.rectangle54 {
  width: 100%;
  height: 40px;
  display: block;
  position: absolute;
  top: 0px;
  left: 0%;
}
